<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gbxxgl.mapper.TsbzGbcrjqkMapper">
    
    <resultMap type="TsbzGbcrjqk" id="TsbzGbcrjqkResult">
        <result property="id"    column="id"    />
        <result property="gbid"    column="gbid"    />
        <result property="qsrq"    column="qsrq"    />
        <result property="zzrq"    column="zzrq"    />
        <result property="xz"    column="xz"    />
        <result property="mdd"    column="mdd"    />
        <result property="sy"    column="sy"    />
        <result property="isdel"    column="isdel"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="dqzt" column="dqzt"/>
        <association property="tsbzGbjbqk" column="gbid" javaType="TsbzGbjbqk" resultMap="TsbzGbjbqkResult"/>
    </resultMap>

    <resultMap type="TsbzGbjbqk" id="TsbzGbjbqkResult">
        <result property="id" column="id"/>
        <result property="otherid" column="otherid"/>
        <result property="name" column="name"/>
        <result property="xb" column="xb"/>
        <result property="deptId" column="dept_id"/>
        <result property="dwmc" column="dwmc"/>
        <result property="dwjc" column="dwjc"/>
        <result property="xrxzzw" column="xrxzzw"/>
        <result property="xrdnzw" column="xrdnzw"/>
        <result property="xrqtzw" column="xrqtzw"/>
        <result property="rxzwny" column="rxzwny"/>
        <result property="xrxzzj" column="xrxzzj"/>
        <result property="xzzjqdny" column="xzzjqdny"/>
        <result property="sfhbgb" column="sfhbgb"/>
        <result property="hbgbqdny" column="hbgbqdny"/>
        <result property="sfzh" column="sfzh"/>
        <result property="updatetime" column="updatetime"/>
        <result property="mz" column="mz"/>
        <result property="jg" column="jg"/>
        <result property="jgProvince" column="jg_province"/>
        <result property="jgCityname" column="jg_cityname"/>
        <result property="jgCity" column="jg_city"/>
        <result property="jgAreaname" column="jg_areaname"/>
        <result property="jgArea" column="jg_area"/>
        <result property="csdProvince" column="csd_province"/>
        <result property="csdCityname" column="csd_cityname"/>
        <result property="csdCity" column="csd_city"/>
        <result property="csdAreaname" column="csd_areaname"/>
        <result property="csdArea" column="csd_area"/>
        <result property="csd" column="csd"/>
        <result property="csrq" column="csrq"/>
        <result property="cjgzny" column="cjgzny"/>
        <result property="jtzz" column="jtzz"/>
        <result property="dwdz" column="dwdz"/>
        <result property="xl" column="xl"/>
        <result property="xw" column="xw"/>
        <result property="byyx" column="byyx"/>
        <result property="jylx" column="jylx"/>
        <result property="zc" column="zc"/>
        <result property="jzcyqk" column="jzcyqk"/>
        <result property="nfkc" column="nfkc"/>
        <result property="hyzk" column="hyzk"/>
        <result property="zzmm" column="zzmm"/>
        <result property="rdsj" column="rdsj"/>
        <result property="bgsdh" column="bgsdh"/>
        <result property="phone" column="phone"/>
        <result property="rjxk" column="rjxk"/>
        <result property="jkzk" column="jkzk"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="dqzt" column="dqzt"/>
        <result property="txTime" column="tx_time"/>
    </resultMap>

    <sql id="selectTsbzGbcrjqkVo">
        select a.id, a.gbid, a.qsrq, a.zzrq, a.xz, a.mdd, a.sy, a.create_user, a.create_time,b.name,b.dept_id from tsbz_gbcrjqk a
        left join tsbz_gbjbqk b on a.gbid=b.id
    </sql>

    <select id="selectTsbzGbcrjqkList" parameterType="TsbzGbcrjqk" resultMap="TsbzGbcrjqkResult">
        <include refid="selectTsbzGbcrjqkVo"/>
        <where>
            a.isdel = 0
<!--            <if test="dqzt != null  and dqzt != ''"> and b.dqzt = #{dqzt}</if>-->
            <if test="gbid != null "> and a.gbid = #{gbid}</if>
            <if test="qsrq != null "> and a.qsrq = #{qsrq}</if>
            <if test="zzrq != null "> and a.zzrq = #{zzrq}</if>
            <if test="xz != null  and xz != ''"> and a.xz = #{xz}</if>
            <if test="mdd != null  and mdd != ''"> and a.mdd = #{mdd}</if>
            <if test="sy != null  and sy != ''"> and a.sy = #{sy}</if>
            <if test="createUser != null "> and a.create_user = #{createUser}</if>
        </where>
    </select>
    
    <select id="selectTsbzGbcrjqkById" parameterType="Long" resultMap="TsbzGbcrjqkResult">
        <include refid="selectTsbzGbcrjqkVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertTsbzGbcrjqk" parameterType="TsbzGbcrjqk" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_gbcrjqk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gbid != null">gbid,</if>
            <if test="qsrq != null">qsrq,</if>
            <if test="zzrq != null">zzrq,</if>
            <if test="xz != null">xz,</if>
            <if test="mdd != null">mdd,</if>
            <if test="sy != null">sy,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gbid != null">#{gbid},</if>
            <if test="qsrq != null">#{qsrq},</if>
            <if test="zzrq != null">#{zzrq},</if>
            <if test="xz != null">#{xz},</if>
            <if test="mdd != null">#{mdd},</if>
            <if test="sy != null">#{sy},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTsbzGbcrjqk" parameterType="TsbzGbcrjqk">
        update tsbz_gbcrjqk
        <trim prefix="SET" suffixOverrides=",">
            <if test="gbid != null">gbid = #{gbid},</if>
            <if test="qsrq != null">qsrq = #{qsrq},</if>
            <if test="zzrq != null">zzrq = #{zzrq},</if>
            <if test="xz != null">xz = #{xz},</if>
            <if test="mdd != null">mdd = #{mdd},</if>
            <if test="sy != null">sy = #{sy},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isdel != null">isdel = #{isdel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzGbcrjqkById" parameterType="Long">
        delete from tsbz_gbcrjqk where id = #{id}
    </delete>

    <delete id="deleteTsbzGbcrjqkByIds" parameterType="String">
        delete from tsbz_gbcrjqk where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>