<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jxjs.mapper.TsbzJxzxmdMapper">
    
    <resultMap type="TsbzJxzxmd" id="TsbzJxzxmdResult">
        <result property="id"    column="id"    />
        <result property="jsid"    column="jsid"    />
        <result property="nf"    column="nf"    />
        <result property="createuserid"    column="createuserid"    />
        <result property="createTime"    column="create_time"    />
        <result property="pxfaid"    column="pxfaid"    />
        <result property="bfb"    column="bfb"    />
        <result property="faid"    column="faid"    />
        <association property="tsbzJxjsjbxx" column="jsid" javaType="TsbzJxjsjbxx" resultMap="TsbzJxjsjbxxResult"/>
    </resultMap>

    <resultMap type="TsbzJxjsjbxx" id="TsbzJxjsjbxxResult">
        <result property="id" column="id"/>
        <result property="otherid" column="otherid"/>
        <result property="name" column="name"/>
        <result property="jxbh" column="jxbh"/>
        <result property="xb" column="xb"/>
        <result property="csrq" column="csrq"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="yzbm" column="yzbm"/>
        <result property="zzmm" column="zzmm"/>
        <result property="mz" column="mz"/>
        <result property="prdwid" column="prdwid"/>
        <result property="prdwmc" column="prdwmc"/>
        <result property="jdxid" column="jdxid"/>
        <result property="rjxd" column="rjxd"/>
        <result property="rjxk" column="rjxk"/>
        <result property="rjnj" column="rjnj"/>
        <result property="byyx" column="byyx"/>
        <result property="xl" column="xl"/>
        <result property="xw" column="xw"/>
        <result property="sfsfs" column="sfsfs"/>
        <result property="lqnf" column="lqnf"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTsbzJxzxmdVo">
        select id, jsid, nf, createuserid, create_time, pxfaid from tsbz_jxzxmd
    </sql>

    <select id="selectTsbzJxzxmdList" parameterType="TsbzJxzxmd" resultMap="TsbzJxzxmdResult">
        <include refid="selectTsbzJxzxmdVo"/>
        <where>  
            <if test="jsid != null "> and jsid = #{jsid}</if>
            <if test="nf != null  and nf != ''"> and nf = #{nf}</if>
            <if test="createuserid != null "> and createuserid = #{createuserid}</if>
            <if test="pxfaid != null "> and pxfaid = #{pxfaid}</if>
        </where>
    </select>
    
    <select id="selectTsbzJxzxmdById" parameterType="Long" resultMap="TsbzJxzxmdResult">
        <include refid="selectTsbzJxzxmdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTsbzJxzxmd" parameterType="TsbzJxzxmd" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_jxzxmd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jsid != null">jsid,</if>
            <if test="nf != null">nf,</if>
            <if test="createuserid != null">createuserid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="pxfaid != null">pxfaid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jsid != null">#{jsid},</if>
            <if test="nf != null">#{nf},</if>
            <if test="createuserid != null">#{createuserid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="pxfaid != null">#{pxfaid},</if>
         </trim>
    </insert>

    <update id="updateTsbzJxzxmd" parameterType="TsbzJxzxmd">
        update tsbz_jxzxmd
        <trim prefix="SET" suffixOverrides=",">
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="nf != null">nf = #{nf},</if>
            <if test="createuserid != null">createuserid = #{createuserid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="pxfaid != null">pxfaid = #{pxfaid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzJxzxmdById" parameterType="Long">
        delete from tsbz_jxzxmd where id = #{id}
    </delete>

    <delete id="deleteTsbzJxzxmdByIds" parameterType="String">
        delete from tsbz_jxzxmd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTsbzJxzxmdKhjdList" parameterType="TsbzJxzxmd" resultMap="TsbzJxzxmdResult">
        select b.id, b.otherid, b.name, b.jxbh, b.xb, b.csrq, b.email, b.phone, b.yzbm, b.zzmm, b.mz, b.prdwid, b.prdwmc, b.jdxid, b.rjxd, b.rjxk, b.rjnj, b.byyx, b.xl, b.xw, b.sfsfs, b.lqnf, b.create_time,
        (select count(*)from tsbz_jxzxkhgcsj where faid=#{faid} and createuserid=a.jsid)/(select count(*) from tsbz_jxzxkhzbx where faid=#{faid}) bfb from tsbz_jxzxmd a
        left join tsbz_jxjsjbxx b on a.jsid=b.id
        where a.nf=#{nf}
        <if test="name != null  and name != ''">and b.name like concat('%', #{name}, '%')</if>
        <if test="prdwid != null  and prdwid != ''">and b.prdwid = #{prdwid}</if>
        <if test="prdwmc != null  and prdwmc != ''">and b.prdwmc = #{prdwmc}</if>
        <if test="jdxid != null  and jdxid != ''">and b.jdxid = #{jdxid}</if>
    </select>
    
</mapper>