<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BladeVisualConfigMapper">
    
    <resultMap type="BladeVisualConfig" id="BladeVisualConfigResult">
        <result property="id"    column="id"    />
        <result property="visualId"    column="visual_id"    />
        <result property="detail"    column="detail"    />
        <result property="component"    column="component"    />
    </resultMap>

    <sql id="selectBladeVisualConfigVo">
        select id, visual_id, detail, component from blade_visual_config
    </sql>

    <select id="selectBladeVisualConfigList" parameterType="BladeVisualConfig" resultMap="BladeVisualConfigResult">
        <include refid="selectBladeVisualConfigVo"/>
        <where>  
            <if test="visualId != null "> and visual_id = #{visualId}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="component != null  and component != ''"> and component = #{component}</if>
        </where>
    </select>
    
    <select id="selectBladeVisualConfigById" parameterType="Long" resultMap="BladeVisualConfigResult">
        <include refid="selectBladeVisualConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBladeVisualConfig" parameterType="BladeVisualConfig">
        insert into blade_visual_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="visualId != null">visual_id,</if>
            <if test="detail != null">detail,</if>
            <if test="component != null">component,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="visualId != null">#{visualId},</if>
            <if test="detail != null">#{detail},</if>
            <if test="component != null">#{component},</if>
         </trim>
    </insert>

    <update id="updateBladeVisualConfig" parameterType="BladeVisualConfig">
        update blade_visual_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="visualId != null">visual_id = #{visualId},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="component != null">component = #{component},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBladeVisualConfigById" parameterType="Long">
        delete from blade_visual_config where id = #{id}
    </delete>

    <delete id="deleteBladeVisualConfigByIds" parameterType="String">
        delete from blade_visual_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>