<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BladeVisualMapper">

    <resultMap type="BladeVisual" id="BladeVisualResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="backgroundUrl"    column="background_url"    />
        <result property="category"    column="category"    />
        <result property="password"    column="password"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="isdeleted"    column="isDeleted"    />
    </resultMap>

    <sql id="selectBladeVisualVo">
        select id, title, background_url, category, password, create_dept, create_by, create_time, update_by, update_time, status, isDeleted from blade_visual
    </sql>

    <select id="selectBladeVisualList" parameterType="BladeVisual" resultMap="BladeVisualResult">
        <include refid="selectBladeVisualVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="backgroundUrl != null  and backgroundUrl != ''"> and background_url = #{backgroundUrl}</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="createDept != null "> and create_dept = #{createDept}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isdeleted != null "> and isDeleted = #{isdeleted}</if>
        </where>
    </select>

    <select id="selectBladeVisualById" parameterType="Long" resultMap="BladeVisualResult">
        <include refid="selectBladeVisualVo"/>
        where id = #{id}
    </select>

    <select id="selectVisualByCategory" parameterType="Long" resultMap="BladeVisualResult">
        <include refid="selectBladeVisualVo"/>
        where category = #{category}
    </select>
    <select id="getIdNames" resultType="com.ruoyi.system.domain.vo.IdNameVo">
        select id,title from blade_visual;
    </select>

    <insert id="insertBladeVisual" parameterType="BladeVisual">
        insert into blade_visual
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="backgroundUrl != null">background_url,</if>
            <if test="category != null">category,</if>
            <if test="password != null">password,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="isdeleted != null">isDeleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="backgroundUrl != null">#{backgroundUrl},</if>
            <if test="category != null">#{category},</if>
            <if test="password != null">#{password},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="isdeleted != null">#{isdeleted},</if>
         </trim>
    </insert>

    <update id="updateBladeVisual" parameterType="BladeVisual">
        update blade_visual
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="backgroundUrl != null">background_url = #{backgroundUrl},</if>
            <if test="category != null">category = #{category},</if>
            <if test="password != null">password = #{password},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isdeleted != null">isDeleted = #{isdeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBladeVisualById" parameterType="Long">
        delete from blade_visual where id = #{id}
    </delete>

    <delete id="deleteBladeVisualByIds" parameterType="String">
        delete from blade_visual where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
