<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DataCompanyLoanOracleMapper">
    
    <resultMap type="DataCompanyLoan" id="DataCompanyLoanResult">
        <result property="companyId"    column="company_id"    />
        <result property="mztUserId"    column="mzt_user_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyCreditCode"    column="company_credit_code"    />
        <result property="companyType"    column="company_type"    />
        <result property="companyIndustry"    column="company_industry"    />
        <result property="companyBusiness"    column="company_business"    />
        <result property="loanBand"    column="loan_band"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="loanFirst"    column="loan_first"    />
        <result property="loanPurpose"    column="loan_purpose"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDataCompanyLoanVo">
        select company_id, mzt_user_id, company_name, company_credit_code, company_type, company_industry, company_business, loan_band, loan_amount, loan_first, loan_purpose, remark, contact_name, contact_phone, create_time, update_time from data_company_loan
    </sql>

    <select id="selectDataCompanyLoanList" parameterType="DataCompanyLoan" resultMap="DataCompanyLoanResult">
        <include refid="selectDataCompanyLoanVo"/>
        <where>  
            <if test="mztUserId != null  and mztUserId != ''"> and mzt_user_id = #{mztUserId}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="companyCreditCode != null  and companyCreditCode != ''"> and company_credit_code = #{companyCreditCode}</if>
            <if test="companyType != null  and companyType != ''"> and company_type = #{companyType}</if>
            <if test="companyIndustry != null  and companyIndustry != ''"> and company_industry = #{companyIndustry}</if>
            <if test="companyBusiness != null  and companyBusiness != ''"> and company_business = #{companyBusiness}</if>
            <if test="loanBand != null  and loanBand != ''"> and loan_band = #{loanBand}</if>
            <if test="loanAmount != null "> and loan_amount = #{loanAmount}</if>
            <if test="loanFirst != null  and loanFirst != ''"> and loan_first = #{loanFirst}</if>
            <if test="loanPurpose != null  and loanPurpose != ''"> and loan_purpose = #{loanPurpose}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
        </where>
    </select>
</mapper>