<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PasswordConfigMapper">
    
    <resultMap type="com.ruoyi.system.domain.PasswordConfig" id="PasswordConfigResult">
        <result property="id"    column="id"    />
        <result property="maxFailedLoginAttempts"    column="max_failed"    />
        <result property="userLockPeriod"    column="userlock_period"    />
        <result property="passwordExpirationPeriodDays"    column="expiration_period"    />
        <result property="userLockoutNotificationEmail"    column="notification_email"    />
        <result property="minimumLength"    column="min_length"    />
        <result property="maximumLength"    column="max_length"    />
        <result property="minimumUppercaseLetters"    column="min_upper"    />
        <result property="minimumLowercaseLetters"    column="min_lower"    />
        <result property="minimumDigits"    column="min_digits"    />
        <result property="minimumSpecialCharacters"    column="min_special"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPasswordConfigVo">
        select id, max_failed, userlock_period, expiration_period, notification_email, min_length, max_length, min_upper, min_lower, min_digits, min_special, create_by, create_time, update_by, update_time from sys_password
    </sql>

    <select id="selectPasswordConfigList" parameterType="PasswordConfig" resultMap="PasswordConfigResult">
        <include refid="selectPasswordConfigVo"/>
        <where>  
            <if test="maxFailedLoginAttempts != null "> and max_failed = #{maxFailedLoginAttempts}</if>
            <if test="userLockPeriod != null "> and userlock_period = #{userLockPeriod}</if>
            <if test="passwordExpirationPeriodDays != null "> and expiration_period = #{passwordExpirationPeriodDays}</if>
            <if test="userLockoutNotificationEmail != null  and userLockoutNotificationEmail != ''"> and notification_email = #{userLockoutNotificationEmail}</if>
            <if test="minimumLength != null "> and min_length = #{minimumLength}</if>
            <if test="maximumLength != null "> and max_length = #{maximumLength}</if>
            <if test="minimumUppercaseLetters != null "> and min_upper = #{minimumUppercaseLetters}</if>
            <if test="minimumLowercaseLetters != null "> and min_lower = #{minimumLowercaseLetters}</if>
            <if test="minimumDigits != null "> and min_digits = #{minimumDigits}</if>
            <if test="minimumSpecialCharacters != null "> and min_special = #{minimumSpecialCharacters}</if>
        </where>
    </select>
    
    <select id="selectPasswordConfigById" parameterType="Long" resultMap="PasswordConfigResult">
        <include refid="selectPasswordConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPasswordConfig" parameterType="PasswordConfig" useGeneratedKeys="true" keyProperty="id">
        insert into sys_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="maxFailedLoginAttempts != null">max_failed,</if>
            <if test="userLockPeriod != null">userlock_period,</if>
            <if test="passwordExpirationPeriodDays != null">expiration_period,</if>
            <if test="userLockoutNotificationEmail != null">notification_email,</if>
            <if test="minimumLength != null">min_length,</if>
            <if test="maximumLength != null">max_length,</if>
            <if test="minimumUppercaseLetters != null">min_upper,</if>
            <if test="minimumLowercaseLetters != null">min_lower,</if>
            <if test="minimumDigits != null">min_digits,</if>
            <if test="minimumSpecialCharacters != null">min_special,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="maxFailedLoginAttempts != null">#{maxFailedLoginAttempts},</if>
            <if test="userLockPeriod != null">#{userLockPeriod},</if>
            <if test="passwordExpirationPeriodDays != null">#{passwordExpirationPeriodDays},</if>
            <if test="userLockoutNotificationEmail != null">#{userLockoutNotificationEmail},</if>
            <if test="minimumLength != null">#{minimumLength},</if>
            <if test="maximumLength != null">#{maximumLength},</if>
            <if test="minimumUppercaseLetters != null">#{minimumUppercaseLetters},</if>
            <if test="minimumLowercaseLetters != null">#{minimumLowercaseLetters},</if>
            <if test="minimumDigits != null">#{minimumDigits},</if>
            <if test="minimumSpecialCharacters != null">#{minimumSpecialCharacters},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePasswordConfig" parameterType="PasswordConfig">
        update sys_password
        <trim prefix="SET" suffixOverrides=",">
            <if test="maxFailedLoginAttempts != null">max_failed = #{maxFailedLoginAttempts},</if>
            <if test="userLockPeriod != null">userlock_period = #{userLockPeriod},</if>
            <if test="passwordExpirationPeriodDays != null">expiration_period = #{passwordExpirationPeriodDays},</if>
            <if test="userLockoutNotificationEmail != null">notification_email = #{userLockoutNotificationEmail},</if>
            <if test="minimumLength != null">min_length = #{minimumLength},</if>
            <if test="maximumLength != null">max_length = #{maximumLength},</if>
            <if test="minimumUppercaseLetters != null">min_upper = #{minimumUppercaseLetters},</if>
            <if test="minimumLowercaseLetters != null">min_lower = #{minimumLowercaseLetters},</if>
            <if test="minimumDigits != null">min_digits = #{minimumDigits},</if>
            <if test="minimumSpecialCharacters != null">min_special = #{minimumSpecialCharacters},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePasswordConfigById" parameterType="Long">
        delete from sys_password where id = #{id}
    </delete>

    <delete id="deletePasswordConfigByIds" parameterType="String">
        delete from sys_password where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>