<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProcessMapper">

    <resultMap type="com.ruoyi.system.domain.Process" id="ProcessResult">
        <id     property="processId"      column="process_id"      />
        <result property="processName"    column="process_name"    />
        <result property="childProcessName"    column="child_process_name"    />
        <result property="childProcessSort"    column="child_process_sort"    />
        <result property="precondition"     column="precondition"     />
        <result property="param"   column="param"   />
        <result property="endif"   column="endif"   />
    </resultMap>
    <select id="selectAllProcess" resultMap="ProcessResult">
        select process_id, process_name, child_process_name, child_process_sort, precondition, param, endif
        from work_process
    </select>

</mapper>