<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TIndexImgMapper">
    
    <resultMap type="TIndexImg" id="TIndexImgResult">
        <result property="id"    column="id"    />
        <result property="imgName"    column="img_name"    />
        <result property="imgPath"    column="img_path"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="sorted"    column="sorted"    />
    </resultMap>

    <sql id="selectTIndexImgVo">
        select id, img_name, img_path, create_time, update_time,sorted  from t_index_img
    </sql>

    <select id="selectTIndexImgList" parameterType="TIndexImg" resultMap="TIndexImgResult">
        <include refid="selectTIndexImgVo"/>
        <where>  
            <if test="imgName != null  and imgName != ''"> and img_name like concat('%', #{imgName}, '%')</if>
            <if test="imgPath != null  and imgPath != ''"> and img_path = #{imgPath}</if>
        </where>
        order by sorted
    </select>
    
    <select id="selectTIndexImgById" parameterType="Long" resultMap="TIndexImgResult">
        <include refid="selectTIndexImgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTIndexImg" parameterType="TIndexImg" useGeneratedKeys="true" keyProperty="id">
        insert into t_index_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgName != null">img_name,</if>
            <if test="imgPath != null">img_path,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sorted != null">sorted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgName != null">#{imgName},</if>
            <if test="imgPath != null">#{imgPath},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sorted != null">#{sorted},</if>
         </trim>
    </insert>

    <update id="updateTIndexImg" parameterType="TIndexImg">
        update t_index_img
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgName != null">img_name = #{imgName},</if>
            <if test="imgPath != null">img_path = #{imgPath},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sorted != null">sorted = #{sorted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTIndexImgById" parameterType="Long">
        delete from t_index_img where id = #{id}
    </delete>

    <delete id="deleteTIndexImgByIds" parameterType="String">
        delete from t_index_img where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>