<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WorkExtractionMapper">
    
    <resultMap type="WorkExtraction" id="WorkExtractionResult">
        <result property="extractionId"    column="extraction_id"    />
        <result property="reactionCode"    column="reaction_code"    />
        <result property="standing"    column="standing"    />
        <result property="arg1"    column="arg1"    />
        <result property="arg2"    column="arg2"    />
    </resultMap>

    <sql id="selectWorkExtractionVo">
        select extraction_id, reaction_code, standing, arg1, arg2 from work_extraction
    </sql>

    <select id="selectWorkExtractionList" parameterType="WorkExtraction" resultMap="WorkExtractionResult">
        <include refid="selectWorkExtractionVo"/>
        <where>  
            <if test="reactionCode != null  and reactionCode != ''"> and reaction_code = #{reactionCode}</if>
            <if test="standing != null  and standing != ''"> and standing = #{standing}</if>
            <if test="arg1 != null  and arg1 != ''"> and arg1 = #{arg1}</if>
            <if test="arg2 != null  and arg2 != ''"> and arg2 = #{arg2}</if>
        </where>
    </select>
    
    <select id="selectWorkExtractionByExtractionId" parameterType="Long" resultMap="WorkExtractionResult">
        <include refid="selectWorkExtractionVo"/>
        where extraction_id = #{extractionId}
    </select>
        
    <insert id="insertWorkExtraction" parameterType="WorkExtraction" useGeneratedKeys="true" keyProperty="extractionId">
        insert into work_extraction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reactionCode != null">reaction_code,</if>
            <if test="standing != null">standing,</if>
            <if test="arg1 != null">arg1,</if>
            <if test="arg2 != null">arg2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reactionCode != null">#{reactionCode},</if>
            <if test="standing != null">#{standing},</if>
            <if test="arg1 != null">#{arg1},</if>
            <if test="arg2 != null">#{arg2},</if>
         </trim>
    </insert>

    <update id="updateWorkExtraction" parameterType="WorkExtraction">
        update work_extraction
        <trim prefix="SET" suffixOverrides=",">
            <if test="reactionCode != null">reaction_code = #{reactionCode},</if>
            <if test="standing != null">standing = #{standing},</if>
            <if test="arg1 != null">arg1 = #{arg1},</if>
            <if test="arg2 != null">arg2 = #{arg2},</if>
        </trim>
        where extraction_id = #{extractionId}
    </update>

    <delete id="deleteWorkExtractionByExtractionId" parameterType="Long">
        delete from work_extraction where extraction_id = #{extractionId}
    </delete>

    <delete id="deleteWorkExtractionByExtractionIds" parameterType="String">
        delete from work_extraction where extraction_id in 
        <foreach item="extractionId" collection="array" open="(" separator="," close=")">
            #{extractionId}
        </foreach>
    </delete>
</mapper>