<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ZtkZhdPfmxbMapper">
    
    <resultMap type="ZtkZhdPfmxb" id="ZtkZhdPfmxbResult">
        <result property="zjlid"    column="zjlid"    />
        <result property="lyyyxtid"    column="lyyyxtid"    />
        <result property="dataFrom"    column="data_from"    />
        <result property="xxrksj"    column="xxrksj"    />
        <result property="xxrksjTmsp"    column="xxrksj_tmsp"    />
        <result property="bz"    column="bz"    />
        <result property="sourceXxrksj"    column="source_xxrksj"    />
        <result property="sourceZjlid"    column="source_zjlid"    />
        <result property="businessFlagId"    column="business_flag_id"    />
        <result property="businessFlagValue"    column="business_flag_value"    />
        <result property="firstCollectTime"    column="first_collect_time"    />
        <result property="lastCollectTime"    column="last_collect_time"    />
        <result property="foundTimes"    column="found_times"    />
        <result property="errorDataFlag"    column="error_data_flag"    />
        <result property="errorData"    column="error_data"    />
        <result property="errorElement"    column="error_element"    />
        <result property="batchDataFlag"    column="batch_data_flag"    />
        <result property="sjaqjbdm"    column="sjaqjbdm"    />
        <result property="cjd"    column="cjd"    />
        <result property="tyshxydm"    column="tyshxydm"    />
        <result property="zjlx"    column="zjlx"    />
        <result property="zjhm"    column="zjhm"    />
        <result property="scjydz"    column="scjydz"    />
        <result property="zcjgzsscjydzdz"    column="zcjgzsscjydzdz"    />
        <result property="bdcdjzm"    column="bdcdjzm"    />
        <result property="dywjz"    column="dywjz"    />
        <result property="gtdm"    column="gtdm"    />
        <result property="jysj"    column="jysj"    />
        <result property="nfsfzjlx"    column="nfsfzjlx"    />
        <result property="nfxm"    column="nfxm"    />
        <result property="nfsfzjhm"    column="nfsfzjhm"    />
        <result property="dah"    column="dah"    />
        <result property="jhdjsj"    column="jhdjsj"    />
        <result property="jhdjlx"    column="jhdjlx"    />
        <result property="xlwhcd"    column="xlwhcd"    />
        <result property="zyjszwxlmc"    column="zyjszwxlmc"    />
        <result property="zyjszwdj"    column="zyjszwdj"    />
        <result property="gjzyzgdj"    column="gjzyzgdj"    />
        <result property="qfjey"    column="qfjey"    />
        <result property="qfsd"    column="qfsd"    />
        <result property="dqqsjey"    column="dqqsjey"    />
        <result property="qstjjzrq"    column="qstjjzrq"    />
        <result property="qstjksrq"    column="qstjksrq"    />
        <result property="sxyzcd"    column="sxyzcd"    />
        <result property="sfbj"    column="sfbj"    />
        <result property="qssz"    column="qssz"    />
        <result property="qsye"    column="qsye"    />
        <result property="tbzjqfxzcfzywfss"    column="tbzjqfxzcfzywfss"    />
        <result property="tbzjqfxzcfcfqk"    column="tbzjqfxzcfcfqk"    />
        <result property="zrrqsxxqssz"    column="zrrqsxxqssz"    />
        <result property="zrrqstjjzrq"    column="zrrqstjjzrq"    />
        <result property="zrrqstjksrq"    column="zrrqstjksrq"    />
        <result property="zrrqsye"    column="zrrqsye"    />
        <result property="zrrsfbj"    column="zrrsfbj"    />
        <result property="gjlhjcxxgxsj"    column="gjlhjcxxgxsj"    />
        <result property="gjlhjcxxmdlx"    column="gjlhjcxxmdlx"    />
        <result property="lhjchmdmc"    column="lhjchmdmc"    />
        <result property="rybzsy"    column="rybzsy"    />
        <result property="rybzmc"    column="rybzmc"    />
        <result property="rybzjb"    column="rybzjb"    />
        <result property="sxqyzch"    column="sxqyzch"    />
        <result property="sxqyhfrzzmc"    column="sxqyhfrzzmc"    />
        <result property="zfgzpjjbzdzh"    column="zfgzpjjbzdzh"    />
        <result property="zfgzjdswh"    column="zfgzjdswh"    />
        <result property="nsrxydj"    column="nsrxydj"    />
        <result property="bqqyqymc"    column="bqqyqymc"    />
        <result property="jdcsyr"    column="jdcsyr"    />
        <result property="cllx"    column="cllx"    />
        <result property="jdczt"    column="jdczt"    />
        <result property="syq"    column="syq"    />
        <result property="syxz"    column="syxz"    />
        <result property="bdcdjzh"    column="bdcdjzh"    />
        <result property="cflx"    column="cflx"    />
        <result property="cfwj"    column="cfwj"    />
        <result property="cfqssj"    column="cfqssj"    />
        <result property="cfjssj"    column="cfjssj"    />
        <result property="jfjg"    column="jfjg"    />
        <result property="jfwj"    column="jfwj"    />
        <result property="jndwtyshxydm"    column="jndwtyshxydm"    />
        <result property="jfid"    column="jfid"    />
        <result property="jfsj"    column="jfsj"    />
        <result property="tqnmggzjdswh"    column="tqnmggzjdswh"    />
        <result property="tqnmggzhmdid"    column="tqnmggzhmdid"    />
        <result property="sxzwah"    column="sxzwah"    />
        <result property="zfgzsxxypjid"    column="zfgzsxxypjid"    />
        <result property="zfgzsxjdjg"    column="zfgzsxjdjg"    />
        <result property="zwsxah"    column="zwsxah"    />
        <result property="zwsxhcqk"    column="zwsxhcqk"    />
        <result property="lhcjrylb"    column="lhcjrylb"    />
        <result property="lhcjzch"    column="lhcjzch"    />
        <result property="hjcfsy"    column="hjcfsy"    />
        <result property="hjcfyj"    column="hjcfyj"    />
        <result property="hjcfrq"    column="hjcfrq"    />
    </resultMap>

    <sql id="selectZtkZhdPfmxbVo">
        select zjlid, lyyyxtid, data_from, xxrksj, xxrksj_tmsp, bz, source_xxrksj, source_zjlid, business_flag_id, business_flag_value, first_collect_time, last_collect_time, found_times, error_data_flag, error_data, error_element, batch_data_flag, sjaqjbdm, cjd, tyshxydm, zjlx, zjhm, scjydz, zcjgzsscjydzdz, bdcdjzm, dywjz, gtdm, jysj, nfsfzjlx, nfxm, nfsfzjhm, dah, jhdjsj, jhdjlx, xlwhcd, zyjszwxlmc, zyjszwdj, gjzyzgdj, qfjey, qfsd, dqqsjey, qstjjzrq, qstjksrq, sxyzcd, sfbj, qssz, qsye, tbzjqfxzcfzywfss, tbzjqfxzcfcfqk, zrrqsxxqssz, zrrqstjjzrq, zrrqstjksrq, zrrqsye, zrrsfbj, gjlhjcxxgxsj, gjlhjcxxmdlx, lhjchmdmc, rybzsy, rybzmc, rybzjb, sxqyzch, sxqyhfrzzmc, zfgzpjjbzdzh, zfgzjdswh, nsrxydj, bqqyqymc, jdcsyr, cllx, jdczt, syq, syxz, bdcdjzh, cflx, cfwj, cfqssj, cfjssj, jfjg, jfwj, jndwtyshxydm, jfid, jfsj, tqnmggzjdswh, tqnmggzhmdid, sxzwah, zfgzsxxypjid, zfgzsxjdjg, zwsxah, zwsxhcqk, lhcjrylb, lhcjzch, hjcfsy, hjcfyj, hjcfrq from ztk_zhd_pfmxb
    </sql>

    <select id="selectZtkZhdPfmxbList" parameterType="ZtkZhdPfmxb" resultMap="ZtkZhdPfmxbResult">
        <include refid="selectZtkZhdPfmxbVo"/>
        <where>  
            <if test="lyyyxtid != null  and lyyyxtid != ''"> and lyyyxtid = #{lyyyxtid}</if>
            <if test="dataFrom != null  and dataFrom != ''"> and data_from = #{dataFrom}</if>
            <if test="xxrksj != null  and xxrksj != ''"> and xxrksj = #{xxrksj}</if>
            <if test="xxrksjTmsp != null "> and xxrksj_tmsp = #{xxrksjTmsp}</if>
            <if test="bz != null  and bz != ''"> and bz = #{bz}</if>
            <if test="sourceXxrksj != null  and sourceXxrksj != ''"> and source_xxrksj = #{sourceXxrksj}</if>
            <if test="sourceZjlid != null  and sourceZjlid != ''"> and source_zjlid = #{sourceZjlid}</if>
            <if test="businessFlagId != null  and businessFlagId != ''"> and business_flag_id = #{businessFlagId}</if>
            <if test="businessFlagValue != null  and businessFlagValue != ''"> and business_flag_value = #{businessFlagValue}</if>
            <if test="firstCollectTime != null "> and first_collect_time = #{firstCollectTime}</if>
            <if test="lastCollectTime != null "> and last_collect_time = #{lastCollectTime}</if>
            <if test="foundTimes != null "> and found_times = #{foundTimes}</if>
            <if test="errorDataFlag != null  and errorDataFlag != ''"> and error_data_flag = #{errorDataFlag}</if>
            <if test="errorData != null  and errorData != ''"> and error_data = #{errorData}</if>
            <if test="errorElement != null  and errorElement != ''"> and error_element = #{errorElement}</if>
            <if test="batchDataFlag != null  and batchDataFlag != ''"> and batch_data_flag = #{batchDataFlag}</if>
            <if test="sjaqjbdm != null  and sjaqjbdm != ''"> and sjaqjbdm = #{sjaqjbdm}</if>
            <if test="cjd != null  and cjd != ''"> and cjd = #{cjd}</if>
            <if test="tyshxydm != null  and tyshxydm != ''"> and tyshxydm = #{tyshxydm}</if>
            <if test="zjlx != null  and zjlx != ''"> and zjlx = #{zjlx}</if>
            <if test="zjhm != null  and zjhm != ''"> and zjhm = #{zjhm}</if>
            <if test="scjydz != null  and scjydz != ''"> and scjydz = #{scjydz}</if>
            <if test="zcjgzsscjydzdz != null  and zcjgzsscjydzdz != ''"> and zcjgzsscjydzdz = #{zcjgzsscjydzdz}</if>
            <if test="bdcdjzm != null  and bdcdjzm != ''"> and bdcdjzm = #{bdcdjzm}</if>
            <if test="dywjz != null  and dywjz != ''"> and dywjz = #{dywjz}</if>
            <if test="gtdm != null  and gtdm != ''"> and gtdm = #{gtdm}</if>
            <if test="jysj != null  and jysj != ''"> and jysj = #{jysj}</if>
            <if test="nfsfzjlx != null  and nfsfzjlx != ''"> and nfsfzjlx = #{nfsfzjlx}</if>
            <if test="nfxm != null  and nfxm != ''"> and nfxm = #{nfxm}</if>
            <if test="nfsfzjhm != null  and nfsfzjhm != ''"> and nfsfzjhm = #{nfsfzjhm}</if>
            <if test="dah != null  and dah != ''"> and dah = #{dah}</if>
            <if test="jhdjsj != null  and jhdjsj != ''"> and jhdjsj = #{jhdjsj}</if>
            <if test="jhdjlx != null  and jhdjlx != ''"> and jhdjlx = #{jhdjlx}</if>
            <if test="xlwhcd != null  and xlwhcd != ''"> and xlwhcd = #{xlwhcd}</if>
            <if test="zyjszwxlmc != null  and zyjszwxlmc != ''"> and zyjszwxlmc = #{zyjszwxlmc}</if>
            <if test="zyjszwdj != null  and zyjszwdj != ''"> and zyjszwdj = #{zyjszwdj}</if>
            <if test="gjzyzgdj != null  and gjzyzgdj != ''"> and gjzyzgdj = #{gjzyzgdj}</if>
            <if test="qfjey != null  and qfjey != ''"> and qfjey = #{qfjey}</if>
            <if test="qfsd != null  and qfsd != ''"> and qfsd = #{qfsd}</if>
            <if test="dqqsjey != null  and dqqsjey != ''"> and dqqsjey = #{dqqsjey}</if>
            <if test="qstjjzrq != null  and qstjjzrq != ''"> and qstjjzrq = #{qstjjzrq}</if>
            <if test="qstjksrq != null  and qstjksrq != ''"> and qstjksrq = #{qstjksrq}</if>
            <if test="sxyzcd != null  and sxyzcd != ''"> and sxyzcd = #{sxyzcd}</if>
            <if test="sfbj != null  and sfbj != ''"> and sfbj = #{sfbj}</if>
            <if test="qssz != null  and qssz != ''"> and qssz = #{qssz}</if>
            <if test="qsye != null  and qsye != ''"> and qsye = #{qsye}</if>
            <if test="tbzjqfxzcfzywfss != null  and tbzjqfxzcfzywfss != ''"> and tbzjqfxzcfzywfss = #{tbzjqfxzcfzywfss}</if>
            <if test="tbzjqfxzcfcfqk != null  and tbzjqfxzcfcfqk != ''"> and tbzjqfxzcfcfqk = #{tbzjqfxzcfcfqk}</if>
            <if test="zrrqsxxqssz != null  and zrrqsxxqssz != ''"> and zrrqsxxqssz = #{zrrqsxxqssz}</if>
            <if test="zrrqstjjzrq != null  and zrrqstjjzrq != ''"> and zrrqstjjzrq = #{zrrqstjjzrq}</if>
            <if test="zrrqstjksrq != null  and zrrqstjksrq != ''"> and zrrqstjksrq = #{zrrqstjksrq}</if>
            <if test="zrrqsye != null  and zrrqsye != ''"> and zrrqsye = #{zrrqsye}</if>
            <if test="zrrsfbj != null  and zrrsfbj != ''"> and zrrsfbj = #{zrrsfbj}</if>
            <if test="gjlhjcxxgxsj != null  and gjlhjcxxgxsj != ''"> and gjlhjcxxgxsj = #{gjlhjcxxgxsj}</if>
            <if test="gjlhjcxxmdlx != null  and gjlhjcxxmdlx != ''"> and gjlhjcxxmdlx = #{gjlhjcxxmdlx}</if>
            <if test="lhjchmdmc != null  and lhjchmdmc != ''"> and lhjchmdmc = #{lhjchmdmc}</if>
            <if test="rybzsy != null  and rybzsy != ''"> and rybzsy = #{rybzsy}</if>
            <if test="rybzmc != null  and rybzmc != ''"> and rybzmc = #{rybzmc}</if>
            <if test="rybzjb != null  and rybzjb != ''"> and rybzjb = #{rybzjb}</if>
            <if test="sxqyzch != null  and sxqyzch != ''"> and sxqyzch = #{sxqyzch}</if>
            <if test="sxqyhfrzzmc != null  and sxqyhfrzzmc != ''"> and sxqyhfrzzmc = #{sxqyhfrzzmc}</if>
            <if test="zfgzpjjbzdzh != null  and zfgzpjjbzdzh != ''"> and zfgzpjjbzdzh = #{zfgzpjjbzdzh}</if>
            <if test="zfgzjdswh != null  and zfgzjdswh != ''"> and zfgzjdswh = #{zfgzjdswh}</if>
            <if test="nsrxydj != null  and nsrxydj != ''"> and nsrxydj = #{nsrxydj}</if>
            <if test="bqqyqymc != null  and bqqyqymc != ''"> and bqqyqymc = #{bqqyqymc}</if>
            <if test="jdcsyr != null  and jdcsyr != ''"> and jdcsyr = #{jdcsyr}</if>
            <if test="cllx != null  and cllx != ''"> and cllx = #{cllx}</if>
            <if test="jdczt != null  and jdczt != ''"> and jdczt = #{jdczt}</if>
            <if test="syq != null  and syq != ''"> and syq = #{syq}</if>
            <if test="syxz != null  and syxz != ''"> and syxz = #{syxz}</if>
            <if test="bdcdjzh != null  and bdcdjzh != ''"> and bdcdjzh = #{bdcdjzh}</if>
            <if test="cflx != null  and cflx != ''"> and cflx = #{cflx}</if>
            <if test="cfwj != null  and cfwj != ''"> and cfwj = #{cfwj}</if>
            <if test="cfqssj != null  and cfqssj != ''"> and cfqssj = #{cfqssj}</if>
            <if test="cfjssj != null  and cfjssj != ''"> and cfjssj = #{cfjssj}</if>
            <if test="jfjg != null  and jfjg != ''"> and jfjg = #{jfjg}</if>
            <if test="jfwj != null  and jfwj != ''"> and jfwj = #{jfwj}</if>
            <if test="jndwtyshxydm != null  and jndwtyshxydm != ''"> and jndwtyshxydm = #{jndwtyshxydm}</if>
            <if test="jfid != null  and jfid != ''"> and jfid = #{jfid}</if>
            <if test="jfsj != null  and jfsj != ''"> and jfsj = #{jfsj}</if>
            <if test="tqnmggzjdswh != null  and tqnmggzjdswh != ''"> and tqnmggzjdswh = #{tqnmggzjdswh}</if>
            <if test="tqnmggzhmdid != null  and tqnmggzhmdid != ''"> and tqnmggzhmdid = #{tqnmggzhmdid}</if>
            <if test="sxzwah != null  and sxzwah != ''"> and sxzwah = #{sxzwah}</if>
            <if test="zfgzsxxypjid != null  and zfgzsxxypjid != ''"> and zfgzsxxypjid = #{zfgzsxxypjid}</if>
            <if test="zfgzsxjdjg != null  and zfgzsxjdjg != ''"> and zfgzsxjdjg = #{zfgzsxjdjg}</if>
            <if test="zwsxah != null  and zwsxah != ''"> and zwsxah = #{zwsxah}</if>
            <if test="zwsxhcqk != null  and zwsxhcqk != ''"> and zwsxhcqk = #{zwsxhcqk}</if>
            <if test="lhcjrylb != null  and lhcjrylb != ''"> and lhcjrylb = #{lhcjrylb}</if>
            <if test="lhcjzch != null  and lhcjzch != ''"> and lhcjzch = #{lhcjzch}</if>
            <if test="hjcfsy != null  and hjcfsy != ''"> and hjcfsy = #{hjcfsy}</if>
            <if test="hjcfyj != null  and hjcfyj != ''"> and hjcfyj = #{hjcfyj}</if>
            <if test="hjcfrq != null  and hjcfrq != ''"> and hjcfrq = #{hjcfrq}</if>
        </where>
    </select>
    
    <select id="selectZtkZhdPfmxbById" parameterType="String" resultMap="ZtkZhdPfmxbResult">
        <include refid="selectZtkZhdPfmxbVo"/>
        where zjlid = #{zjlid}
    </select>
        
    <insert id="insertZtkZhdPfmxb" parameterType="ZtkZhdPfmxb">
        insert into ztk_zhd_pfmxb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zjlid != null">zjlid,</if>
            <if test="lyyyxtid != null">lyyyxtid,</if>
            <if test="dataFrom != null">data_from,</if>
            <if test="xxrksj != null">xxrksj,</if>
            <if test="xxrksjTmsp != null">xxrksj_tmsp,</if>
            <if test="bz != null">bz,</if>
            <if test="sourceXxrksj != null">source_xxrksj,</if>
            <if test="sourceZjlid != null">source_zjlid,</if>
            <if test="businessFlagId != null">business_flag_id,</if>
            <if test="businessFlagValue != null">business_flag_value,</if>
            <if test="firstCollectTime != null">first_collect_time,</if>
            <if test="lastCollectTime != null">last_collect_time,</if>
            <if test="foundTimes != null">found_times,</if>
            <if test="errorDataFlag != null">error_data_flag,</if>
            <if test="errorData != null">error_data,</if>
            <if test="errorElement != null">error_element,</if>
            <if test="batchDataFlag != null">batch_data_flag,</if>
            <if test="sjaqjbdm != null">sjaqjbdm,</if>
            <if test="cjd != null">cjd,</if>
            <if test="tyshxydm != null">tyshxydm,</if>
            <if test="zjlx != null">zjlx,</if>
            <if test="zjhm != null">zjhm,</if>
            <if test="scjydz != null">scjydz,</if>
            <if test="zcjgzsscjydzdz != null">zcjgzsscjydzdz,</if>
            <if test="bdcdjzm != null">bdcdjzm,</if>
            <if test="dywjz != null">dywjz,</if>
            <if test="gtdm != null">gtdm,</if>
            <if test="jysj != null">jysj,</if>
            <if test="nfsfzjlx != null">nfsfzjlx,</if>
            <if test="nfxm != null">nfxm,</if>
            <if test="nfsfzjhm != null">nfsfzjhm,</if>
            <if test="dah != null">dah,</if>
            <if test="jhdjsj != null">jhdjsj,</if>
            <if test="jhdjlx != null">jhdjlx,</if>
            <if test="xlwhcd != null">xlwhcd,</if>
            <if test="zyjszwxlmc != null">zyjszwxlmc,</if>
            <if test="zyjszwdj != null">zyjszwdj,</if>
            <if test="gjzyzgdj != null">gjzyzgdj,</if>
            <if test="qfjey != null">qfjey,</if>
            <if test="qfsd != null">qfsd,</if>
            <if test="dqqsjey != null">dqqsjey,</if>
            <if test="qstjjzrq != null">qstjjzrq,</if>
            <if test="qstjksrq != null">qstjksrq,</if>
            <if test="sxyzcd != null">sxyzcd,</if>
            <if test="sfbj != null">sfbj,</if>
            <if test="qssz != null">qssz,</if>
            <if test="qsye != null">qsye,</if>
            <if test="tbzjqfxzcfzywfss != null">tbzjqfxzcfzywfss,</if>
            <if test="tbzjqfxzcfcfqk != null">tbzjqfxzcfcfqk,</if>
            <if test="zrrqsxxqssz != null">zrrqsxxqssz,</if>
            <if test="zrrqstjjzrq != null">zrrqstjjzrq,</if>
            <if test="zrrqstjksrq != null">zrrqstjksrq,</if>
            <if test="zrrqsye != null">zrrqsye,</if>
            <if test="zrrsfbj != null">zrrsfbj,</if>
            <if test="gjlhjcxxgxsj != null">gjlhjcxxgxsj,</if>
            <if test="gjlhjcxxmdlx != null">gjlhjcxxmdlx,</if>
            <if test="lhjchmdmc != null">lhjchmdmc,</if>
            <if test="rybzsy != null">rybzsy,</if>
            <if test="rybzmc != null">rybzmc,</if>
            <if test="rybzjb != null">rybzjb,</if>
            <if test="sxqyzch != null">sxqyzch,</if>
            <if test="sxqyhfrzzmc != null">sxqyhfrzzmc,</if>
            <if test="zfgzpjjbzdzh != null">zfgzpjjbzdzh,</if>
            <if test="zfgzjdswh != null">zfgzjdswh,</if>
            <if test="nsrxydj != null">nsrxydj,</if>
            <if test="bqqyqymc != null">bqqyqymc,</if>
            <if test="jdcsyr != null">jdcsyr,</if>
            <if test="cllx != null">cllx,</if>
            <if test="jdczt != null">jdczt,</if>
            <if test="syq != null">syq,</if>
            <if test="syxz != null">syxz,</if>
            <if test="bdcdjzh != null">bdcdjzh,</if>
            <if test="cflx != null">cflx,</if>
            <if test="cfwj != null">cfwj,</if>
            <if test="cfqssj != null">cfqssj,</if>
            <if test="cfjssj != null">cfjssj,</if>
            <if test="jfjg != null">jfjg,</if>
            <if test="jfwj != null">jfwj,</if>
            <if test="jndwtyshxydm != null">jndwtyshxydm,</if>
            <if test="jfid != null">jfid,</if>
            <if test="jfsj != null">jfsj,</if>
            <if test="tqnmggzjdswh != null">tqnmggzjdswh,</if>
            <if test="tqnmggzhmdid != null">tqnmggzhmdid,</if>
            <if test="sxzwah != null">sxzwah,</if>
            <if test="zfgzsxxypjid != null">zfgzsxxypjid,</if>
            <if test="zfgzsxjdjg != null">zfgzsxjdjg,</if>
            <if test="zwsxah != null">zwsxah,</if>
            <if test="zwsxhcqk != null">zwsxhcqk,</if>
            <if test="lhcjrylb != null">lhcjrylb,</if>
            <if test="lhcjzch != null">lhcjzch,</if>
            <if test="hjcfsy != null">hjcfsy,</if>
            <if test="hjcfyj != null">hjcfyj,</if>
            <if test="hjcfrq != null">hjcfrq,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zjlid != null">#{zjlid},</if>
            <if test="lyyyxtid != null">#{lyyyxtid},</if>
            <if test="dataFrom != null">#{dataFrom},</if>
            <if test="xxrksj != null">#{xxrksj},</if>
            <if test="xxrksjTmsp != null">#{xxrksjTmsp},</if>
            <if test="bz != null">#{bz},</if>
            <if test="sourceXxrksj != null">#{sourceXxrksj},</if>
            <if test="sourceZjlid != null">#{sourceZjlid},</if>
            <if test="businessFlagId != null">#{businessFlagId},</if>
            <if test="businessFlagValue != null">#{businessFlagValue},</if>
            <if test="firstCollectTime != null">#{firstCollectTime},</if>
            <if test="lastCollectTime != null">#{lastCollectTime},</if>
            <if test="foundTimes != null">#{foundTimes},</if>
            <if test="errorDataFlag != null">#{errorDataFlag},</if>
            <if test="errorData != null">#{errorData},</if>
            <if test="errorElement != null">#{errorElement},</if>
            <if test="batchDataFlag != null">#{batchDataFlag},</if>
            <if test="sjaqjbdm != null">#{sjaqjbdm},</if>
            <if test="cjd != null">#{cjd},</if>
            <if test="tyshxydm != null">#{tyshxydm},</if>
            <if test="zjlx != null">#{zjlx},</if>
            <if test="zjhm != null">#{zjhm},</if>
            <if test="scjydz != null">#{scjydz},</if>
            <if test="zcjgzsscjydzdz != null">#{zcjgzsscjydzdz},</if>
            <if test="bdcdjzm != null">#{bdcdjzm},</if>
            <if test="dywjz != null">#{dywjz},</if>
            <if test="gtdm != null">#{gtdm},</if>
            <if test="jysj != null">#{jysj},</if>
            <if test="nfsfzjlx != null">#{nfsfzjlx},</if>
            <if test="nfxm != null">#{nfxm},</if>
            <if test="nfsfzjhm != null">#{nfsfzjhm},</if>
            <if test="dah != null">#{dah},</if>
            <if test="jhdjsj != null">#{jhdjsj},</if>
            <if test="jhdjlx != null">#{jhdjlx},</if>
            <if test="xlwhcd != null">#{xlwhcd},</if>
            <if test="zyjszwxlmc != null">#{zyjszwxlmc},</if>
            <if test="zyjszwdj != null">#{zyjszwdj},</if>
            <if test="gjzyzgdj != null">#{gjzyzgdj},</if>
            <if test="qfjey != null">#{qfjey},</if>
            <if test="qfsd != null">#{qfsd},</if>
            <if test="dqqsjey != null">#{dqqsjey},</if>
            <if test="qstjjzrq != null">#{qstjjzrq},</if>
            <if test="qstjksrq != null">#{qstjksrq},</if>
            <if test="sxyzcd != null">#{sxyzcd},</if>
            <if test="sfbj != null">#{sfbj},</if>
            <if test="qssz != null">#{qssz},</if>
            <if test="qsye != null">#{qsye},</if>
            <if test="tbzjqfxzcfzywfss != null">#{tbzjqfxzcfzywfss},</if>
            <if test="tbzjqfxzcfcfqk != null">#{tbzjqfxzcfcfqk},</if>
            <if test="zrrqsxxqssz != null">#{zrrqsxxqssz},</if>
            <if test="zrrqstjjzrq != null">#{zrrqstjjzrq},</if>
            <if test="zrrqstjksrq != null">#{zrrqstjksrq},</if>
            <if test="zrrqsye != null">#{zrrqsye},</if>
            <if test="zrrsfbj != null">#{zrrsfbj},</if>
            <if test="gjlhjcxxgxsj != null">#{gjlhjcxxgxsj},</if>
            <if test="gjlhjcxxmdlx != null">#{gjlhjcxxmdlx},</if>
            <if test="lhjchmdmc != null">#{lhjchmdmc},</if>
            <if test="rybzsy != null">#{rybzsy},</if>
            <if test="rybzmc != null">#{rybzmc},</if>
            <if test="rybzjb != null">#{rybzjb},</if>
            <if test="sxqyzch != null">#{sxqyzch},</if>
            <if test="sxqyhfrzzmc != null">#{sxqyhfrzzmc},</if>
            <if test="zfgzpjjbzdzh != null">#{zfgzpjjbzdzh},</if>
            <if test="zfgzjdswh != null">#{zfgzjdswh},</if>
            <if test="nsrxydj != null">#{nsrxydj},</if>
            <if test="bqqyqymc != null">#{bqqyqymc},</if>
            <if test="jdcsyr != null">#{jdcsyr},</if>
            <if test="cllx != null">#{cllx},</if>
            <if test="jdczt != null">#{jdczt},</if>
            <if test="syq != null">#{syq},</if>
            <if test="syxz != null">#{syxz},</if>
            <if test="bdcdjzh != null">#{bdcdjzh},</if>
            <if test="cflx != null">#{cflx},</if>
            <if test="cfwj != null">#{cfwj},</if>
            <if test="cfqssj != null">#{cfqssj},</if>
            <if test="cfjssj != null">#{cfjssj},</if>
            <if test="jfjg != null">#{jfjg},</if>
            <if test="jfwj != null">#{jfwj},</if>
            <if test="jndwtyshxydm != null">#{jndwtyshxydm},</if>
            <if test="jfid != null">#{jfid},</if>
            <if test="jfsj != null">#{jfsj},</if>
            <if test="tqnmggzjdswh != null">#{tqnmggzjdswh},</if>
            <if test="tqnmggzhmdid != null">#{tqnmggzhmdid},</if>
            <if test="sxzwah != null">#{sxzwah},</if>
            <if test="zfgzsxxypjid != null">#{zfgzsxxypjid},</if>
            <if test="zfgzsxjdjg != null">#{zfgzsxjdjg},</if>
            <if test="zwsxah != null">#{zwsxah},</if>
            <if test="zwsxhcqk != null">#{zwsxhcqk},</if>
            <if test="lhcjrylb != null">#{lhcjrylb},</if>
            <if test="lhcjzch != null">#{lhcjzch},</if>
            <if test="hjcfsy != null">#{hjcfsy},</if>
            <if test="hjcfyj != null">#{hjcfyj},</if>
            <if test="hjcfrq != null">#{hjcfrq},</if>
         </trim>
    </insert>

    <update id="updateZtkZhdPfmxb" parameterType="ZtkZhdPfmxb">
        update ztk_zhd_pfmxb
        <trim prefix="SET" suffixOverrides=",">
            <if test="lyyyxtid != null">lyyyxtid = #{lyyyxtid},</if>
            <if test="dataFrom != null">data_from = #{dataFrom},</if>
            <if test="xxrksj != null">xxrksj = #{xxrksj},</if>
            <if test="xxrksjTmsp != null">xxrksj_tmsp = #{xxrksjTmsp},</if>
            <if test="bz != null">bz = #{bz},</if>
            <if test="sourceXxrksj != null">source_xxrksj = #{sourceXxrksj},</if>
            <if test="sourceZjlid != null">source_zjlid = #{sourceZjlid},</if>
            <if test="businessFlagId != null">business_flag_id = #{businessFlagId},</if>
            <if test="businessFlagValue != null">business_flag_value = #{businessFlagValue},</if>
            <if test="firstCollectTime != null">first_collect_time = #{firstCollectTime},</if>
            <if test="lastCollectTime != null">last_collect_time = #{lastCollectTime},</if>
            <if test="foundTimes != null">found_times = #{foundTimes},</if>
            <if test="errorDataFlag != null">error_data_flag = #{errorDataFlag},</if>
            <if test="errorData != null">error_data = #{errorData},</if>
            <if test="errorElement != null">error_element = #{errorElement},</if>
            <if test="batchDataFlag != null">batch_data_flag = #{batchDataFlag},</if>
            <if test="sjaqjbdm != null">sjaqjbdm = #{sjaqjbdm},</if>
            <if test="cjd != null">cjd = #{cjd},</if>
            <if test="tyshxydm != null">tyshxydm = #{tyshxydm},</if>
            <if test="zjlx != null">zjlx = #{zjlx},</if>
            <if test="zjhm != null">zjhm = #{zjhm},</if>
            <if test="scjydz != null">scjydz = #{scjydz},</if>
            <if test="zcjgzsscjydzdz != null">zcjgzsscjydzdz = #{zcjgzsscjydzdz},</if>
            <if test="bdcdjzm != null">bdcdjzm = #{bdcdjzm},</if>
            <if test="dywjz != null">dywjz = #{dywjz},</if>
            <if test="gtdm != null">gtdm = #{gtdm},</if>
            <if test="jysj != null">jysj = #{jysj},</if>
            <if test="nfsfzjlx != null">nfsfzjlx = #{nfsfzjlx},</if>
            <if test="nfxm != null">nfxm = #{nfxm},</if>
            <if test="nfsfzjhm != null">nfsfzjhm = #{nfsfzjhm},</if>
            <if test="dah != null">dah = #{dah},</if>
            <if test="jhdjsj != null">jhdjsj = #{jhdjsj},</if>
            <if test="jhdjlx != null">jhdjlx = #{jhdjlx},</if>
            <if test="xlwhcd != null">xlwhcd = #{xlwhcd},</if>
            <if test="zyjszwxlmc != null">zyjszwxlmc = #{zyjszwxlmc},</if>
            <if test="zyjszwdj != null">zyjszwdj = #{zyjszwdj},</if>
            <if test="gjzyzgdj != null">gjzyzgdj = #{gjzyzgdj},</if>
            <if test="qfjey != null">qfjey = #{qfjey},</if>
            <if test="qfsd != null">qfsd = #{qfsd},</if>
            <if test="dqqsjey != null">dqqsjey = #{dqqsjey},</if>
            <if test="qstjjzrq != null">qstjjzrq = #{qstjjzrq},</if>
            <if test="qstjksrq != null">qstjksrq = #{qstjksrq},</if>
            <if test="sxyzcd != null">sxyzcd = #{sxyzcd},</if>
            <if test="sfbj != null">sfbj = #{sfbj},</if>
            <if test="qssz != null">qssz = #{qssz},</if>
            <if test="qsye != null">qsye = #{qsye},</if>
            <if test="tbzjqfxzcfzywfss != null">tbzjqfxzcfzywfss = #{tbzjqfxzcfzywfss},</if>
            <if test="tbzjqfxzcfcfqk != null">tbzjqfxzcfcfqk = #{tbzjqfxzcfcfqk},</if>
            <if test="zrrqsxxqssz != null">zrrqsxxqssz = #{zrrqsxxqssz},</if>
            <if test="zrrqstjjzrq != null">zrrqstjjzrq = #{zrrqstjjzrq},</if>
            <if test="zrrqstjksrq != null">zrrqstjksrq = #{zrrqstjksrq},</if>
            <if test="zrrqsye != null">zrrqsye = #{zrrqsye},</if>
            <if test="zrrsfbj != null">zrrsfbj = #{zrrsfbj},</if>
            <if test="gjlhjcxxgxsj != null">gjlhjcxxgxsj = #{gjlhjcxxgxsj},</if>
            <if test="gjlhjcxxmdlx != null">gjlhjcxxmdlx = #{gjlhjcxxmdlx},</if>
            <if test="lhjchmdmc != null">lhjchmdmc = #{lhjchmdmc},</if>
            <if test="rybzsy != null">rybzsy = #{rybzsy},</if>
            <if test="rybzmc != null">rybzmc = #{rybzmc},</if>
            <if test="rybzjb != null">rybzjb = #{rybzjb},</if>
            <if test="sxqyzch != null">sxqyzch = #{sxqyzch},</if>
            <if test="sxqyhfrzzmc != null">sxqyhfrzzmc = #{sxqyhfrzzmc},</if>
            <if test="zfgzpjjbzdzh != null">zfgzpjjbzdzh = #{zfgzpjjbzdzh},</if>
            <if test="zfgzjdswh != null">zfgzjdswh = #{zfgzjdswh},</if>
            <if test="nsrxydj != null">nsrxydj = #{nsrxydj},</if>
            <if test="bqqyqymc != null">bqqyqymc = #{bqqyqymc},</if>
            <if test="jdcsyr != null">jdcsyr = #{jdcsyr},</if>
            <if test="cllx != null">cllx = #{cllx},</if>
            <if test="jdczt != null">jdczt = #{jdczt},</if>
            <if test="syq != null">syq = #{syq},</if>
            <if test="syxz != null">syxz = #{syxz},</if>
            <if test="bdcdjzh != null">bdcdjzh = #{bdcdjzh},</if>
            <if test="cflx != null">cflx = #{cflx},</if>
            <if test="cfwj != null">cfwj = #{cfwj},</if>
            <if test="cfqssj != null">cfqssj = #{cfqssj},</if>
            <if test="cfjssj != null">cfjssj = #{cfjssj},</if>
            <if test="jfjg != null">jfjg = #{jfjg},</if>
            <if test="jfwj != null">jfwj = #{jfwj},</if>
            <if test="jndwtyshxydm != null">jndwtyshxydm = #{jndwtyshxydm},</if>
            <if test="jfid != null">jfid = #{jfid},</if>
            <if test="jfsj != null">jfsj = #{jfsj},</if>
            <if test="tqnmggzjdswh != null">tqnmggzjdswh = #{tqnmggzjdswh},</if>
            <if test="tqnmggzhmdid != null">tqnmggzhmdid = #{tqnmggzhmdid},</if>
            <if test="sxzwah != null">sxzwah = #{sxzwah},</if>
            <if test="zfgzsxxypjid != null">zfgzsxxypjid = #{zfgzsxxypjid},</if>
            <if test="zfgzsxjdjg != null">zfgzsxjdjg = #{zfgzsxjdjg},</if>
            <if test="zwsxah != null">zwsxah = #{zwsxah},</if>
            <if test="zwsxhcqk != null">zwsxhcqk = #{zwsxhcqk},</if>
            <if test="lhcjrylb != null">lhcjrylb = #{lhcjrylb},</if>
            <if test="lhcjzch != null">lhcjzch = #{lhcjzch},</if>
            <if test="hjcfsy != null">hjcfsy = #{hjcfsy},</if>
            <if test="hjcfyj != null">hjcfyj = #{hjcfyj},</if>
            <if test="hjcfrq != null">hjcfrq = #{hjcfrq},</if>
        </trim>
        where zjlid = #{zjlid}
    </update>

    <delete id="deleteZtkZhdPfmxbById" parameterType="String">
        delete from ztk_zhd_pfmxb where zjlid = #{zjlid}
    </delete>

    <delete id="deleteZtkZhdPfmxbByIds" parameterType="String">
        delete from ztk_zhd_pfmxb where zjlid in 
        <foreach item="zjlid" collection="array" open="(" separator="," close=")">
            #{zjlid}
        </foreach>
    </delete>
</mapper>