@font-face {
  font-family: "iconfont"; /* Project id 4112013 */
  src: url('/static/common/css/iconfont.woff2') format('woff2')
}

.iconfont {
  position: relative;
  display: inline-block;
  font-family: "iconfont" !important;
  font: normal normal normal 14px/1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606266;
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-shop:before {
  content: "\e623";
}

.icon-geren:before {
  content: "\e72a";
}

.icon-fuli:before {
  content: "\e643";
}

.icon-call:before {
  content: "\e744";
}

.icon-kaimen:before {
  content: "\e652";
}

.icon-zhuo:before {
  content: "\e625";
}

.icon-daohang:before {
  content: "\e615";
}

