img {
  border-radius: 12upx;
  width: 100%;
  height: 100%;
}
/**价格 */
.price {
  font-size: 28upx;
  font-weight: 500;
  color: #ff3f64;
  line-height: 30upx;

  .icon {
    font-size: 22upx;
    letter-spacing: -6upx;
  }
}
.bg-line {
  height: 20upx;
  background-color: #f8f8f8;
}
.index-margin {
  margin-left: 24upx;
  margin-right: 24upx;
}
.txt-overflow { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 28upx;
}

/**两行省略 */
.txt-overflow.txt-overflow-line2 {
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.footer {
  position: relative;
  height: 109upx;
  font-size: 20upx;
  font-weight: 400;
  text-align: center;
  color: #777777;
  line-height: 109upx;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 52upx;
    height: 1upx;
    background: #777777;
    top: 54upx;
    left: 217upx;
  }

  &::after {
    left: unset;
    right: 217upx;
  }
}
