@import '@/uni_modules/uview-ui/theme.scss';
/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * 使用的时候，请将下面的一行复制到您的uniapp项目根目录的uni.scss中即可
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
// 定义内外边距，历遍10-40
@for $i from 10 through 40 {
	// 只要双数和能被5除尽的数
	@if $i % 10 == 0 {
		// 得出：u-m-30
		.u-m-#{$i} {
			margin: $i + rpx!important;
		}
		
		// 得出：u-p-30
		.u-p-#{$i} {
			padding: $i + rpx!important;
		}
		
		.u-p-h-#{$i}{
			padding: 0 $i + rpx;
		}
		
		.u-p-v-#{$i}{
			padding: $i + rpx 0;
		}
		
		@each $short, $long in l left, t top, r right, b bottom {
			// 缩写版，结果如： u-m-l-30
			// 定义外边距
			.u-m-#{$short}-#{$i} {
				margin-#{$long}: $i + rpx!important;
			}
			
			// 定义内边距
			.u-p-#{$short}-#{$i} {
				padding-#{$long}: $i + rpx!important;
			}
		}
	}
}

.form .u-form{
	padding: 0 20rpx;
	.u-form-item{
		border-bottom: 1rpx solid $u-border-color;
	}
	.u-checkbox{
		margin-right: 10rpx;
	}
	.u-radio{
		margin-right: 10rpx;
	}
	.u-radio-group{
		flex-wrap: wrap;
	}
}

.edit-bottom-bar-holder{
	height: 90rpx;
}
.edit-bottom-bar{
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 0 20rpx 20rpx;
	background: #fff;
	z-index: 2;
	&__btn{
		flex: 1;
		margin-right: 20rpx;
	}
}