<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoli.sysmanage.mapper.BaoliBizCarBrandMapper">
    
    <resultMap type="BaoliBizCarBrand" id="BaoliBizCarBrandResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="letter"    column="letter"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentName"    column="parent_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="status"    column="status"    />
        <result property="indexId"    column="index_id"    />
    </resultMap>

    <sql id="selectBaoliBizCarBrandVo">
        select id, name,ifnull(b.letter,(select a.letter from baoli_biz_car_brand a where a.id = b.parent_id)) letter, parent_id,ifnull((select a.name from baoli_biz_car_brand a where a.id = b.parent_id),'/') parent_name, create_time, update_time, create_by, update_by, status, index_id from baoli_biz_car_brand b
    </sql>

    <select id="selectBaoliBizCarBrandList" parameterType="BaoliBizCarBrand" resultMap="BaoliBizCarBrandResult">
        <include refid="selectBaoliBizCarBrandVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="letter != null  and letter != ''"> and ifnull(b.letter,(select a.letter from baoli_biz_car_brand a where a.id = b.parent_id)) = #{letter}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="indexId != null  and indexId != ''"> and index_id = #{indexId}</if>
            <if test="brandId != null  and brandId != ''"> and (id = #{brandId} or parent_id = #{brandId})</if>
            <if test="ids != null "> and id in
                <foreach collection="ids" item="orderId" open="(" separator="," close=")">
                    #{orderId}
                </foreach>
            </if>
        </where>
        order by case parent_id when 0 then id else parent_id end * 10000 + id
    </select>

    <select id="selectBaoliBizCarBrandById" parameterType="Long" resultMap="BaoliBizCarBrandResult">
        <include refid="selectBaoliBizCarBrandVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaoliBizCarBrand" parameterType="BaoliBizCarBrand" useGeneratedKeys="true" keyProperty="id">
        insert into baoli_biz_car_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            parent_id,
            <if test="name != null">name,</if>
            <if test="letter != null">letter,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="status != null">status,</if>
            <if test="indexId != null">index_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="parentId == null">0,</if>
            <if test="name != null">#{name},</if>
            <if test="letter != null">#{letter},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="status != null">#{status},</if>
            <if test="indexId != null">#{indexId},</if>
         </trim>
    </insert>

    <update id="updateBaoliBizCarBrand" parameterType="BaoliBizCarBrand">
        update baoli_biz_car_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="letter != null">letter = #{letter},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="indexId != null">index_id = #{indexId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaoliBizCarBrandById" parameterType="Long">
        delete from baoli_biz_car_brand where id = #{id}
    </delete>

    <delete id="deleteBaoliBizCarBrandByIds" parameterType="String">
        delete from baoli_biz_car_brand where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>