<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="invest.lixinger.ruoyi.mapper.CNDebtMapper">
    <select id="nearestDateInDB" resultType="invest.lixinger.ruoyi.entity.CNDebtVO">
        SELECT *
        FROM lx_cndebt order by rq desc limit  1
    </select>

    <select id="dateRangeInDB" resultType="invest.lixinger.ruoyi.entity.CNDebtVO">
        SELECT *
        FROM lx_cndebt
        where rq between #{startDate} and #{endDate}
    </select>

    <select id="allDataInDB" resultType="invest.lixinger.ruoyi.entity.CNDebtVO">
        SELECT *
        FROM lx_cndebt
    </select>
</mapper>
