<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="invest.other.huice.mapper.huiceMapper">

    <select id="nearestDateInDB" resultType="invest.other.huice.eneity.hsagVO">
        select * from lx_hsag order by sj desc limit  1
    </select>
</mapper>
