<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onethinker.bk.mapper.ImChatUserMessageMapper">

    <resultMap type="ImChatUserMessage" id="ImChatUserMessageResult">
            <result property="id" column="id"/>
            <result property="fromId" column="from_id"/>
            <result property="toId" column="to_id"/>
            <result property="content" column="content"/>
            <result property="messageStatus" column="message_status"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectImChatUserMessageVo">
        select id, from_id, to_id, content, message_status, create_time
        from bk_im_chat_user_message
    </sql>

    <select id="selectImChatUserMessageList" parameterType="ImChatUserMessage" resultMap="ImChatUserMessageResult">
        <include refid="selectImChatUserMessageVo"/>
        <where>
                        <if test="fromId != null ">
                            and from_id = #{fromId}
                        </if>
                        <if test="toId != null ">
                            and to_id = #{toId}
                        </if>
                        <if test="content != null  and content != ''">
                            and content = #{content}
                        </if>
                        <if test="messageStatus != null ">
                            and message_status = #{messageStatus}
                        </if>
        </where>
    </select>

    <select id="selectImChatUserMessageById" parameterType="Long"
            resultMap="ImChatUserMessageResult">
            <include refid="selectImChatUserMessageVo"/>
            where id = #{id}
    </select>

    <insert id="insertImChatUserMessage" parameterType="ImChatUserMessage" useGeneratedKeys="true"
            keyProperty="id">
        insert into bk_im_chat_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="fromId != null">from_id,
                    </if>
                    <if test="toId != null">to_id,
                    </if>
                    <if test="content != null and content != ''">content,
                    </if>
                    <if test="messageStatus != null">message_status,
                    </if>
                    <if test="createTime != null">create_time,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="fromId != null">#{fromId},
                    </if>
                    <if test="toId != null">#{toId},
                    </if>
                    <if test="content != null and content != ''">#{content},
                    </if>
                    <if test="messageStatus != null">#{messageStatus},
                    </if>
                    <if test="createTime != null">#{createTime},
                    </if>
        </trim>
    </insert>

    <update id="updateImChatUserMessage" parameterType="ImChatUserMessage">
        update bk_im_chat_user_message
        <trim prefix="SET" suffixOverrides=",">
                    <if test="fromId != null">from_id =
                        #{fromId},
                    </if>
                    <if test="toId != null">to_id =
                        #{toId},
                    </if>
                    <if test="content != null and content != ''">content =
                        #{content},
                    </if>
                    <if test="messageStatus != null">message_status =
                        #{messageStatus},
                    </if>
                    <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImChatUserMessageById" parameterType="Long">
        delete from bk_im_chat_user_message where id = #{id}
    </delete>

    <delete id="deleteImChatUserMessageByIds" parameterType="String">
        delete from bk_im_chat_user_message where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
