<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onethinker.bk.mapper.WebInfoMapper">

    <resultMap type="WebInfo" id="WebInfoResult">
        <result property="id" column="id"/>
        <result property="webName" column="web_name"/>
        <result property="webTitle" column="web_title"/>
        <result property="notices" column="notices"/>
        <result property="footer" column="footer"/>
        <result property="backgroundImage" column="background_image"/>
        <result property="avatar" column="avatar"/>
        <result property="randomAvatar" column="random_avatar"/>
        <result property="randomName" column="random_name"/>
        <result property="randomCover" column="random_cover"/>
        <result property="waifuJson" column="waifu_json"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectWebInfoVo">
        select id,
               web_name,
               web_title,
               notices,
               footer,
               background_image,
               avatar,
               random_avatar,
               random_name,
               random_cover,
               waifu_json,
               status
        from bk_web_info
    </sql>

    <select id="selectWebInfoList" parameterType="WebInfo" resultMap="WebInfoResult">
        <include refid="selectWebInfoVo"/>
        <where>
            <if test="webName != null  and webName != ''">
                and web_name like concat('%', #{webName}, '%')
            </if>
            <if test="webTitle != null  and webTitle != ''">
                and web_title = #{webTitle}
            </if>
            <if test="notices != null  and notices != ''">
                and notices = #{notices}
            </if>
            <if test="footer != null  and footer != ''">
                and footer = #{footer}
            </if>
            <if test="backgroundImage != null  and backgroundImage != ''">
                and background_image = #{backgroundImage}
            </if>
            <if test="avatar != null  and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="randomAvatar != null  and randomAvatar != ''">
                and random_avatar = #{randomAvatar}
            </if>
            <if test="randomName != null  and randomName != ''">
                and random_name like concat('%', #{randomName}, '%')
            </if>
            <if test="randomCover != null  and randomCover != ''">
                and random_cover = #{randomCover}
            </if>
            <if test="waifuJson != null  and waifuJson != ''">
                and waifu_json = #{waifuJson}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectWebInfoById" parameterType="Long"
            resultMap="WebInfoResult">
        <include refid="selectWebInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertWebInfo" parameterType="WebInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into bk_web_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="webName != null and webName != ''">web_name,
            </if>
            <if test="webTitle != null and webTitle != ''">web_title,
            </if>
            <if test="notices != null">notices,
            </if>
            <if test="footer != null and footer != ''">footer,
            </if>
            <if test="backgroundImage != null">background_image,
            </if>
            <if test="avatar != null and avatar != ''">avatar,
            </if>
            <if test="randomAvatar != null">random_avatar,
            </if>
            <if test="randomName != null">random_name,
            </if>
            <if test="randomCover != null">random_cover,
            </if>
            <if test="waifuJson != null">waifu_json,
            </if>
            <if test="status != null">status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="webName != null and webName != ''">#{webName},
            </if>
            <if test="webTitle != null and webTitle != ''">#{webTitle},
            </if>
            <if test="notices != null">#{notices},
            </if>
            <if test="footer != null and footer != ''">#{footer},
            </if>
            <if test="backgroundImage != null">#{backgroundImage},
            </if>
            <if test="avatar != null and avatar != ''">#{avatar},
            </if>
            <if test="randomAvatar != null">#{randomAvatar},
            </if>
            <if test="randomName != null">#{randomName},
            </if>
            <if test="randomCover != null">#{randomCover},
            </if>
            <if test="waifuJson != null">#{waifuJson},
            </if>
            <if test="status != null">#{status},
            </if>
        </trim>
    </insert>

    <update id="updateWebInfo" parameterType="WebInfo">
        update bk_web_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="webName != null and webName != ''">web_name =
                #{webName},
            </if>
            <if test="webTitle != null and webTitle != ''">web_title =
                #{webTitle},
            </if>
            <if test="notices != null">notices =
                #{notices},
            </if>
            <if test="footer != null and footer != ''">footer =
                #{footer},
            </if>
            <if test="backgroundImage != null">background_image =
                #{backgroundImage},
            </if>
            <if test="avatar != null and avatar != ''">avatar =
                #{avatar},
            </if>
            <if test="randomAvatar != null">random_avatar =
                #{randomAvatar},
            </if>
            <if test="randomName != null">random_name =
                #{randomName},
            </if>
            <if test="randomCover != null">random_cover =
                #{randomCover},
            </if>
            <if test="waifuJson != null">waifu_json =
                #{waifuJson},
            </if>
            <if test="status != null">status =
                #{status},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWebInfoById" parameterType="Long">
        delete
        from bk_web_info
        where id = #{id}
    </delete>

    <delete id="deleteWebInfoByIds" parameterType="String">
        delete from bk_web_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
