<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GroupClusterRefMapper">

    <select id="getClusterCount" resultType="com.ruoyi.system.domain.dto.IdCountDTO">
        select cluster_id id,count(1) count
        from t_group_cluster_ref
        where cluster_id in
        <foreach collection="clusterIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by cluster_id
    </select>
</mapper>
