<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderMapper">

    <select id="list" resultType="com.ruoyi.common.core.domain.entity.order.Order" parameterType="com.ruoyi.common.core.domain.app.OrderRequest">
        SELECT
          o.*
        FROM
            t_order as o
        <if test="merchantType != null and merchantType == 1">
            left join t_merchant_info as mi on mi.merchant_id = o.merchant_id
        </if>
        WHERE 1 = 1
        <if test="merchantType != null">
            <if test="merchantType == 0">
                AND o.merchant_id = #{merchantId}
            </if>
            <if test="merchantType == 1">
                AND mi.pl_merchant_id = #{merchantId}
            </if>
        </if>
         <if test="startTime != null and startTime != ''">
            AND o.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND o.create_time &lt;= #{endTime}
        </if>
        <if test="orderId != null and orderId != ''">
            AND o.order_id = #{orderId}
        </if>
        <if test="orderType != null">
            AND o.order_type = #{orderType}
        </if>
        <if test="orderStatus != null">
            AND o.order_status = #{orderStatus}
        </if>
        order by o.create_time desc , o.order_id desc
        LIMIT ${(page-1)*limit},${limit}
    </select>
    
    
   <select id="listCount" parameterType="com.ruoyi.common.core.domain.app.OrderRequest" resultType="java.lang.Integer">
        SELECT
          count(o.order_id)
        FROM
            t_order as o
       <if test="merchantType != null and merchantType == 1">
           left join t_merchant_info as mi on mi.merchant_id = o.merchant_id
       </if>
        WHERE 1 = 1
          <if test="merchantType != null">
              <if test="merchantType == 0">
                  AND o.merchant_id = #{merchantId}
              </if>
              <if test="merchantType == 1">
                  AND mi.pl_merchant_id = #{merchantId}
              </if>
          </if>
       <if test="startTime != null and startTime != ''">
            AND o.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND o.create_time &lt;= #{endTime}
        </if>
        <if test="orderId != null and orderId != ''">
            AND o.order_id = #{orderId}
        </if>
        <if test="orderType != null">
            AND o.order_type = #{orderType}
        </if>
        <if test="orderStatus != null">
            AND o.order_status = #{orderStatus}
        </if>
    </select>
</mapper>
