<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlayMessagePushMapper">


    <select id="getRobotStatisticsVO" resultType="com.ruoyi.system.domain.vo.play.RobotStatisticsVO">
        SELECT
            count( tpgi.group_id ) AS groupNum,
            sum( IF ( tgs.group_status = 1, 1, 0 ) ) AS groupClosureNum
        FROM
            t_play_group_info tpgi
            LEFT JOIN t_group_state tgs ON tpgi.tg_group_id = tgs.group_id
        WHERE
            1 = 1
          AND tpgi.play_id = #{playId}
          AND tpgi.into_status = 2
    </select>

    <select id="robotDetails" resultType="com.ruoyi.system.domain.vo.play.QueryRobotDetailVO">
        SELECT
            tri.country_code AS countryCode,
            tri.country AS countryName,
            count( 1 ) AS robotTotalNUm,
            SUM( IF ( tri.seal_status = 10, 1, 0 ) ) AS robotSuccessNUm,
            SUM( IF ( tri.bidirectional_type = 1, 1, 0 ) ) AS bidirectionalNum,
            SUM( IF ( tri.seal_status != 10, 1, 0 ) ) AS closureNum,
            SUM( IF ( tri.heartbeat_status = 10, 1, 0 ) ) AS offlineNum,
            sum( t.sendTotalNUm ) AS sendTotalNUm,
            sum( t.sendSuccessNUm ) AS sendSuccessNUm,
            sum( t.sendFailNUm ) AS sendFailNUm
        FROM
            (
                SELECT
                    tpmpd.robot_id,
                    count( tpmpd.id ) AS sendTotalNUm,
                    SUM( IF ( tpmpd.send_state = 1, 1, 0 ) ) AS sendSuccessNUm,
                    SUM( IF ( tpmpd.send_state = 2, 1, 0 ) ) AS sendFailNUm
                FROM
                    t_play_message_push tpmp
                        LEFT JOIN t_play_message_push_detail tpmpd ON tpmp.id = tpmpd.play_msg_push_id
                WHERE
                    1 = 1
                  AND tpmp.play_id = #{dto.playId}
                  AND tpmpd.robot_id != ''
                GROUP BY
                    tpmpd.robot_id
                UNION
                select tpbr.robot_id,
                    0 as 'sendTotalNUm',
                    0 as 'sendSuccessNUm',
                    0 as 'sendFailNUm'
                from t_play_back_robot tpbr
                where 1=1
                    and tpbr.is_finish = -1
                    and tpbr.play_id = #{dto.playId}
            ) t
                LEFT JOIN t_robot_info tri ON t.robot_id = tri.robot_serial_no
        WHERE
            1 = 1
        <if test="dto.countryName != null and dto.countryName != ''">
            AND tri.country = #{dto.countryName}
        </if>
        GROUP BY
            tri.country
    </select>
    <select id="robotAccountDetails" resultType="com.ruoyi.system.domain.vo.play.QueryRobotAccountDetailVO">
        SELECT
            t.robot_id as robotSerialNo
            tri.phone,
            tri.country_code AS countryCode,
            tri.country AS countryName,
            tri.heartbeat_status as heartbeatStatus,
            tri.seal_status sealStatus,
            tri.bidirectional_type bidirectionalType,
            t.group_id groupId,
            tgi.group_serial_no groupSerialNo
        FROM
            (
                SELECT
                    tpmpd.robot_id,tpmp.group_id
                FROM
                    t_play_message_push tpmp
                        LEFT JOIN t_play_message_push_detail tpmpd ON tpmp.id = tpmpd.play_msg_push_id
                WHERE
                    1 = 1
                  AND tpmp.play_id = #{dto.playId}
                  AND tpmpd.robot_id != ''
                GROUP BY
                    tpmpd.robot_id
                UNION
                select tpbr.robot_id,tpbr.group_id
                from t_play_back_robot tpbr
                where 1=1
                  and tpbr.is_finish = -1
                  and tpbr.play_id = #{dto.playId}
            ) t
                LEFT JOIN t_robot_info tri ON t.robot_id = tri.robot_serial_no
                left join t_group_info tgi on tgi.group_id = t.group_id
        <where>
            <if test="dto.robotSerialNo != null and dto.robotSerialNo != ''">
                and t.robot_id = #{dto.robotSerialNo}
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                and tri.phone = #{dto.phone}
            </if>
            <if test="dto.countryName != null and dto.countryName != ''">
                and tri.country = #{dto.countryName}
            </if>
            <if test="dto.groupSerialNo != null and dto.groupSerialNo != ''">
                and tgi.group_serial_no = #{dto.groupSerialNo}
            </if>
            <if test="dto.heartbeatStatus != null">
                and tri.heartbeat_status = #{dto.heartbeatStatus}
            </if>
            <if test="dto.sealStatus != null">
                and tri.seal_status = #{dto.sealStatus}
            </if>
            <if test="dto.bidirectionalType != null">
                and tri.bidirectional_type = #{dto.bidirectionalType}
            </if>
        </where>
    </select>
</mapper>
