<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlayMessageMapper">

    <sql id="Base_Column_List">
        play_message_id,play_id,robot_nickname,
        message_sort,message_content,create_time,
        modify_time,interval_time,
        call_robot_nickname,play_error_type
    </sql>

    <select id="selectListByPlayId" resultType="com.ruoyi.common.core.domain.entity.play.PlayMessage">
        select
        <include refid="Base_Column_List" />
        from t_play_message
        where play_id = #{playId}
    </select>
</mapper>
