<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlayIntoGroupTaskMapper">


    <insert id="batchInsert" parameterType="list">
        insert into t_play_into_group_task (`id`,`group_url`, `person_id`, `task_state`, `create_time`,
        `modify_time`,`fail_cause`,`merchant_id`,`group_id`,`play_id`,`is_admin`,`is_error`)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.id},
            #{item.groupUrl},
            #{item.personId},
            #{item.taskState},
            #{item.createTime},
            #{item.modifyTime},
            #{item.failCause},
            #{item.merchantId},
            #{item.groupId},
            #{item.playId},
            #{item.isAdmin},
            #{item.isError}
            )
        </foreach>
    </insert>


    <select id="selectTaskList" resultType="com.ruoyi.system.domain.dto.play.PlayIntoGroupTask">
     select * from   t_play_into_group_task where   task_state = 1 order by create_time limit 500
    </select>

    <select id="selectTaskByCode" resultType="com.ruoyi.system.domain.dto.play.PlayIntoGroupTask">
        select * from t_play_into_group_task where  code = #{code} and task_state = 2 limit 1
    </select>

    <select id="selectIntoGroupLogCount" resultType="java.lang.Integer">
        select count(*) from t_play_into_group_task p
         where 1=1
        <if test="taskState != null and taskState!=''">
            and p.task_state = #{taskState}
        </if>
        <if test="groupUrl != null and groupUrl!=''">
            and p.group_url = #{groupUrl}
        </if>
        <if test="groupName != null and groupName !=''">
            and p.group_name  like CONCAT('%',#{groupName},'%')
        </if>
        <if test="groupId != null and groupId!=''">
            and p.group_id = #{groupId}
        </if>
        <if test="intoType != null and intoType!=''">
            and p.into_type = #{intoType}
        </if>
        <if test="startTime != null and startTime!=''">
            and p.create_time <![CDATA[ >= ]]> #{startTimeDate}
        </if>
        <if test="endTime != null and endTime!=''">
            and p.create_time <![CDATA[ <= ]]> #{endTimeDate}
        </if>
        <if test="merchantId != null and merchantId !=''">
            and p.merchant_Id = #{merchantId}
        </if>
    </select>

    <select id="selectIntoGroupLogList" resultType="com.ruoyi.system.domain.dto.play.PlayIntoGroupTask">
        select p.*,t.task_name as taskName from t_play_into_group_task p
        where 1=1
        <if test="taskState != null and taskState!=''">
            and p.task_state = #{taskState}
        </if>
        <if test="groupUrl != null and groupUrl!=''">
            and p.group_url = #{groupUrl}
        </if>
        <if test="groupName != null and groupName !=''">
            and p.group_name like CONCAT('%',#{groupName},'%')
        </if>
        <if test="groupId != null and groupId!=''">
            and p.group_id = #{groupId}
        </if>
        <if test="intoType != null and intoType!=''">
            and p.into_type = #{intoType}
        </if>
        <if test="startTime != null and startTime!=''">
            and p.create_time <![CDATA[ >= ]]> #{startTimeDate}
        </if>
        <if test="endTime != null and endTime!=''">
            and p.create_time <![CDATA[ <= ]]> #{endTimeDate}
        </if>
        <if test="merchantId != null and merchantId !=''">
            and p.merchant_Id = #{merchantId}
        </if>
        order by id desc limit ${(page-1)*limit},${limit}
    </select>

    <update id="updateTaskByOutTime" >
        update t_play_into_group_task set task_state = 4,fail_cause = #{failCause} where task_state = 2 and  #{outTime} > modify_time
    </update>

    <select id="selectTaskByRetCount" resultType="java.lang.Integer">
        select count(*) from t_play_into_group_task where retry_id = #{retId}
    </select>
    
    <select id="selectIsErrorCount" resultType="java.lang.Integer">
        select count(*) from t_play_into_group_task where group_url = #{groupUrl} and is_error = 1
    </select>

    <select id="updateTaskByErrorGroupId" resultType="java.lang.Integer">
        update t_play_into_group_task set task_state = 4,fail_cause = '当前群回调返回异常，自动中止入群任务' where group_url = #{groupUrl} AND task_state IN (1,2)
    </select>
 </mapper>