<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlayRobotGroupRelationMapper">
    <select id="selectRobotGroup" resultType="java.lang.Integer">
        select count(*) from t_play_robot_group_relation where robot_id = #{robotId} AND group_id = #{groupId} AND state = 1 AND is_delete = 0
    </select>

    <select id="selectRobotGroupCount" resultType="java.lang.Integer">
        select count(*) from t_play_robot_group_relation where  group_id = #{groupId} AND state = 1 AND is_delete = 0
    </select>

    <select id="selectRobotByGroup" resultType="com.ruoyi.system.domain.dto.play.PlayRobotGroupRelation">
        select * from t_play_robot_group_relation where state = 1 and is_delete = 0 and  group_id = #{groupId}
    </select>

    <update id="removeRobotByGroup">
        update t_play_robot_group_relation set state = 2 where group_id = #{groupId} and robot_id in
        <foreach collection="list" item="robotId" separator="," open="(" close=")">
            #{robotId}
        </foreach>
    </update>

    <update id="updateRobotState" >
        update t_play_robot_group_relation set state = 3 where group_id = #{groupId} and state = 1
    </update>

    <select id="selectWaitOutGroup" resultType="com.ruoyi.system.domain.dto.play.PlayRobotGroupRelation">
        select * from t_play_robot_group_relation where state = 3 and is_delete = 0 and   #{time} > modify_time
    </select>

    <update id="updateRobotOutState">
        update t_play_robot_group_relation set state = #{state} where group_id = #{groupId} and robot_id = #{robotId}
    </update>

    <select id="selectWaitOutGroupByGroupId" resultType="com.ruoyi.system.domain.dto.play.PlayRobotGroupRelation">
        select robot_id from t_play_robot_group_relation where state = 3 and is_delete = 0 and group_id = #{groupId}
    </select>

    <select id="selectLatestByRobotId" resultType="com.ruoyi.system.domain.dto.RobotGroupRelationDTO">
        select tprgr.group_id    as groupId,
               tprgr.robot_id    as robotId,
               tpi.id            as playId,
               tprgr.merchant_id as merchantId,
               tpi.state         as state,
               tpi.create_time   as createTime,
               tpi.end_date      as endTime
        from t_play_robot_group_relation tprgr
                 left join t_play_group_info tpgi on tpgi.tg_group_id = tprgr.group_id
                 left join t_play_info tpi on tpi.id = tpgi.play_id
        where tprgr.robot_id = #{robotId}
          and tpi.id is not null
          and tpi.state in (2, 3, 5)
        order by tpi.create_time desc
        limit 1
    </select>

</mapper>