<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RobotMapper">
    <select id="selectRobotPageList" resultType="com.ruoyi.system.domain.vo.robot.SelectRobotListVO">
        select tri.*,
               concat(tri.first_name,' ',tri.last_name) as name,
               trs.one_day_join_group_count as groupToDayNum,
               trs.total_join_group_count as groupTotalNum,
               trs.is_lock as occupyType
        from t_robot_info tri left join t_robot_statistics trs on tri.robot_serial_no = trs.robot_serial_no
        where tri.delete_status = 0
        <if test="dto.startTime != null and dto.startTime != ''">
            and tri.create_time >= #{dto.startTime}
        </if>
        <if test="dto.endTime != null and dto.endTime != ''">
            and tri.create_time &lt; #{dto.endTime}
        </if>
        <if test="dto.type != null">
            and tri.type = #{dto.type}
        </if>
        <if test="dto.tgAppVersion != null and dto.tgAppVersion != ''">
            and tri.tg_app_version = #{dto.tgAppVersion}
        </if>
        <if test="dto.heartbeatStatus != null">
            and tri.heartbeat_status = #{dto.heartbeatStatus}
        </if>
        <if test="dto.sealStatus != null">
            and tri.seal_status = #{dto.sealStatus}
        </if>
        <if test="dto.bidirectionalType != null">
            and tri.bidirectional_type = #{dto.bidirectionalType}
        </if>
        <if test="dto.country != null and dto.country != ''">
            and tri.country like  concat('%',#{dto.country},'%')
        </if>
        <if test="dto.occupyType != null">
            and trs.is_lock = #{dto.occupyType}
        </if>
        <if test="dto.enableType != null">
            and tri.enable_type = #{dto.enableType}
        </if>
        <if test="dto.groupOwner != null">
            and tri.group_owner = #{dto.groupOwner}
        </if>
        <if test="dto.name != null and dto.name != ''">
            and concat(tri.first_name,' ',tri.last_name) like concat('%',#{dto.name},'%')
        </if>
        <if test="dto.phone != null and dto.phone != ''">
            and tri.phone like concat('%',#{dto.phone},'%')
        </if>
        <if test="dto.userName != null and dto.userName != ''">
            and tri.user_name like concat('%',#{dto.userName},'%')
        </if>
        <if test="dto.robotSerialNos != null and dto.robotSerialNos.size > 0">
            and tri.robot_serial_no in
        <foreach collection="dto.robotSerialNos" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        </if>

    </select>

    <select id="getRobotStatisticsVO" resultType="com.ruoyi.system.domain.vo.play.RobotStatisticsVO">
        SELECT
            SUM( IF ( t1.seal_status = 30, 1, 0 ) ) AS robotClosureNum,
            SUM( IF ( t1.bidirectional_type = 1, 1, 0 ) ) AS bidirectionalRobotNum
        FROM
            t_robot_info t1
        WHERE
            t1.robot_serial_no IN
        <foreach collection="robotIds" item="robotId" open="(" separator="," close=")">
            #{robotId}
        </foreach>
    </select>

</mapper>
