<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RobotStatisticsMapper">


    <select id="selectRobotByRule" resultType="com.ruoyi.system.domain.vo.robot.SelectRobotByRuleVO">
        select
            tri.robot_serial_no,
            trs.id
        <if test="dto.ipType == 0">
            ,tri.vpn_ip as ip
        </if>
        <if test="dto.ipType == 1">
            ,tri.vpn_ip_b as ip
        </if>
        <if test="dto.ipType == 2">
            ,tri.vpn_ip_c as ip
        </if>
        from t_robot_info tri
            left join t_robot_statistics trs on tri.robot_serial_no = trs.robot_serial_no
        where tri.enable_type = 1
          and tri.group_owner = 0
          and tri.delete_status = 0
          and trs.is_lock = 0
          and tri.seal_status = 10
          and tri.heartbeat_status = 20
          and tri.bidirectional_type = 0
        <if test="dto.countryCode != null and dto.countryCode.size > 0">
            and tri.country_code in
              <foreach collection="dto.countryCode" item="item" separator="," open="(" close=")">
                  #{item}
              </foreach>
        </if>
        <if test="dto.excludeRobotSerialNos != null and dto.excludeRobotSerialNos.size > 0">
            and tri.robot_serial_no not in
            <foreach collection="dto.excludeRobotSerialNos" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="dto.oneDayJoinGroupCount != null">
            and #{dto.oneDayJoinGroupCount} > trs.one_day_join_group_count
        </if>
        <if test="dto.totalJoinGroupCount != null">
            and #{dto.totalJoinGroupCount} > trs.total_join_group_count
        </if>
        <if test="dto.groupCount != null">
            and #{dto.groupCount} > trs.group_count
        </if>
        <if test="dto.isSetAdmin == 1">
            and #{dto.oneDaySetAdminCount} > trs.one_day_set_admin_count
            and #{dto.totalSetAdminCount} > trs.total_set_admin_count
        </if>
        <if test="dto.ips != null and dto.ips.size > 0">
            <if test="dto.ipType == 0">
                and tri.vpn_ip not in
            </if>
            <if test="dto.ipType == 1">
                and tri.vpn_ip_b not in
            </if>
            <if test="dto.ipType == 2">
                and tri.vpn_ip_c not in
            </if>
            <foreach collection="dto.ips" item="item" separator="," open="(" close=")">
                    #{item}
            </foreach>
        </if>
        <if test="dto.filterUserName != null and dto.filterUserName == 1">
            and (tri.user_name is not null and tri.user_name != '')
        </if>
        <if test="dto.ipType == 1">
            group by tri.vpn_ip_b
        </if>
        <if test="dto.ipType == 2">
            group by tri.vpn_ip_c
        </if>
        limit 0,#{dto.limit}
        <if test="dto.isLock != null and dto.isLock == 1">
            for update
        </if>
    </select>

    <update id="addCount">
        update t_robot_statistics
        set
            one_day_join_group_count = one_day_join_group_count+1,
            total_join_group_count = total_join_group_count+1,
            group_count = group_count+1
            <if test="dto.isSetAdmin == 1">
                ,one_day_set_admin_count = one_day_set_admin_count+1
                ,total_set_admin_count = total_set_admin_count+1
            </if>
        where robot_serial_no in
        <foreach collection="dto.robotSerialNos" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>


    <insert id="addLeaderCount">
        update t_robot_statistics
        set
      total_leader_set_admin_count = total_leader_set_admin_count + ${count}
        where robot_serial_no  = #{robotSerialNo}
    </insert>

    <update id="decreaseRobotGroup">
        update t_robot_statistics set group_count = group_count-1 where robot_serial_no in
        <foreach collection="robotSerialNos" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="clearRobotOneDayNum">
        update t_robot_statistics
        set one_day_join_group_count = one_day_join_group_count * 0,
            one_day_set_admin_count = one_day_set_admin_count * 0
        where 1=1
        <if test="robotSerialNos != null and robotSerialNos.size > 0">
            and robot_serial_no in
            <foreach collection="robotSerialNos" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </update>

</mapper>
