<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RobotMapper">
    <select id="selectRobotPageList" resultType="com.ruoyi.system.domain.vo.robot.SelectRobotListVO">
        select tri.id,
        tri.robot_serial_no,
        user_name,
        head_img_url,
        first_name,
        last_name,
        type,
        seal_status,
        heartbeat_status,
        phone,
        country_code,
        country,
        protocol_type,
        tg_app_version,
        proxy_type,
        vpn_ip,
        vpn_ip_b,
        vpn_ip_c,
        enable_type,
        bidirectional_type,
        bidirectional_unfreeze_time,
        add_time,
        seal_time,
        delete_status,
        group_owner,
        recycle_status,
        bidirectional_time,
        tri.create_time,
        tri.update_time,
        concat(tri.first_name, ' ', tri.last_name) as name,
        trs.one_day_join_group_count               as groupToDayNum,
        trs.total_join_group_count                 as groupTotalNum,
        trs.chatroom_num as chatroomNum,
        trs.is_lock                                as occupyType
        from t_robot_info tri
        left join t_robot_statistics trs on tri.robot_serial_no = trs.robot_serial_no
        where tri.delete_status = 0
        and tri.recycle_status = 0
        <if test="dto.startTime != null and dto.startTime != ''">
            and
            <if test="dto.timeType == 1">
                tri.create_time
            </if>
            <if test="dto.timeType == 2">
                tri.seal_time
            </if>
            <if test="dto.timeType == 3">
                tri.bidirectional_time
            </if>
             >= #{dto.startTime}
        </if>
        <if test="dto.endTime != null and dto.endTime != ''">
            and
            <if test="dto.timeType == 1">
                tri.create_time
            </if>
            <if test="dto.timeType == 2">
                tri.seal_time
            </if>
            <if test="dto.timeType == 3">
                tri.bidirectional_time
            </if>
            &lt; #{dto.endTime}
        </if>
        <if test="dto.type != null">
            and tri.type = #{dto.type}
        </if>
        <if test="dto.tgAppVersion != null and dto.tgAppVersion != ''">
            and tri.tg_app_version = #{dto.tgAppVersion}
        </if>
        <if test="dto.heartbeatStatus != null">
            and tri.heartbeat_status = #{dto.heartbeatStatus}
        </if>
        <if test="dto.sealStatus != null">
            and tri.seal_status = #{dto.sealStatus}
        </if>
        <if test="dto.bidirectionalType != null">
            and tri.bidirectional_type = #{dto.bidirectionalType}
        </if>
        <if test="dto.country != null and dto.country != ''">
            and tri.country like  concat('%',#{dto.country},'%')
        </if>
        <if test="dto.occupyType != null">
            and trs.is_lock = #{dto.occupyType}
        </if>
        <if test="dto.enableType != null">
            and tri.enable_type = #{dto.enableType}
        </if>
        <if test="dto.groupOwner != null">
            and tri.group_owner = #{dto.groupOwner}
        </if>
        <if test="dto.name != null and dto.name != ''">
            and concat(tri.first_name,' ',tri.last_name) like concat('%',#{dto.name},'%')
        </if>
        <if test="dto.phone != null and dto.phone != ''">
            and tri.phone like concat('%',#{dto.phone},'%')
        </if>
        <if test="dto.userName != null and dto.userName != ''">
            and tri.user_name like concat('%',#{dto.userName},'%')
        </if>
        <if test="dto.protocolType != null">
            and tri.protocol_type = #{dto.protocolType}
        </if>
        <if test="dto.isHasUserName != null">
            <if test="dto.isHasUserName == 0">
                and (tri.user_name is null or tri.user_name = '')
            </if>
            <if test="dto.isHasUserName == 1">
                and (tri.user_name is not null and tri.user_name != '')
            </if>
        </if>
        <if test="dto.robotSerialNos != null and dto.robotSerialNos.size > 0">
            and tri.robot_serial_no in
        <foreach collection="dto.robotSerialNos" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        </if>
        <if test="dto.proxyType != null and dto.proxyType != '' and dto.proxyType != '未知'">
            and tri.proxy_type = #{dto.proxyType}
        </if>
        <if test="dto.proxyType != null and dto.proxyType != '' and dto.proxyType == '未知'">
            and (tri.proxy_type is null or tri.proxy_type = '')
        </if>
        <if test="dto.groupType != null and dto.groupType != ''">
            <choose>
                <when test="dto.groupType == 1">
                    <if test="dto.groupOperator == 1">and trs.chatroom_num <![CDATA[>]]> #{dto.groupVal}</if>
                    <if test="dto.groupOperator == 2">and trs.chatroom_num <![CDATA[<]]> #{dto.groupVal}</if>
                </when>
                <when test="dto.groupType == 2">
                    <if test="dto.groupOperator == 1">and trs.one_day_join_group_count <![CDATA[>]]> #{dto.groupVal}</if>
                    <if test="dto.groupOperator == 2">and trs.one_day_join_group_count <![CDATA[<]]> #{dto.groupVal}</if>
                </when>
                <otherwise>
                    <if test="dto.groupOperator == 1">and trs.total_join_group_count <![CDATA[>]]> #{dto.groupVal}</if>
                    <if test="dto.groupOperator == 2">and trs.total_join_group_count <![CDATA[<]]> #{dto.groupVal}</if>
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="getRobotStatisticsVO" resultType="com.ruoyi.system.domain.vo.play.RobotStatisticsVO">
        SELECT
            count( DISTINCT tprgr.robot_id ) AS robotTotalNum,
            SUM( IF ( tri.seal_status != 10, 1, 0 ) ) AS robotClosureNum,
            SUM( IF ( tri.bidirectional_type = 1, 1, 0 ) ) AS bidirectionalRobotNum
        FROM
            t_play_group_info tpgi
                LEFT JOIN (
                SELECT
                    tpmpd.robot_id,tpmp.group_id
                FROM
                    t_play_message_push tpmp
                        LEFT JOIN t_play_message_push_detail tpmpd ON tpmp.id = tpmpd.play_msg_push_id
                WHERE
                    1 = 1
                  AND tpmp.play_id = #{playId}
                  AND tpmpd.robot_id != ''
                GROUP BY
                    tpmpd.robot_id
                UNION
                select tpbr.robot_id,tpbr.group_id
                from t_play_back_robot tpbr
                where 1=1
                  and tpbr.is_finish = -1
                  and tpbr.play_id = #{playId}
            ) tprgr ON tpgi.tg_group_id = tprgr.group_id
                LEFT JOIN t_robot_info tri ON tprgr.robot_id = tri.robot_serial_no
        WHERE
            1 = 1
          AND tpgi.play_id = #{playId}
          AND tpgi.into_status = 2
    </select>

    <select id="selectRobotHandle" resultType="com.ruoyi.system.domain.vo.robot.SelectRobotByRuleVO">
        select tri.id,tri.robot_serial_no from t_robot_info tri
        inner join t_robot_statistics trs on tri.robot_serial_no = trs.robot_serial_no
        where tri.delete_status = 0 and tri.recycle_status = 0 and seal_status = 10
        AND tri.id > #{id}
        order by tri.id asc LIMIT 200
    </select>

</mapper>
