<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zcrpsgl.mapper.TsbzZcrbmsqMapper">
    
    <resultMap type="TsbzZcrbmsq" id="TsbzZcrbmsqResult">
        <result property="id"    column="id"    />
        <result property="jsid"    column="jsid"    />
        <result property="faid"    column="faid"    />
        <result property="zjzid"    column="zjzid"    />
        <result property="jdtype"    column="jdtype"    />
        <result property="sf"    column="sf"    />
        <result property="jxbh"    column="jxbh"    />
        <result property="scfapath"    column="scfapath"    />
        <result property="scfaname"    column="scfaname"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="xxshStatus"    column="xxsh_status"    />
        <result property="qjshStatus"    column="qjsh_status"    />
        <result property="jgqrStatus"    column="jgqr_status"    />
        <result property="xxshyj"    column="xxshyj"    />
        <result property="qjshyj"    column="qjshyj"    />
        <result property="deptid"    column="deptid"    />
    </resultMap>

    <sql id="selectTsbzZcrbmsqVo">
        select a.id, a.jsid, a.zjzid, a.faid,b.jsxm as name, b.dabh as jxbh, b.xb as xb, b.csrq as csrq, b.xd as xd, b.xk as xk, b.zc as zc, c.xxmc as dwmc, c.xxdz as dwdz, d.email as email, d.phonenumber as phone, a.jdtype, a.sf, a.scfapath, a.scfaname, a.create_time, a.create_user, a.xxsh_status,a.qjsh_status,a.jgqr_status,a.xxshyj,a.qjshyj,b.deptid,(select group_concat(name separator ',') from tsbz_zcrzjzmd where find_in_set(id,a.zjzid)) as zjz
        from tsbz_zcrbmsq a
        left join tsbz_jsjbxx b on a.jsid=b.id
        left join tsbz_xxjbxx c on b.deptid=c.xxdm
        left join sys_user d on d.user_name=b.dabh
    </sql>

    <select id="selectTsbzZcrbmsqList" parameterType="TsbzZcrbmsq" resultMap="TsbzZcrbmsqResult">
        <include refid="selectTsbzZcrbmsqVo"/>
        <where>  
            <if test="faid != null "> and a.faid = #{faid}</if>
            <if test="jsid != null "> and a.jsid = #{jsid}</if>
            <if test="zjzid != null  and zjzid != ''"> and a.zjzid = #{zjzid}</if>
            <if test="jdtype != null  and jdtype != ''"> and a.jdtype = #{jdtype}</if>
            <if test="sf != null  and sf != ''"> and a.sf = #{sf}</if>
            <if test="jxbh != null"> and b.dabh = #{jxbh}</if>
            <if test="scfapath != null  and scfapath != ''"> and a.scfapath = #{scfapath}</if>
            <if test="scfaname != null  and scfaname != ''"> and a.scfaname like concat('%', #{scfaname}, '%')</if>
            <if test="createUser != null "> and a.create_user = #{createUser}</if>
            <if test="xxshStatus != null "> and a.xxsh_status = #{xxshStatus}</if>
            <if test="qjshStatus != null "> and a.qjsh_status = #{qjshStatus}</if>
            <if test="jgqrStatus != null "> and a.jgqr_status = #{jgqrStatus}</if>
            <if test="xxshyj != null "> and a.xxshyj = #{xxshyj}</if>
            <if test="qjshyj != null "> and a.qjshyj = #{qjshyj}</if>
            <if test="deptid != null "> and b.deptid = #{deptid}</if>
        </where>
    </select>
    
    <select id="selectTsbzZcrbmsqById" parameterType="Long" resultMap="TsbzZcrbmsqResult">
        <include refid="selectTsbzZcrbmsqVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertTsbzZcrbmsq" parameterType="TsbzZcrbmsq">
        insert into tsbz_zcrbmsq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="faid != null">faid,</if>
            <if test="jsid != null">jsid,</if>
            <if test="zjzid != null">zjzid,</if>
            <if test="jdtype != null">jdtype,</if>
            <if test="sf != null">sf,</if>
            <if test="scfapath != null">scfapath,</if>
            <if test="scfaname != null">scfaname,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="xxshStatus != null">xxsh_status,</if>
            <if test="qjshStatus != null">qjsh_status,</if>
            <if test="jgqrStatus != null">jgqr_status,</if>
            <if test="xxshyj != null">xxshyj,</if>
            <if test="qjshyj != null">qjshyj,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="faid != null">#{faid},</if>
            <if test="jsid != null">#{jsid},</if>
            <if test="zjzid != null">#{zjzid},</if>
            <if test="jdtype != null">#{jdtype},</if>
            <if test="sf != null">#{sf},</if>
            <if test="scfapath != null">#{scfapath},</if>
            <if test="scfaname != null">#{scfaname},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="xxshStatus != null">#{xxshStatus},</if>
            <if test="qjshStatus != null">#{qjshStatus},</if>
            <if test="jgqrStatus != null">#{jgqrStatus},</if>
            <if test="xxshyj != null">#{xxshyj},</if>
            <if test="qjshyj != null">#{qjshyj},</if>
         </trim>
    </insert>

    <update id="updateTsbzZcrbmsq" parameterType="TsbzZcrbmsq">
        update tsbz_zcrbmsq
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="zjzid != null">zjzid = #{zjzid},</if>
            <if test="jdtype != null">jdtype = #{jdtype},</if>
            <if test="sf != null">sf = #{sf},</if>
            <if test="scfapath != null">scfapath = #{scfapath},</if>
            <if test="scfaname != null">scfaname = #{scfaname},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="xxshStatus != null">xxsh_status = #{xxshStatus},</if>
            <if test="qjshStatus != null">qjsh_status = #{qjshStatus},</if>
            <if test="jgqrStatus != null">jgqr_status = #{jgqrStatus},</if>
            <if test="xxshyj != null">xxshyj = #{xxshyj},</if>
            <if test="qjshyj != null">qjshyj = #{qjshyj},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzZcrbmsqById" parameterType="Long">
        delete from tsbz_zcrbmsq where id = #{id}
    </delete>

    <delete id="deleteTsbzZcrbmsqByIds" parameterType="String">
        delete from tsbz_zcrbmsq where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>