<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contest.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.contest.entity.Dept">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, dept_name
    </sql>
    <select id="selByDeptId" resultType="com.ruoyi.contest.entity.Dept">
        SELECT dept_id,dept_name FROM tbl_dept where dept_id=#{deptId}
    </select>

</mapper>
