<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.udef.mapper.DfRobotOrderMapper">
    
    <resultMap type="DfRobotOrder" id="DfRobotOrderResult">
        <result property="id"    column="id"    />
        <result property="predictBalance"    column="predict_balance"    />
        <result property="balance"    column="balance"    />
        <result property="maxPosition"    column="max_position"    />
        <result property="position"    column="position"    />
        <result property="openSide"    column="open_side"    />
        <result property="status"    column="status"    />
        <result property="robotId"    column="robot_id"    />
        <result property="symbol"    column="symbol"    />
    </resultMap>

    <sql id="selectDfRobotOrderVo">
        select id, predict_balance, balance, max_position, position, open_side, status, robot_id, symbol from df_robot_order
    </sql>

    <select id="selectDfRobotOrderList" parameterType="DfRobotOrder" resultMap="DfRobotOrderResult">
        <include refid="selectDfRobotOrderVo"/>
        <where>  
            <if test="predictBalance != null  and predictBalance != ''"> and predict_balance = #{predictBalance}</if>
            <if test="balance != null  and balance != ''"> and balance = #{balance}</if>
            <if test="maxPosition != null "> and max_position = #{maxPosition}</if>
            <if test="position != null "> and position = #{position}</if>
            <if test="openSide != null  and openSide != ''"> and open_side = #{openSide}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="robotId != null "> and robot_id = #{robotId}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectDfRobotOrderById" parameterType="Long" resultMap="DfRobotOrderResult">
        <include refid="selectDfRobotOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDfRobotOrder" parameterType="DfRobotOrder" useGeneratedKeys="true" keyProperty="id">
        insert into df_robot_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="predictBalance != null and predictBalance != ''">predict_balance,</if>
            <if test="balance != null and balance != ''">balance,</if>
            <if test="maxPosition != null">max_position,</if>
            <if test="position != null">position,</if>
            <if test="openSide != null and openSide != ''">open_side,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="robotId != null">robot_id,</if>
            <if test="symbol != null">symbol,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="predictBalance != null and predictBalance != ''">#{predictBalance},</if>
            <if test="balance != null and balance != ''">#{balance},</if>
            <if test="maxPosition != null">#{maxPosition},</if>
            <if test="position != null">#{position},</if>
            <if test="openSide != null and openSide != ''">#{openSide},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="robotId != null">#{robotId},</if>
            <if test="symbol != null">#{symbol},</if>
         </trim>
    </insert>

    <update id="updateDfRobotOrder" parameterType="DfRobotOrder">
        update df_robot_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="predictBalance != null and predictBalance != ''">predict_balance = #{predictBalance},</if>
            <if test="balance != null and balance != ''">balance = #{balance},</if>
            <if test="maxPosition != null">max_position = #{maxPosition},</if>
            <if test="position != null">position = #{position},</if>
            <if test="openSide != null and openSide != ''">open_side = #{openSide},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="robotId != null">robot_id = #{robotId},</if>
            <if test="symbol != null">symbol = #{symbol},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDfRobotOrderById" parameterType="Long">
        delete from df_robot_order where id = #{id}
    </delete>

    <delete id="deleteDfRobotOrderByIds" parameterType="String">
        delete from df_robot_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>