<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.HtlRoomPriceTypeMapper">
    
    <resultMap type="HtlRoomPriceType" id="HtlRoomPriceTypeResult">
        <result property="hotelId"    column="hotel_id"    />
        <result property="type1"    column="type1"    />
        <result property="type1Visible"    column="type1_visible"    />
        <result property="type2"    column="type2"    />
        <result property="type2Visible"    column="type2_visible"    />
        <result property="type3"    column="type3"    />
        <result property="type3Visible"    column="type3_visible"    />
        <result property="type4"    column="type4"    />
        <result property="type4Visible"    column="type4_visible"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHtlRoomPriceTypeVo">
        select hotel_id, type1, type1_visible, type2, type2_visible, type3, type3_visible, type4, type4_visible, create_by, create_time, update_by, update_time from htl_room_price_type
    </sql>

    <select id="selectHtlRoomPriceTypeList" parameterType="HtlRoomPriceType" resultMap="HtlRoomPriceTypeResult">
        <include refid="selectHtlRoomPriceTypeVo"/>
        <where>  
            <if test="type1 != null  and type1 != ''"> and type1 = #{type1}</if>
            <if test="type1Visible != null "> and type1_visible = #{type1Visible}</if>
            <if test="type2 != null  and type2 != ''"> and type2 = #{type2}</if>
            <if test="type2Visible != null "> and type2_visible = #{type2Visible}</if>
            <if test="type3 != null  and type3 != ''"> and type3 = #{type3}</if>
            <if test="type3Visible != null "> and type3_visible = #{type3Visible}</if>
            <if test="type4 != null  and type4 != ''"> and type4 = #{type4}</if>
            <if test="type4Visible != null "> and type4_visible = #{type4Visible}</if>
        </where>
    </select>
    
    <select id="selectHtlRoomPriceTypeById" parameterType="Long" resultMap="HtlRoomPriceTypeResult">
        <include refid="selectHtlRoomPriceTypeVo"/>
        where hotel_id = #{hotelId}
    </select>
        
    <insert id="insertHtlRoomPriceType" parameterType="HtlRoomPriceType">
        insert into htl_room_price_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">hotel_id,</if>
            <if test="type1 != null">type1,</if>
            <if test="type1Visible != null">type1_visible,</if>
            <if test="type2 != null">type2,</if>
            <if test="type2Visible != null">type2_visible,</if>
            <if test="type3 != null">type3,</if>
            <if test="type3Visible != null">type3_visible,</if>
            <if test="type4 != null">type4,</if>
            <if test="type4Visible != null">type4_visible,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">#{hotelId},</if>
            <if test="type1 != null">#{type1},</if>
            <if test="type1Visible != null">#{type1Visible},</if>
            <if test="type2 != null">#{type2},</if>
            <if test="type2Visible != null">#{type2Visible},</if>
            <if test="type3 != null">#{type3},</if>
            <if test="type3Visible != null">#{type3Visible},</if>
            <if test="type4 != null">#{type4},</if>
            <if test="type4Visible != null">#{type4Visible},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHtlRoomPriceType" parameterType="HtlRoomPriceType">
        update htl_room_price_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="type1 != null">type1 = #{type1},</if>
            <if test="type1Visible != null">type1_visible = #{type1Visible},</if>
            <if test="type2 != null">type2 = #{type2},</if>
            <if test="type2Visible != null">type2_visible = #{type2Visible},</if>
            <if test="type3 != null">type3 = #{type3},</if>
            <if test="type3Visible != null">type3_visible = #{type3Visible},</if>
            <if test="type4 != null">type4 = #{type4},</if>
            <if test="type4Visible != null">type4_visible = #{type4Visible},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where hotel_id = #{hotelId}
    </update>

    <delete id="deleteHtlRoomPriceTypeById" parameterType="Long">
        delete from htl_room_price_type where hotel_id = #{hotelId}
    </delete>

    <delete id="deleteHtlRoomPriceTypeByIds" parameterType="String">
        delete from htl_room_price_type where hotel_id in 
        <foreach item="hotelId" collection="array" open="(" separator="," close=")">
            #{hotelId}
        </foreach>
    </delete>
    
</mapper>