<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.HtlRoomPriceMapper">
    
    <resultMap type="HtlRoomPrice" id="HtlRoomPriceResult">
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="roomPriceTypeId"    column="room_price_type_id"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="roomPrice"    column="room_price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHtlRoomPriceVo">
        select room_type_id, room_price_type_id, hotel_id, room_price, create_by, create_time, update_by, update_time from htl_room_price
    </sql>

    <select id="selectHtlRoomPriceList" parameterType="HtlRoomPrice" resultMap="HtlRoomPriceResult">
        <include refid="selectHtlRoomPriceVo"/>
        <where>  
            <if test="roomTypeId != null "> and room_type_id = #{roomTypeId}</if>
            <if test="roomPriceTypeId != null "> and room_price_type_id = #{roomPriceTypeId}</if>
            <if test="hotelId != null "> and hotel_id = #{hotelId}</if>
            <if test="roomPrice != null "> and room_price = #{roomPrice}</if>
        </where>
    </select>
    
    <select id="selectHtlRoomPriceById" parameterType="Long" resultMap="HtlRoomPriceResult">
        <include refid="selectHtlRoomPriceVo"/>
        where room_type_id = #{roomTypeId}
    </select>
        
    <insert id="insertHtlRoomPrice" parameterType="HtlRoomPrice">
        insert into htl_room_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="roomPriceTypeId != null">room_price_type_id,</if>
            <if test="hotelId != null">hotel_id,</if>
            <if test="roomPrice != null">room_price,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="roomPriceTypeId != null">#{roomPriceTypeId},</if>
            <if test="hotelId != null">#{hotelId},</if>
            <if test="roomPrice != null">#{roomPrice},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHtlRoomPrice" parameterType="HtlRoomPrice">
        update htl_room_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomPriceTypeId != null">room_price_type_id = #{roomPriceTypeId},</if>
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="roomPrice != null">room_price = #{roomPrice},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where room_type_id = #{roomTypeId}
    </update>

    <delete id="deleteHtlRoomPriceById" parameterType="Long">
        delete from htl_room_price where room_type_id = #{roomTypeId}
    </delete>

    <delete id="deleteHtlRoomPriceByIds" parameterType="String">
        delete from htl_room_price where room_type_id in 
        <foreach item="roomTypeId" collection="array" open="(" separator="," close=")">
            #{roomTypeId}
        </foreach>
    </delete>
    
</mapper>