<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.csa.mapper.GardenLogMapper">
    
    <resultMap type="GardenLog" id="GardenLogResult">
        <result property="id"    column="id"    />
        <result property="memberId"    column="member_id"    />
        <result property="gardenId"    column="garden_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="logType"    column="log_type"    />
        <result property="content"    column="content"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="publisher"    column="publisher"    />
        <result property="publishStatus"    column="publish_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGardenLogVo">
        select id, member_id, garden_id, task_id, log_type, content, publish_time, publisher, publish_status, del_flag, create_by, create_time, update_by, update_time, remark from csa_garden_log
    </sql>

    <select id="selectGardenLogList" parameterType="GardenLog" resultMap="GardenLogResult">
        <include refid="selectGardenLogVo"/>
        <where>  
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="gardenId != null "> and garden_id = #{gardenId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="logType != null  and logType != ''"> and log_type = #{logType}</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
            <if test="publisher != null "> and publisher = #{publisher}</if>
            <if test="publishStatus != null  and publishStatus != ''"> and publish_status = #{publishStatus}</if>
        </where>
    </select>
    
    <select id="selectGardenLogById" parameterType="Long" resultMap="GardenLogResult">
        <include refid="selectGardenLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGardenLog" parameterType="GardenLog" useGeneratedKeys="true" keyProperty="id">
        insert into csa_garden_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="gardenId != null">garden_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="logType != null and logType != ''">log_type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="publisher != null">publisher,</if>
            <if test="publishStatus != null and publishStatus != ''">publish_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="gardenId != null">#{gardenId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="logType != null and logType != ''">#{logType},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="publisher != null">#{publisher},</if>
            <if test="publishStatus != null and publishStatus != ''">#{publishStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGardenLog" parameterType="GardenLog">
        update csa_garden_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="gardenId != null">garden_id = #{gardenId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="logType != null and logType != ''">log_type = #{logType},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="publishStatus != null and publishStatus != ''">publish_status = #{publishStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGardenLogById" parameterType="Long">
        delete from csa_garden_log where id = #{id}
    </delete>

    <delete id="deleteGardenLogByIds" parameterType="String">
        delete from csa_garden_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>