<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edgelight.ed.mapper.EnterpriseInfoMapper">
    
    <resultMap type="EnterpriseInfo" id="EnterpriseInfoResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="pwd"    column="pwd"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="personScale"    column="person_scale"    />
        <result property="registeredCapital"    column="registered_capital"    />
        <result property="registeredDate"    column="registered_date"    />
        <result property="areaCovered"    column="area_covered"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="email"    column="email"    />
        <result property="phoneNo"    column="phone_no"    />
        <result property="street"    column="street"    />
        <result property="isKeypoint"    column="is_keypoint"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="address"    column="address"    />
        <result property="introduce"    column="introduce"    />
        <result property="logoImage"    column="logo_image"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="deletedBy"    column="deleted_by"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectEnterpriseInfoVo">
        select id, account, pwd, name, type, person_scale, registered_capital, registered_date, area_covered, legal_person, email, phone_no, street, is_keypoint, province, city, district, address, introduce, logo_image, created_by, created_at, updated_by, updated_at, deleted_by, is_deleted from el_enterprise_info
    </sql>

    <select id="selectEnterpriseInfoList" parameterType="EnterpriseInfo" resultMap="EnterpriseInfoResult">
        <include refid="selectEnterpriseInfoVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account like concat('%', #{account}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="params.beginRegisteredDate != null and params.beginRegisteredDate != '' and params.endRegisteredDate != null and params.endRegisteredDate != ''"> and registered_date between #{params.beginRegisteredDate} and #{params.endRegisteredDate}</if>
            <if test="isKeypoint != null "> and is_keypoint = #{isKeypoint}</if>
        </where>
    </select>
    
    <select id="selectEnterpriseInfoById" parameterType="Long" resultMap="EnterpriseInfoResult">
        <include refid="selectEnterpriseInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEnterpriseInfo" parameterType="EnterpriseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into el_enterprise_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="pwd != null and pwd != ''">pwd,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="personScale != null">person_scale,</if>
            <if test="registeredCapital != null">registered_capital,</if>
            <if test="registeredDate != null">registered_date,</if>
            <if test="areaCovered != null">area_covered,</if>
            <if test="legalPerson != null">legal_person,</if>
            <if test="email != null">email,</if>
            <if test="phoneNo != null">phone_no,</if>
            <if test="street != null">street,</if>
            <if test="isKeypoint != null">is_keypoint,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="address != null">address,</if>
            <if test="introduce != null">introduce,</if>
            <if test="logoImage != null">logo_image,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deletedBy != null">deleted_by,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="pwd != null and pwd != ''">#{pwd},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="personScale != null">#{personScale},</if>
            <if test="registeredCapital != null">#{registeredCapital},</if>
            <if test="registeredDate != null">#{registeredDate},</if>
            <if test="areaCovered != null">#{areaCovered},</if>
            <if test="legalPerson != null">#{legalPerson},</if>
            <if test="email != null">#{email},</if>
            <if test="phoneNo != null">#{phoneNo},</if>
            <if test="street != null">#{street},</if>
            <if test="isKeypoint != null">#{isKeypoint},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="address != null">#{address},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="logoImage != null">#{logoImage},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deletedBy != null">#{deletedBy},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateEnterpriseInfo" parameterType="EnterpriseInfo">
        update el_enterprise_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="pwd != null and pwd != ''">pwd = #{pwd},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="personScale != null">person_scale = #{personScale},</if>
            <if test="registeredCapital != null">registered_capital = #{registeredCapital},</if>
            <if test="registeredDate != null">registered_date = #{registeredDate},</if>
            <if test="areaCovered != null">area_covered = #{areaCovered},</if>
            <if test="legalPerson != null">legal_person = #{legalPerson},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phoneNo != null">phone_no = #{phoneNo},</if>
            <if test="street != null">street = #{street},</if>
            <if test="isKeypoint != null">is_keypoint = #{isKeypoint},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="address != null">address = #{address},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="logoImage != null">logo_image = #{logoImage},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEnterpriseInfoById" parameterType="Long">
        delete from el_enterprise_info where id = #{id}
    </delete>

    <delete id="deleteEnterpriseInfoByIds" parameterType="String">
        delete from el_enterprise_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>