<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qtjs.mapper.TsbzQtjspxshMapper">

    <resultMap type="TsbzQtjspxsh" id="TsbzQtjspxshResult">
        <result property="id" column="id"/>
        <result property="faid" column="faid"/>
        <result property="jsid" column="jsid"/>
        <result property="status" column="status"/>
        <result property="xjshr" column="xjshr"/>
        <result property="xjshyj" column="xjshyj"/>
        <result property="xjshjy" column="xjshjy"/>
        <result property="qjshr" column="qjshr"/>
        <result property="qjshyj" column="qjshyj"/>
        <result property="qjshjy" column="qjshjy"/>
        <result property="createuseird" column="createuseird"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTsbzQtjspxshVo">
        select id, faid, jsid, status, xjshr, xjshyj, xjshjy, qjshr, qjshyj, qjshjy, createuseird, create_time from tsbz_qtjspxsh
    </sql>

    <select id="selectTsbzQtjspxshList" parameterType="TsbzQtjspxsh" resultMap="TsbzQtjspxshResult">
        <include refid="selectTsbzQtjspxshVo"/>
        <where>
            <if test="faid != null ">and faid = #{faid}</if>
            <if test="jsid != null ">and jsid = #{jsid}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="xjshr != null ">and xjshr = #{xjshr}</if>
            <if test="xjshyj != null  and xjshyj != ''">and xjshyj = #{xjshyj}</if>
            <if test="xjshjy != null  and xjshjy != ''">and xjshjy = #{xjshjy}</if>
            <if test="qjshr != null ">and qjshr = #{qjshr}</if>
            <if test="qjshyj != null  and qjshyj != ''">and qjshyj = #{qjshyj}</if>
            <if test="qjshjy != null  and qjshjy != ''">and qjshjy = #{qjshjy}</if>
            <if test="createuseird != null ">and createuseird = #{createuseird}</if>
        </where>
    </select>

    <select id="selectTsbzQtjspxshById" parameterType="Long" resultMap="TsbzQtjspxshResult">
        <include refid="selectTsbzQtjspxshVo"/>
        where id = #{id}
    </select>

    <insert id="insertTsbzQtjspxsh" parameterType="TsbzQtjspxsh" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_qtjspxsh
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faid != null">faid,</if>
            <if test="jsid != null">jsid,</if>
            <if test="status != null">status,</if>
            <if test="xjshr != null">xjshr,</if>
            <if test="xjshyj != null">xjshyj,</if>
            <if test="xjshjy != null">xjshjy,</if>
            <if test="qjshr != null">qjshr,</if>
            <if test="qjshyj != null">qjshyj,</if>
            <if test="qjshjy != null">qjshjy,</if>
            <if test="createuseird != null">createuseird,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faid != null">#{faid},</if>
            <if test="jsid != null">#{jsid},</if>
            <if test="status != null">#{status},</if>
            <if test="xjshr != null">#{xjshr},</if>
            <if test="xjshyj != null">#{xjshyj},</if>
            <if test="xjshjy != null">#{xjshjy},</if>
            <if test="qjshr != null">#{qjshr},</if>
            <if test="qjshyj != null">#{qjshyj},</if>
            <if test="qjshjy != null">#{qjshjy},</if>
            <if test="createuseird != null">#{createuseird},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzQtjspxsh" parameterType="TsbzQtjspxsh">
        update tsbz_qtjspxsh
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="xjshr != null">xjshr = #{xjshr},</if>
            <if test="xjshyj != null">xjshyj = #{xjshyj},</if>
            <if test="xjshjy != null">xjshjy = #{xjshjy},</if>
            <if test="qjshr != null">qjshr = #{qjshr},</if>
            <if test="qjshyj != null">qjshyj = #{qjshyj},</if>
            <if test="qjshjy != null">qjshjy = #{qjshjy},</if>
            <if test="createuseird != null">createuseird = #{createuseird},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzQtjspxshById" parameterType="Long">
        delete from tsbz_qtjspxsh where id = #{id}
    </delete>

    <delete id="deleteTsbzQtjspxshByIds" parameterType="String">
        delete from tsbz_qtjspxsh where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>