<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qtjs.mapper.TsbzQtjspxshMapper">

    <resultMap type="TsbzQtjspxsh" id="TsbzQtjspxshResult">
        <result property="id" column="id"/>
        <result property="faid" column="faid"/>
        <result property="jsid" column="jsid"/>
        <result property="status" column="status"/>
        <result property="xjshr" column="xjshr"/>
        <result property="xjshyj" column="xjshyj"/>
        <result property="xjshjy" column="xjshjy"/>
        <result property="qjshr" column="qjshr"/>
        <result property="qjshyj" column="qjshyj"/>
        <result property="qjshjy" column="qjshjy"/>
        <result property="createuseird" column="createuseird"/>
        <result property="createTime" column="create_time"/>
        <association property="tsbzJsjbxx" column="jsid" javaType="TsbzJsjbxx" resultMap="TsbzJsjbxxResult"/>
    </resultMap>

    <resultMap type="TsbzJsjbxx" id="TsbzJsjbxxResult">
        <result property="id" column="id"/>
        <result property="jsid" column="jsid"/>
        <result property="jsxm" column="jsxm"/>
        <result property="xb" column="xb"/>
        <result property="deptid" column="deptid"/>
        <result property="dabh" column="dabh"/>
        <result property="zjlx" column="zjlx"/>
        <result property="zjhm" column="zjhm"/>
        <result property="bzzt" column="bzzt"/>
        <result property="gwzt" column="gwzt"/>
        <result property="gwlx" column="gwlx"/>
        <result property="csrq" column="csrq"/>
        <result property="rjnx" column="rjnx"/>
        <result property="zc" column="zc"/>
        <result property="zyry" column="zyry"/>
        <result property="tzb" column="tzb"/>
        <result property="zks" column="zks"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTsbzQtjspxshVo">
        select a.id, a.faid, a.jsid, a.status, a.xjshr, a.xjshyj, a.xjshjy, a.qjshr, a.qjshyj, a.qjshjy, a.createuseird, a.create_time,b.jsxm, b.xb, b.deptid, b.dabh, b.zjlx, b.zjhm, b.bzzt, b.gwzt, b.gwlx, b.csrq, b.rjnx, b.zc, b.zyry, b.tzb, b.zks from tsbz_qtjspxsh a
        left join tsbz_jsjbxx b on a.jsid=b.id
    </sql>

    <select id="selectTsbzQtjspxshList" parameterType="TsbzQtjspxsh" resultMap="TsbzQtjspxshResult">
        <include refid="selectTsbzQtjspxshVo"/>
        <where>
            <if test="faid != null ">and a.faid = #{faid}</if>
            <if test="jsid != null ">and a.jsid = #{jsid}</if>
            <if test="status != null  and status != ''">and a.status = #{status}</if>
            <if test="xjshr != null ">and a.xjshr = #{xjshr}</if>
            <if test="xjshyj != null  and xjshyj != ''">and a.xjshyj = #{xjshyj}</if>
            <if test="xjshjy != null  and xjshjy != ''">and a.xjshjy = #{xjshjy}</if>
            <if test="qjshr != null ">and a.qjshr = #{qjshr}</if>
            <if test="qjshyj != null  and qjshyj != ''">and a.qjshyj = #{qjshyj}</if>
            <if test="qjshjy != null  and qjshjy != ''">and a.qjshjy = #{qjshjy}</if>
            <if test="createuseird != null ">and a.createuseird = #{createuseird}</if>
        </where>
    </select>

    <select id="selectTsbzQtjspxshById" parameterType="Long" resultMap="TsbzQtjspxshResult">
        <include refid="selectTsbzQtjspxshVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertTsbzQtjspxsh" parameterType="TsbzQtjspxsh" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_qtjspxsh
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faid != null">faid,</if>
            <if test="jsid != null">jsid,</if>
            <if test="status != null">status,</if>
            <if test="xjshr != null">xjshr,</if>
            <if test="xjshyj != null">xjshyj,</if>
            <if test="xjshjy != null">xjshjy,</if>
            <if test="qjshr != null">qjshr,</if>
            <if test="qjshyj != null">qjshyj,</if>
            <if test="qjshjy != null">qjshjy,</if>
            <if test="createuseird != null">createuseird,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faid != null">#{faid},</if>
            <if test="jsid != null">#{jsid},</if>
            <if test="status != null">#{status},</if>
            <if test="xjshr != null">#{xjshr},</if>
            <if test="xjshyj != null">#{xjshyj},</if>
            <if test="xjshjy != null">#{xjshjy},</if>
            <if test="qjshr != null">#{qjshr},</if>
            <if test="qjshyj != null">#{qjshyj},</if>
            <if test="qjshjy != null">#{qjshjy},</if>
            <if test="createuseird != null">#{createuseird},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzQtjspxsh" parameterType="TsbzQtjspxsh">
        update tsbz_qtjspxsh
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="xjshr != null">xjshr = #{xjshr},</if>
            <if test="xjshyj != null">xjshyj = #{xjshyj},</if>
            <if test="xjshjy != null">xjshjy = #{xjshjy},</if>
            <if test="qjshr != null">qjshr = #{qjshr},</if>
            <if test="qjshyj != null">qjshyj = #{qjshyj},</if>
            <if test="qjshjy != null">qjshjy = #{qjshjy},</if>
            <if test="createuseird != null">createuseird = #{createuseird},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzQtjspxshById" parameterType="Long">
        delete from tsbz_qtjspxsh where id = #{id}
    </delete>

    <delete id="deleteTsbzQtjspxshByIds" parameterType="String">
        delete from tsbz_qtjspxsh where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>