# 数据源配置
spring:
    # redis 配置
    redis:
        # 地址
        host: localhost
        # 端口，默认为6379
        port: 6379
        # 数据库索引
        database: 0
        # 密码
        password: jmspring
        # 连接超时时间
        timeout: 10s
        lettuce:
            pool:
                # 连接池中的最小空闲连接
                min-idle: 0
                # 连接池中的最大空闲连接
                max-idle: 8
                # 连接池的最大数据库连接数
                max-active: 8
                # #连接池最大阻塞等待时间（使用负值表示没有限制）
                max-wait: -1ms
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        druid:
            # 主库数据源
            master:
                url: jdbc:mysql://39.129.163.118:33188/company_loan?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                password: root
            # 从库数据源
            slave:
                enabled: true
                url: jdbc:oracle:thin:@39.129.163.118:1521/XE
                username: XY_FGWXYD
                password: XY_FGWXYD_123456
            api:
                enabled: true
                url: jdbc:mysql://39.129.163.118:33188/xdztc-report?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                password: root
            # 初始连接数
            initialSize: 5
            # 最小连接池数量
            minIdle: 10
            # 最大连接池数量
            maxActive: 20
            # 配置获取连接等待超时的时间
            maxWait: 60000
            # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
            timeBetweenEvictionRunsMillis: 60000
            # 配置一个连接在池中最小生存的时间，单位是毫秒
            minEvictableIdleTimeMillis: 300000
            # 配置一个连接在池中最大生存的时间，单位是毫秒
            maxEvictableIdleTimeMillis: 900000
            # 配置检测连接是否有效
            validationQuery: SELECT 1 FROM DUAL
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter:
                enabled: true
            statViewServlet:
                enabled: true
                # 设置白名单，不填则允许所有访问
                allow:
                url-pattern: /druid/*
                # 控制台管理用户名和密码
                login-username: ruoyi
                login-password: 123456
            filter:
                stat:
                    enabled: true
                    # 慢SQL记录
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true

# api接口服务服务器配置
api:
    domain: http://localhost:8080/

# 信用三期的相关api接口
#credit:
#    domain: http://dev.fjhrt.com/
#    account: service_singleUser
#    password: d7e5fefe300d45d09044b4abca2c5185
#    appId: b392q1IW
#    code: 1111

# 金融产品的相关api接口（测试环境，经常出问题）
#bankapi:
#    domain: http://qzh.58.56.115.134.nip.io:5222/qzh-xyd/business/api/interfaces/openApi/
#    appKey: 6c2544dcad39441c8e81c790bf9009f1
#    appSecret: cb8135c8442843909cf47d4c359b31a0

# 信用三期的相关api接口（正式环境）
credit:
    domain: https://credit.quanzhou.gov.cn/
    account: service_XYPT_DJ
    password: e7f19f36ee1b4e73916934a533f020e6
    appId: b392q1IW
    code: 1111
#
## 金融产品的相关api接口（正式环境）
bankapi:
    domain: http://credit.quanzhou.gov.cn:9081/api/interfaces/openApi/
    appKey: a67234c358304cfb9f699e98a2f83f86
    appSecret: 3965fcce83c64d9d87b02a7a9517bfa7
    
# 信用三期短信接口配置
creditsms:
    domain: http://222.77.0.192:9006/api/dataApi
    url: /sendSms/sendApi
    merchantId: 'qzxdztc'
    merchantName: '信贷直通车'
    salt: 'pszx&qzxyd2022'
    platformPublicKey: '5789037fc1b011eabc1ff6493b02338x'
    platformPrivateKey: '578903D6C1B011EABC1FF6493B02338X'