<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onethinker.user.mapper.PlatformUserMapper">

    <resultMap type="PlatformUser" id="PlatformUserResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="enabled" column="enabled"/>
        <result property="weight" column="weight"/>
        <result property="nickName" column="nick_name"/>
        <result property="dataId" column="data_id"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPlatformUserVo">
        select id, create_time, update_time, enabled, weight, nick_name, data_id, avatar_url, remark from
        t_platform_user
    </sql>

    <select id="selectPlatformUserList" parameterType="PlatformUser" resultMap="PlatformUserResult">
        <include refid="selectPlatformUserVo"/>
        <where>
            <if test="enabled != null ">and enabled = #{enabled}</if>
            <if test="weight != null ">and weight = #{weight}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="dataId != null ">and data_id = #{dataId}</if>
            <if test="avatarUrl != null  and avatarUrl != ''">and avatar_url = #{avatarUrl}</if>
        </where>
    </select>

    <select id="selectPlatformUserById" parameterType="Long" resultMap="PlatformUserResult">
        <include refid="selectPlatformUserVo"/>
        where id = #{id}
    </select>
    <select id="selectPlatformUserByIds" resultType="com.onethinker.user.domain.PlatformUser">
        <include refid="selectPlatformUserVo"/>
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertPlatformUser" parameterType="PlatformUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_platform_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="enabled != null">enabled,</if>
            <if test="weight != null">weight,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="dataId != null">data_id,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="weight != null">#{weight},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="dataId != null">#{dataId},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePlatformUser" parameterType="PlatformUser">
        update t_platform_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="dataId != null">data_id = #{dataId},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlatformUserById" parameterType="Long">
        delete from t_platform_user where id = #{id}
    </delete>

    <delete id="deletePlatformUserByIds" parameterType="String">
        delete from t_platform_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
