<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.UserWalletRecordMapper">
    
    <resultMap type="UserWalletRecord" id="UserWalletRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="rechargeRecordId"    column="recharge_record_id"    />
        <result property="walletRecordType"    column="wallet_record_type"    />
        <result property="amount"    column="amount"    />
        <result property="amountBefore"    column="amount_before"    />
        <result property="amountAfter"    column="amount_after"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectUserWalletRecordVo">
        select id, user_id, recharge_record_id, wallet_record_type, amount, amount_before, amount_after, remark, create_time from bus_user_wallet_record
    </sql>

    <select id="selectUserWalletRecordList" parameterType="UserWalletRecord" resultMap="UserWalletRecordResult">
        <include refid="selectUserWalletRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="rechargeRecordId != null "> and recharge_record_id = #{rechargeRecordId}</if>
            <if test="walletRecordType != null  and walletRecordType != ''"> and wallet_record_type = #{walletRecordType}</if>
            <if test="amount != null "> and amount &gt;= #{amount}</if>
        </where>
    </select>
    
    <select id="selectUserWalletRecordById" parameterType="Long" resultMap="UserWalletRecordResult">
        <include refid="selectUserWalletRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserWalletRecord" parameterType="UserWalletRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bus_user_wallet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="rechargeRecordId != null">recharge_record_id,</if>
            <if test="walletRecordType != null">wallet_record_type,</if>
            <if test="amount != null">amount,</if>
            <if test="amountBefore != null">amount_before,</if>
            <if test="amountAfter != null">amount_after,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="rechargeRecordId != null">#{rechargeRecordId},</if>
            <if test="walletRecordType != null">#{walletRecordType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="amountBefore != null">#{amountBefore},</if>
            <if test="amountAfter != null">#{amountAfter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateUserWalletRecord" parameterType="UserWalletRecord">
        update bus_user_wallet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="rechargeRecordId != null">recharge_record_id = #{rechargeRecordId},</if>
            <if test="walletRecordType != null">wallet_record_type = #{walletRecordType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="amountBefore != null">amount_before = #{amountBefore},</if>
            <if test="amountAfter != null">amount_after = #{amountAfter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserWalletRecordById" parameterType="Long">
        delete from bus_user_wallet_record where id = #{id}
    </delete>

    <delete id="deleteUserWalletRecordByIds" parameterType="String">
        delete from bus_user_wallet_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>