<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xypsgl.mapper.TsbzXybmsqMapper">
    
    <resultMap type="TsbzXybmsq" id="TsbzXybmsqResult">
        <result property="id"    column="id"    />
        <result property="faid"    column="faid"    />
        <result property="jdid"    column="jdid"    />
        <result property="jsid"    column="jsid"    />
        <result property="jdtype"    column="jdtype"    />
        <result property="sf"    column="sf"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="xxshstatus"    column="xxshstatus"    />
        <result property="xxshjy"    column="xxshjy"    />
        <result property="qjshstatus"    column="qjshstatus"    />
        <result property="qjshjy"    column="qjshjy"    />
        <result property="xyxbstatus"    column="xyxbstatus"    />
        <result property="xypsjgqrstatus"    column="xypsjgqrstatus"    />
    </resultMap>

    <sql id="selectTsbzXybmsqVo">
        select a.id, a.faid, a.jdid, a.jsid, b.jsxm as name, b.dabh as jxbh, b.xb as xb, b.csrq as csrq, b.xd as xd, b.xk as xk, b.zc as zc, c.xxmc as dwmc, c.xxdz as dwdz, d.email as email, d.phonenumber as phone, a.jdtype, a.sf, a.create_time, a.create_user, a.xxshstatus, a.xxshjy, a.qjshstatus, a.qjshjy, a.xyxbstatus, a.xypsjgqrstatus
        from tsbz_xybmsq a
        left join tsbz_jsjbxx b on a.jsid=b.id
        left join tsbz_xxjbxx c on b.deptid=c.xxdm
        left join sys_user d on d.user_name=b.dabh
    </sql>

    <select id="selectTsbzXybmsqList" parameterType="TsbzXybmsq" resultMap="TsbzXybmsqResult">
        <include refid="selectTsbzXybmsqVo"/>
        <where>  
            <if test="faid != null "> and a.faid = #{faid}</if>
            <if test="jdid != null "> and a.jdid = #{jdid}</if>
            <if test="jsid != null "> and a.jsid = #{jsid}</if>
            <if test="jdtype != null  and jdtype != ''"> and a.jdtype = #{jdtype}</if>
            <if test="sf != null  and sf != ''"> and a.sf = #{sf}</if>
            <if test="xxshstatus != null  and xxshstatus != ''"> and a.xxshstatus = #{xxshstatus}</if>
            <if test="xxshjy != null  and xxshjy != ''"> and a.xxshjy = #{xxshjy}</if>
            <if test="qjshstatus != null  and qjshstatus != ''"> and a.qjshstatus = #{qjshstatus}</if>
            <if test="qjshjy != null  and qjshjy != ''"> and a.qjshjy = #{qjshjy}</if>
            <if test="createUser != null "> and a.create_user = #{createUser}</if>
            <if test="xyxbstatus != null "> and a.xyxbstatus = #{xyxbstatus}</if>
            <if test="xypsjgqrstatus != null "> and a.xypsjgqrstatus = #{xypsjgqrstatus}</if>
        </where>
    </select>

    <select id="selectTsbzXybmsqById" parameterType="Long" resultMap="TsbzXybmsqResult">
        <include refid="selectTsbzXybmsqVo"/>
        where a.id = #{id}
    </select>

    <select id="selectCountYibaoming" parameterType="TsbzXybmsq" resultMap="TsbzXybmsqResult">
        select count(*) as countYbm from tsbz_xybmsq
        where a.jdid = #{jdid}
    </select>
        
    <insert id="insertTsbzXybmsq" parameterType="TsbzXybmsq" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_xybmsq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faid != null">faid,</if>
            <if test="jdid != null">jdid,</if>
            <if test="jsid != null">jsid,</if>
            <if test="jdtype != null">jdtype,</if>
            <if test="sf != null">sf,</if>
            <if test="xxshstatus != null">xxshstatus,</if>
            <if test="xxshjy != null">xxshjy,</if>
            <if test="qjshstatus != null">qjshstatus,</if>
            <if test="qjshjy != null">qjshjy,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="xyxbstatus != null">xyxbstatus,</if>
            <if test="xypsjgqrstatus != null">xypsjgqrstatus,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faid != null">#{faid},</if>
            <if test="jdid != null">#{jdid},</if>
            <if test="jsid != null">#{jsid},</if>
            <if test="jdtype != null">#{jdtype},</if>
            <if test="sf != null">#{sf},</if>
            <if test="xxshstatus != null">#{xxshstatus},</if>
            <if test="xxshjy != null">#{xxshjy},</if>
            <if test="qjshstatus != null">#{qjshstatus},</if>
            <if test="qjshjy != null">#{qjshjy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="xyxbstatus != null">#{xyxbstatus},</if>
            <if test="xypsjgqrstatus != null">#{xypsjgqrstatus},</if>
         </trim>
    </insert>

    <update id="updateTsbzXybmsq" parameterType="TsbzXybmsq">
        update tsbz_xybmsq
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="jdid != null">jdid = #{jdid},</if>
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="jdtype != null">jdtype = #{jdtype},</if>
            <if test="sf != null">sf = #{sf},</if>
            <if test="xxshstatus != null">xxshstatus = #{xxshstatus},</if>
            <if test="xxshjy != null">xxshjy = #{xxshjy},</if>
            <if test="qjshstatus != null">qjshstatus = #{qjshstatus},</if>
            <if test="qjshjy != null">qjshjy = #{qjshjy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="xyxbstatus != null">xyxbstatus = #{xyxbstatus},</if>
            <if test="xypsjgqrstatus != null">xypsjgqrstatus = #{xypsjgqrstatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzXybmsqById" parameterType="Long">
        delete from tsbz_xybmsq where id = #{id}
    </delete>

    <delete id="deleteTsbzXybmsqByIds" parameterType="String">
        delete from tsbz_xybmsq where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>