<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qtjskhgl.mapper.TsbzQtjskhshMapper">
    
    <resultMap type="TsbzQtjskhsh" id="TsbzQtjskhshResult">
        <result property="id"    column="id"    />
        <result property="faid"    column="faid"    />
        <result property="jsid"    column="jsid"    />
        <result property="status"    column="status"    />
        <result property="xjshr"    column="xjshr"    />
        <result property="xjshyj"    column="xjshyj"    />
        <result property="xjshjy"    column="xjshjy"    />
        <result property="qjshr"    column="qjshr"    />
        <result property="qjshyj"    column="qjshyj"    />
        <result property="qjshjy"    column="qjshjy"    />
        <result property="createuseird"    column="createuseird"    />
        <result property="createTime"    column="create_time"    />
        <association property="tsbzJsjbxx" column="jsid" javaType="TsbzJsjbxx" resultMap="TsbzJsjbxxResult"/>
        <association property="tsbzQtjskhgcwjsj" column="createuserid" javaType="TsbzQtjskhgcwjsj" resultMap="TsbzQtjskhgcwjsjResult"/>
    </resultMap>

    <resultMap type="TsbzQtjskhgcwjsj" id="TsbzQtjskhgcwjsjResult">
        <result property="id"    column="id"    />
        <result property="gcid"    column="gcid"    />
        <result property="filename"    column="filename"    />
        <result property="filepath"    column="filepath"    />
        <result property="createuserid"    column="createuserid"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap type="TsbzJsjbxx" id="TsbzJsjbxxResult">
        <result property="id" column="id"/>
        <result property="jsid" column="jsid"/>
        <result property="jsxm" column="jsxm"/>
        <result property="xb" column="xb"/>
        <result property="deptid" column="deptid"/>
        <result property="dabh" column="dabh"/>
        <result property="zjlx" column="zjlx"/>
        <result property="zjhm" column="zjhm"/>
        <result property="bzzt" column="bzzt"/>
        <result property="gwzt" column="gwzt"/>
        <result property="gwlx" column="gwlx"/>
        <result property="csrq" column="csrq"/>
        <result property="rjnx" column="rjnx"/>
        <result property="zc" column="zc"/>
        <result property="zyry" column="zyry"/>
        <result property="tzb" column="tzb"/>
        <result property="zks" column="zks"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTsbzQtjskhshVo">
--         select id, faid, jsid, status, xjshr, xjshyj, xjshjy, qjshr, qjshyj, qjshjy, createuseird, create_time from tsbz_qtjskhsh
select d.id,d.faid,d.jsid,ifnull(d.status,0) status,d.xjshr,d.xjshyj,d.xjshjy,d.qjshr,d.qjshjy,d.qjshyj,d.createuseird,a.create_time,b.jsxm,b.deptid, b.xb, e.filename, e.filepath from tsbz_qtjspxjg a
left join tsbz_jsjbxx b on b.id=a.jsid
left join sys_dept c on b.deptid=c.schoolid
left join tsbz_qtjskhsh d on a.jsid=d.jsid
left join tsbz_qtjskhgcwjsj e on a.jsid=e.createuserid
    </sql>

    <select id="selectTsbzQtjskhshList" parameterType="TsbzQtjskhsh" resultMap="TsbzQtjskhshResult">
        <include refid="selectTsbzQtjskhshVo"/>
        <where>  
            <if test="faid != null "> and d.faid = #{faid}</if>
            <if test="jsid != null "> and d.jsid = #{jsid}</if>
            <if test="status != null  and status != ''"> and d.status = #{status}</if>
            <if test="xjshr != null "> and d.xjshr = #{xjshr}</if>
            <if test="xjshyj != null  and xjshyj != ''"> and d.xjshyj = #{xjshyj}</if>
            <if test="xjshjy != null  and xjshjy != ''"> and d.xjshjy = #{xjshjy}</if>
            <if test="qjshr != null "> and d.qjshr = #{qjshr}</if>
            <if test="qjshyj != null  and qjshyj != ''"> and d.qjshyj = #{qjshyj}</if>
            <if test="qjshjy != null  and qjshjy != ''"> and d.qjshjy = #{qjshjy}</if>
            <if test="createuseird != null "> and d.createuseird = #{createuseird}</if>
        </where>
    </select>
    
    <select id="selectTsbzQtjskhshById" parameterType="Long" resultMap="TsbzQtjskhshResult">
        <include refid="selectTsbzQtjskhshVo"/>
        where d.id = #{id}
    </select>
        
    <insert id="insertTsbzQtjskhsh" parameterType="TsbzQtjskhsh" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_qtjskhsh
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faid != null">faid,</if>
            <if test="jsid != null">jsid,</if>
            <if test="status != null">status,</if>
            <if test="xjshr != null">xjshr,</if>
            <if test="xjshyj != null">xjshyj,</if>
            <if test="xjshjy != null">xjshjy,</if>
            <if test="qjshr != null">qjshr,</if>
            <if test="qjshyj != null">qjshyj,</if>
            <if test="qjshjy != null">qjshjy,</if>
            <if test="createuseird != null">createuseird,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faid != null">#{faid},</if>
            <if test="jsid != null">#{jsid},</if>
            <if test="status != null">#{status},</if>
            <if test="xjshr != null">#{xjshr},</if>
            <if test="xjshyj != null">#{xjshyj},</if>
            <if test="xjshjy != null">#{xjshjy},</if>
            <if test="qjshr != null">#{qjshr},</if>
            <if test="qjshyj != null">#{qjshyj},</if>
            <if test="qjshjy != null">#{qjshjy},</if>
            <if test="createuseird != null">#{createuseird},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTsbzQtjskhsh" parameterType="TsbzQtjskhsh">
        update tsbz_qtjskhsh
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="jsid != null">jsid = #{jsid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="xjshr != null">xjshr = #{xjshr},</if>
            <if test="xjshyj != null">xjshyj = #{xjshyj},</if>
            <if test="xjshjy != null">xjshjy = #{xjshjy},</if>
            <if test="qjshr != null">qjshr = #{qjshr},</if>
            <if test="qjshyj != null">qjshyj = #{qjshyj},</if>
            <if test="qjshjy != null">qjshjy = #{qjshjy},</if>
            <if test="createuseird != null">createuseird = #{createuseird},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzQtjskhshById" parameterType="Long">
        delete from tsbz_qtjskhsh where id = #{id}
    </delete>

    <delete id="deleteTsbzQtjskhshByIds" parameterType="String">
        delete from tsbz_qtjskhsh where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>