<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qtjskhgl.mapper.TsbzQtjskhwjMapper">

    <resultMap type="TsbzQtjskhwj" id="TsbzQtjskhwjResult">
        <result property="id" column="id"/>
        <result property="faid" column="faid"/>
        <result property="nf" column="nf"/>
        <result property="khlx" column="khlx"/>
        <result property="fjlx" column="fjlx"/>
        <result property="filename" column="filename"/>
        <result property="filepath" column="filepath"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUserid" column="create_userid"/>
        <result property="createTime" column="create_time"/>
        <association property="dept" column="dept_id" javaType="SysDept" resultMap="deptResult"/>
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>

    <sql id="selectTsbzQtjskhwjVo">
        select d.id, d.faid, d.nf, d.khlx, d.fjlx, d.filename, d.filepath, d.dept_id, d.create_userid, d.create_time,f.dept_name from tsbz_qtjskhwj d
        left join sys_dept f on d.dept_id=f.dept_id
    </sql>

    <select id="selectTsbzQtjskhwjList" parameterType="TsbzQtjskhwj" resultMap="TsbzQtjskhwjResult">
        <include refid="selectTsbzQtjskhwjVo"/>
        <where>
            <if test="faid != null ">and d.faid = #{faid}</if>
            <if test="nf != null  and nf != ''">and d.nf = #{nf}</if>
            <if test="khlx != null  and khlx != ''">and d.khlx = #{khlx}</if>
            <if test="fjlx != null  and fjlx != ''">and d.fjlx = #{fjlx}</if>
            <if test="filename != null  and filename != ''">and d.filename like concat('%', #{filename}, '%')</if>
            <if test="filepath != null  and filepath != ''">and d.filepath = #{filepath}</if>
            <if test="createUserid != null ">and d.create_userid = #{createUserid}</if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectTsbzQtjskhwjById" parameterType="Long" resultMap="TsbzQtjskhwjResult">
        <include refid="selectTsbzQtjskhwjVo"/>
        where d.id = #{id}
    </select>

    <insert id="insertTsbzQtjskhwj" parameterType="TsbzQtjskhwj" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_qtjskhwj
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faid != null">faid,</if>
            <if test="nf != null">nf,</if>
            <if test="khlx != null">khlx,</if>
            <if test="fjlx != null">fjlx,</if>
            <if test="filename != null">filename,</if>
            <if test="filepath != null">filepath,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createUserid != null">create_userid,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faid != null">#{faid},</if>
            <if test="nf != null">#{nf},</if>
            <if test="khlx != null">#{khlx},</if>
            <if test="fjlx != null">#{fjlx},</if>
            <if test="filename != null">#{filename},</if>
            <if test="filepath != null">#{filepath},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createUserid != null">#{createUserid},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzQtjskhwj" parameterType="TsbzQtjskhwj">
        update tsbz_qtjskhwj
        <trim prefix="SET" suffixOverrides=",">
            <if test="faid != null">faid = #{faid},</if>
            <if test="nf != null">nf = #{nf},</if>
            <if test="khlx != null">khlx = #{khlx},</if>
            <if test="fjlx != null">fjlx = #{fjlx},</if>
            <if test="filename != null">filename = #{filename},</if>
            <if test="filepath != null">filepath = #{filepath},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createUserid != null">create_userid = #{createUserid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzQtjskhwjById" parameterType="Long">
        delete from tsbz_qtjskhwj where id = #{id}
    </delete>

    <delete id="deleteTsbzQtjskhwjByIds" parameterType="String">
        delete from tsbz_qtjskhwj where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTsbzQtjskhwjListByIds" parameterType="String" resultMap="TsbzQtjskhwjResult">
        select id, faid, nf, khlx, fjlx, filename, filepath, dept_id, create_userid, create_time from tsbz_qtjskhwj
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>