<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.carpool.mapper.PAddressMapper">
    
    <resultMap type="PAddress" id="PAddressResult">
        <result property="id"    column="id"    />
        <result property="address"    column="address"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPAddressVo">
        select id, address, type, create_by, create_time, update_by, update_time from p_address
    </sql>

    <select id="selectPAddressList" parameterType="PAddress" resultMap="PAddressResult">
        <include refid="selectPAddressVo"/>
        <where>  
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectPAddressById" parameterType="Long" resultMap="PAddressResult">
        <include refid="selectPAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPAddress" parameterType="PAddress" useGeneratedKeys="true" keyProperty="id">
        insert into p_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">address,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null">#{address},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePAddress" parameterType="PAddress">
        update p_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="address != null">address = #{address},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePAddressById" parameterType="Long">
        delete from p_address where id = #{id}
    </delete>

    <delete id="deletePAddressByIds" parameterType="String">
        delete from p_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>