<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.carpool.mapper.POrderMapper">
    
    <resultMap type="POrder" id="POrderResult">
        <result property="id"    column="id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="departure"    column="departure"    />
        <result property="destination"    column="destination"    />
        <result property="departureTime"    column="departure_time"    />
        <result property="member"    column="member"    />
        <result property="state"    column="state"    />
        <result property="createrOpenId"    column="creater_openid"    />
        <result property="isdelete"    column="isDelete"    />
        <result property="isTake"    column="is_take"    />
        <result property="createrName"    column="creater_name"    />
        <result property="createrPhone"    column="creater_phone"    />
        <result property="driverId"    column="driver_id"    />
        <result property="driverName"    column="driver_name"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="driverOpenId"    column="driver_open_id"    />
    </resultMap>

    <resultMap type="com.ruoyi.carpool.domain.POrderMember" id="POrderMemberResult">
        <result property="id"    column="id"    />
        <result property="openId"    column="open_id"    />
        <result property="custName"    column="cust_name"    />
        <result property="custPhone"    column="cust_phone"    />
        <result property="custId"    column="cust_id"    />
        <result property="num"    column="num"    />
        <result property="index"    column="index"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectPOrderVo">
        select
        id, order_num, departure, destination, departure_time, member, state,creater_name,creater_phone,creater_openid
        isDelete, create_user, create_time, update_user, update_time
        from p_order
    </sql>

    <select id="selectPOrderList" parameterType="POrder" resultMap="POrderResult">
        SELECT A.* , B.name as driver_name FROM p_order  A
        LEFT JOIN p_driver B ON A.driver_id = B.driver_id
        where 1=1
        <if test="orderNum != null  and orderNum != ''"> and A.order_num = #{orderNum}</if>
        <if test="departure != null  and departure != ''"> and A.departure = #{departure}</if>
        <if test="destination != null  and destination != ''"> and A.destination = #{destination}</if>
        <if test="departureTime != null "> and A.departure_time = #{departureTime}</if>
        <if test="member != null "> and <![CDATA[ A.member <=  #{member} ]]> </if>
        <if test="state != null "> and A.state = #{state}</if>
        <if test="isdelete != null "> and A.isDelete = #{isdelete}</if>
        <if test="isTake != null "> and A.is_take = #{isTake}</if>
        <if test="driverName != null "> and  B.name = #{driverName}</if>
        <if test="createUser != null  and createUser != ''"> and A.create_user = #{createUser}</if>
        <if test="updateUser != null  and updateUser != ''"> and A.update_user = #{updateUser}</if>
        <if test="driverOpenId != null  and driverOpenId != ''"> and A.driver_open_id = #{driverOpenId}</if>
        <if test="createrOpenId != null  and createrOpenId != ''"> and A.creater_openid = #{createrOpenId}</if>
        <if test="createrPhone != null  and createrPhone != ''"> and A.creater_phone = #{createrPhone}</if>
        <if test="createrName != null  and createrName != ''"> and A.creater_name = #{createrName}</if>
    </select>



    <select id="selectPOrderListContentMember" parameterType="POrder" resultMap="POrderResult">
        SELECT A.* , B.open_id memberOpenId, C.NAME AS driver_name
        FROM p_order A
        LEFT JOIN p_order_member B ON A.order_num = B.order_num
        LEFT JOIN p_driver C ON A.driver_id = C.driver_id
        where 1=1
        <if test="orderNum != null  and orderNum != ''"> and A.order_num = #{orderNum}</if>
        <if test="departure != null  and departure != ''"> and A.departure = #{departure}</if>
        <if test="destination != null  and destination != ''"> and A.destination = #{destination}</if>
        <if test="departureTime != null "> and A.departure_time = #{departureTime}</if>
        <if test="member != null "> and <![CDATA[ A.member <=  #{member} ]]> </if>
        <if test="state != null "> and A.state = #{state}</if>
        <if test="isdelete != null "> and A.isDelete = #{isdelete}</if>
        <if test="isTake != null "> and A.is_take = #{isTake}</if>
        <if test="driverName != null "> and  C.name = #{driverName}</if>
        <if test="memberOpenId != null and memberOpenId != '' "> and  B.open_id = #{memberOpenId}</if>
        <if test="createUser != null  and createUser != ''"> and A.create_user = #{createUser}</if>
        <if test="updateUser != null  and updateUser != ''"> and A.update_user = #{updateUser}</if>
        <if test="driverOpenId != null  and driverOpenId != ''"> and A.driver_open_id = #{driverOpenId}</if>
        <if test="createrOpenId != null  and createrOpenId != ''"> and A.creater_openid = #{createrOpenId}</if>
        <if test="createrPhone != null  and createrPhone != ''"> and A.creater_phone = #{createrPhone}</if>
        <if test="createrName != null  and createrName != ''"> and A.creater_name = #{createrName}</if>
    </select>

    <select id="selectPOrderById" parameterType="Long" resultMap="POrderResult">
        <include refid="selectPOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPOrder" parameterType="POrder" useGeneratedKeys="true" keyProperty="id">
        insert into p_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">order_num,</if>
            <if test="departure != null">departure,</if>
            <if test="destination != null">destination,</if>
            <if test="departureTime != null">departure_time,</if>
            <if test="member != null">member,</if>
            <if test="state != null">state,</if>
            <if test="isTake != null ">is_take,</if>
            <if test="createrPhone != null ">creater_phone,</if>
            <if test="createrName != null ">creater_name,</if>
            <if test="isdelete != null">isDelete,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createrOpenId != null">creater_openid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">#{orderNum},</if>
            <if test="departure != null">#{departure},</if>
            <if test="destination != null">#{destination},</if>
            <if test="departureTime != null">#{departureTime},</if>
            <if test="member != null">#{member},</if>
            <if test="state != null">#{state},</if>
            <if test="isTake != null ">#{isTake},</if>
            <if test="createrPhone != null ">#{createrPhone},</if>
            <if test="createrName != null ">#{createrName},</if>
            <if test="isdelete != null">#{isdelete},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createrOpenId != null">#{createrOpenId},</if>
         </trim>
    </insert>

    <update id="updatePOrder" parameterType="POrder" >
        update p_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="departure != null">departure = #{departure},</if>
            <if test="destination != null">destination = #{destination},</if>
            <if test="departureTime != null">departure_time = #{departureTime},</if>
            <if test="member != null">member = #{member},</if>
            <if test="state != null">state = #{state},</if>
            <if test="isdelete != null">isDelete = #{isdelete},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePOrderById" parameterType="Long">
        delete from p_order where id = #{id}
    </delete>

    <delete id="deletePOrderByIds" parameterType="String">
        delete from p_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="takeOrderById" parameterType="POrder">
        update p_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="isTake != null">is_take = #{isTake},</if>
            <if test="driverId != null">driver_id = #{driverId},</if>
            <if test="driverOpenId != null and  driverOpenId != '' ">driver_open_id = #{driverOpenId},</if>
        </trim>
        where order_num = #{orderNum}
    </update>

    <select id="selectPOrderByOrderNum" parameterType="String" resultMap="POrderResult">
        <include refid="selectPOrderVo"/>
        where order_num = #{orderNum}
    </select>


    <update id="updateOrderMemberNum" parameterType="POrder" >
        update p_order set member = #{member} where order_num = #{orderNum}
    </update>

    <select id="queryOrderInfoByOpenId" parameterType="String" resultMap="POrderResult" >
        <include refid="selectPOrderVo"/>
        where
        driver_open_id = #{openId} or creater_openid = #{openId}
    </select>


    <select id="queryOrderInfoByOpenIdAndState" parameterType="String" resultMap="POrderResult" >
        <include refid="selectPOrderVo"/>
        where  creater_openid = #{openId} and state = 0
    </select>



    <select id="queryOrderMenberListByOrderNum" parameterType="String" resultMap="POrderMemberResult">
        SELECT * FROM p_order_member WHERE order_num  =  #{orderNum} ;
    </select>

</mapper>