<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.carpool.mapper.PPassengerMapper">
    
    <resultMap type="PPassenger" id="PPassengerResult">
        <result property="id"    column="id"    />
        <result property="custId"    column="cust_id"    />
        <result property="custName"    column="cust_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="openId"    column="open_id"    />
        <result property="headImgUrl"    column="head_img_url"    />
        <result property="applyState"    column="apply_state"    />
        <result property="custPhone"    column="cust_phone"    />
        <result property="sex"    column="sex"    />
        <result property="idCard"    column="id_card"    />
        <result property="age"    column="age"    />
        <result property="birthday"    column="birthday"    />
        <result property="city"    column="city"    />
        <result property="province"    column="province"    />
        <result property="isBlacklist"    column="is_blacklist"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPPassengerVo">
        select id, cust_id, cust_name, nick_name, open_id,head_img_url,apply_state, cust_phone, sex, id_card, birthday, city, province, is_blacklist, create_time, update_time from p_passenger
    </sql>

    <select id="selectPPassengerList" parameterType="PPassenger" resultMap="PPassengerResult">
        <include refid="selectPPassengerVo"/>
        <where>  
            <if test="custId != null  and custId != ''"> and cust_id = #{custId}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="custPhone != null  and custPhone != ''"> and cust_phone = #{custPhone}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="idCard != null and idCard != '' "> and id_card = #{idCard}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="isBlacklist != null "> and is_blacklist = #{isBlacklist}</if>
        </where>
    </select>
    
    <select id="selectPPassengerById" parameterType="Long" resultMap="PPassengerResult">
        <include refid="selectPPassengerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPPassenger" parameterType="PPassenger">
        insert into p_passenger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="custId != null">cust_id,</if>
            <if test="custName != null">cust_name,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="openId != null">open_id,</if>
            <if test="headImgUrl != null">head_img_url,</if>
            <if test="custPhone != null">cust_phone,</if>
            <if test="sex != null">sex,</if>
            <if test="idCard != null "> and id_card = #{idCard}</if>
            <if test="birthday != null">birthday,</if>
            <if test="city != null">city,</if>
            <if test="province != null">province,</if>
            <if test="isBlacklist != null">is_blacklist,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="applyState != null">apply_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="custId != null">#{custId},</if>
            <if test="custName != null">#{custName},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="openId != null">#{openId},</if>
            <if test="headImgUrl != null">#{headImgUrl},</if>
            <if test="custPhone != null">#{custPhone},</if>
            <if test="sex != null">#{sex},</if>
            <if test="idCard != null "> and id_card = #{idCard}</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="city != null">#{city},</if>
            <if test="province != null">#{province},</if>
            <if test="isBlacklist != null">#{isBlacklist},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="applyState != null">#{applyState},</if>
         </trim>
    </insert>

    <update id="updatePPassenger" parameterType="PPassenger">
        update p_passenger
        <trim prefix="SET" suffixOverrides=",">
            <if test="custId != null">cust_id = #{custId},</if>
            <if test="custName != null">cust_name = #{custName},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="custPhone != null">cust_phone = #{custPhone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idCard != null "> and id_card = #{idCard}</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="city != null">city = #{city},</if>
            <if test="province != null">province = #{province},</if>
            <if test="isBlacklist != null">is_blacklist = #{isBlacklist},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePPassengerById" parameterType="Long">
        delete from p_passenger where id = #{id}
    </delete>

    <delete id="deletePPassengerByIds" parameterType="String">
        delete from p_passenger where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <select id="queryUserInfo" parameterType="PPassenger" resultMap="PPassengerResult">
        <include refid="selectPPassengerVo"/>
        <where>
            <if test="custId != null  and custId != ''"> and cust_id = #{custId}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="custPhone != null  and custPhone != ''"> and cust_phone = #{custPhone}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="idCard != null and idCard != '' "> and id_card = #{idCard}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="isBlacklist != null "> and is_blacklist = #{isBlacklist}</if>
        </where>
    </select>

    <select id="selectPPassengerByOpenId" parameterType="String" resultMap="PPassengerResult">
        <include refid="selectPPassengerVo"/>
        where  open_id = #{openId}
    </select>



</mapper>