<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gauge.mapper.PsyGaugeQuestionsMapper">
    
    <resultMap type="PsyGaugeQuestions" id="PsyGaugeQuestionsResult">
        <result property="id"    column="id"    />
        <result property="gaugeId"    column="gauge_id"    />
        <result property="title"    column="title"    />
        <result property="no"    column="no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPsyGaugeQuestionsVo">
        select id, gauge_id, title, no, create_by, create_time, update_by, update_time, remark from psy_gauge_questions
    </sql>

    <select id="selectPsyGaugeQuestionsList" parameterType="PsyGaugeQuestions" resultMap="PsyGaugeQuestionsResult">
        <include refid="selectPsyGaugeQuestionsVo"/>
        <where>  
            <if test="gaugeId != null "> and gauge_id = #{gaugeId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="no != null "> and no = #{no}</if>
        </where>
        ORDER BY no
    </select>
    
    <select id="selectPsyGaugeQuestionsById" parameterType="Long" resultMap="PsyGaugeQuestionsResult">
        <include refid="selectPsyGaugeQuestionsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPsyGaugeQuestions" parameterType="PsyGaugeQuestions" useGeneratedKeys="true" keyProperty="id">
        insert into psy_gauge_questions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id,</if>
            <if test="title != null">title,</if>
            <if test="no != null">no,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">#{gaugeId},</if>
            <if test="title != null">#{title},</if>
            <if test="no != null">#{no},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePsyGaugeQuestions" parameterType="PsyGaugeQuestions">
        update psy_gauge_questions
        <trim prefix="SET" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id = #{gaugeId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="no != null">no = #{no},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyGaugeQuestionsById" parameterType="Long">
        delete from psy_gauge_questions where id = #{id}
    </delete>

    <delete id="deletePsyGaugeQuestionsByIds" parameterType="String">
        delete from psy_gauge_questions where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>