<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gauge.mapper.PsyGaugeLabelMapper">

    <resultMap type="com.ruoyi.gauge.domain.PsyGaugeLabel" id="PsyGaugeLabelResult">
        <result property="id"    column="id"    />
        <result property="gaugeId"    column="gauge_id"    />
        <result property="label"    column="label"    />
    </resultMap>

    <sql id="selectPsyGaugeLabelVo">
        select id, gauge_id, label from psy_gauge_label
    </sql>

    <select id="selectPsyGaugeLabelList" parameterType="com.ruoyi.gauge.domain.PsyGaugeLabel" resultMap="PsyGaugeLabelResult">
        <include refid="selectPsyGaugeLabelVo"/>
        <where>
            <if test="gaugeId != null "> and gauge_id = #{gaugeId}</if>
            <if test="label != null "> and label = #{label}</if>
        </where>
    </select>

    <select id="selectPsyGaugeLabelById" parameterType="Long" resultMap="PsyGaugeLabelResult">
        <include refid="selectPsyGaugeLabelVo"/>
        where id = #{id}
    </select>

    <insert id="insertPsyGaugeLabel" parameterType="com.ruoyi.gauge.domain.PsyGaugeLabel" useGeneratedKeys="true" keyProperty="id">
        insert into psy_gauge_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id,</if>
            <if test="label != null">label,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">#{gaugeId},</if>
            <if test="label != null">#{label},</if>
        </trim>
    </insert>

    <update id="updatePsyGaugeLabel" parameterType="com.ruoyi.gauge.domain.PsyGaugeLabel">
        update psy_gauge_label
        <trim prefix="SET" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id = #{gaugeId},</if>
            <if test="label != null">label = #{label},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyGaugeLabelById" parameterType="Long">
        delete from psy_gauge_label where id = #{id}
    </delete>

    <delete id="deletePsyGaugeLabelByIds" parameterType="String">
        delete from psy_gauge_label where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="queryGaugeByLabel" parameterType="java.lang.Integer" resultType="com.ruoyi.gauge.domain.PsyGauge">
        SELECT
            gauge.id,
            gauge.title,
            gauge.subtitle,
            gauge.head_picture as headPicture,
            gauge.introduce,
            gauge.gauge_class as gaugeClass,
            gauge.remark,
            gauge.price,
            gauge.list_show_picture as listShowPicture
        FROM
            psy_gauge gauge left join psy_gauge_label label ON gauge.id = label.gauge_id
        WHERE label.label = #{labelCode}
        GROUP BY gauge.id
    </select>

    <select id="queryLabelPage" resultType="com.ruoyi.gauge.domain.PsyGaugeLabel">
        select
            label.id,
            label.gauge_id,
            label.label,
            gauge.title as gaugeName
        from psy_gauge_label label LEFT JOIN psy_gauge gauge ON label.gauge_id = gauge.id
        <where>
            <if test="gaugeName != null "> and gauge.title like concat('%' ,#{gaugeName} ,'%')</if>
            <if test="label != null "> and label.label = #{label}</if>
        </where>
    </select>

</mapper>