<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gauge.mapper.PsyGaugeQuestionsMapper">
    
    <resultMap type="com.ruoyi.gauge.domain.PsyGaugeQuestions" id="PsyGaugeQuestionsResult">
        <result property="id"    column="id"    />
        <result property="gaugeId"    column="gauge_id"    />
        <result property="title"    column="title"    />
        <result property="no"    column="no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="selectType"    column="select_type"    />
    </resultMap>

    <sql id="selectPsyGaugeQuestionsVo">
        select id, gauge_id, title, select_type, no, create_by, create_time, update_by, update_time, remark from psy_gauge_questions
    </sql>

    <select id="selectPsyGaugeQuestionsList" parameterType="com.ruoyi.gauge.domain.PsyGaugeQuestions" resultMap="PsyGaugeQuestionsResult">
        <include refid="selectPsyGaugeQuestionsVo"/>
        <where>  
            <if test="gaugeId != null "> and gauge_id = #{gaugeId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="no != null "> and no = #{no}</if>
        </where>
        ORDER BY no
    </select>
    
    <select id="selectPsyGaugeQuestionsById" parameterType="Long" resultMap="PsyGaugeQuestionsResult">
        <include refid="selectPsyGaugeQuestionsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPsyGaugeQuestions" parameterType="com.ruoyi.gauge.domain.PsyGaugeQuestions" useGeneratedKeys="true" keyProperty="id">
        insert into psy_gauge_questions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id,</if>
            <if test="title != null">title,</if>
            <if test="no != null">no,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">#{gaugeId},</if>
            <if test="title != null">#{title},</if>
            <if test="no != null">#{no},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePsyGaugeQuestions" parameterType="com.ruoyi.gauge.domain.PsyGaugeQuestions">
        update psy_gauge_questions
        <trim prefix="SET" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id = #{gaugeId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="no != null">no = #{no},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="selectType != null">select_type = #{selectType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyGaugeQuestionsById" parameterType="Long">
        delete from psy_gauge_questions where id = #{id}
    </delete>

    <delete id="deletePsyGaugeQuestionsByIds" parameterType="String">
        delete from psy_gauge_questions where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="quesAndAnswer" type="com.ruoyi.gauge.vo.PsyQuestionVO">
        <id property="id" column="questionId"></id>
        <result property="title" column="title"></result>
        <result property="no" column="no"></result>
        <result property="selectType" column="select_type"></result>
        <collection property="options" ofType="com.ruoyi.gauge.domain.PsyGaugeQuestionsOptions">
            <id property="id" column="optionId"></id>
            <result property="name" column="name"></result>
            <result property="sort" column="sort"></result>
            <result property="type" column="type"></result>
            <result property="value" column="value"></result>
        </collection>
    </resultMap>

    <select id="appQueryQuesList" resultMap="quesAndAnswer">
        SELECT
            ques.id as questionId,
            ques.title,
            ques.`no`,
            ques.select_type,
            opt.id as optionId,
            opt.`name`,
            opt.sort,
            opt.type,
            opt.value
        FROM
            psy_gauge_questions ques LEFT JOIN psy_gauge_questions_options opt ON ques.id = opt.gauge_questions_id
        WHERE ques.gauge_id = #{gaugeId}
        order by ques.`no` ,opt.sort
    </select>
</mapper>