<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.gauge.mapper.PsyGaugeMultiSettingMapper">
    
    <resultMap type="com.renxin.gauge.domain.PsyGaugeMultiSetting" id="PsyGaugeMultiSettingResult">
        <result property="id"    column="id"    />
        <result property="gaugeId"    column="gauge_id"    />
        <result property="name"    column="name"    />
        <result property="questionIds"    column="question_ids"    />
        <result property="scoreSettingIds"    column="score_setting_ids"    />
        <result property="x"    column="x"    />
        <result property="y"    column="y"    />
        <result property="info"    column="info"    />
        <result property="line"    column="line"    />
        <result property="prd"    column="prd"    />
    </resultMap>

    <sql id="selectPsyGaugeMultiSettingVo">
        select id, gauge_id, name, question_ids,score_setting_ids,x,y,info,line,prd from psy_gauge_multi_setting
    </sql>

    <select id="selectPsyGaugeMultiSettingList" parameterType="com.renxin.gauge.domain.PsyGaugeMultiSetting" resultMap="PsyGaugeMultiSettingResult">
        <include refid="selectPsyGaugeMultiSettingVo"/>
        <where>
            <if test="gaugeId != null "> and gauge_id = #{gaugeId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="questionIds != null  and questionIds != ''"> and question_ids = #{questionIds}</if>
            <if test="scoreSettingIds != null  and scoreSettingIds != ''"> and score_setting_ids = #{scoreSettingIds}</if>
        </where>
        order by x asc
    </select>

    <select id="selectPsyGaugeMultiSettingById" parameterType="Integer" resultMap="PsyGaugeMultiSettingResult">
        <include refid="selectPsyGaugeMultiSettingVo"/>
        where id = #{id}
    </select>

    <insert id="insertPsyGaugeMultiSetting" parameterType="com.renxin.gauge.domain.PsyGaugeMultiSetting" useGeneratedKeys="true" keyProperty="id">
        insert into psy_gauge_multi_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id,</if>
            <if test="name != null">name,</if>
            <if test="questionIds != null">question_ids,</if>
            <if test="scoreSettingIds != null">score_setting_ids,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gaugeId != null">#{gaugeId},</if>
            <if test="name != null">#{name},</if>
            <if test="questionIds != null">#{questionIds},</if>
            <if test="scoreSettingIds != null">#{scoreSettingIds},</if>
         </trim>
    </insert>

    <update id="updatePsyGaugeMultiSetting" parameterType="com.renxin.gauge.domain.PsyGaugeMultiSetting">
        update psy_gauge_multi_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="gaugeId != null">gauge_id = #{gaugeId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="questionIds != null">question_ids = #{questionIds},</if>
            <if test="scoreSettingIds != null">score_setting_ids = #{scoreSettingIds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyGaugeMultiSettingById" parameterType="Integer">
        delete from psy_gauge_multi_setting where id = #{id}
    </delete>

    <delete id="deletePsyGaugeMultiSettingByIds" parameterType="String">
        delete from psy_gauge_multi_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>