<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gauge.mapper.PsyOrderPayMapper">
    
    <resultMap type="com.ruoyi.gauge.domain.PsyOrderPay" id="PsyOrderPayResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="amount"    column="amount"    />
        <result property="payId"    column="pay_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectPsyOrderPayVo">
        select id, order_id, pay_status, amount, pay_id, create_time, create_by from psy_order_pay
    </sql>

    <select id="selectPsyOrderPayList" parameterType="com.ruoyi.gauge.domain.PsyOrderPay" resultMap="PsyOrderPayResult">
        <include refid="selectPsyOrderPayVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="payStatus != null "> and pay_status = #{payStatus}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="payId != null  and payId != ''"> and pay_id = #{payId}</if>
        </where>
    </select>
    
    <select id="selectPsyOrderPayById" parameterType="Long" resultMap="PsyOrderPayResult">
        <include refid="selectPsyOrderPayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPsyOrderPay" parameterType="com.ruoyi.gauge.domain.PsyOrderPay">
        insert into psy_order_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="amount != null">amount,</if>
            <if test="payId != null">pay_id,</if>
            <if test="createTime != null">create_time,</if>
            pay_type,
            <if test="createBy != null and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="amount != null">#{amount},</if>
            <if test="payId != null">#{payId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="pay_type == null">1,</if>
            <if test="pay_type != null">#{pay_type},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updatePsyOrderPay" parameterType="com.ruoyi.gauge.domain.PsyOrderPay">
        update psy_order_pay
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="payId != null">pay_id = #{payId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyOrderPayById" parameterType="Long">
        delete from psy_order_pay where id = #{id}
    </delete>

    <delete id="deletePsyOrderPayByIds" parameterType="String">
        delete from psy_order_pay where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>