<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.home.mapper.HomeIpLogMapper">
    
    <resultMap type="HomeIpLog" id="HomeIpLogResult">
        <result property="id"    column="id"    />
        <result property="ipV4"    column="ip_v4"    />
        <result property="ipV6"    column="ip_v6"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="closed"    column="closed"    />
        <result property="region"    column="region"    />
    </resultMap>

    <sql id="selectHomeIpLogVo">
        select id, ip_v4, ip_v6, description, create_time, create_by, update_time, update_by, closed, region from home_ip_log
    </sql>

    <select id="selectHomeIpLogList" parameterType="HomeIpLog" resultMap="HomeIpLogResult">
        <include refid="selectHomeIpLogVo"/>
        <where>  
            <if test="ipV4 != null  and ipV4 != ''"> and ip_v4 like concat('%', #{ipV4}, '%')</if>
            <if test="ipV6 != null  and ipV6 != ''"> and ip_v6 like concat('%', #{ipV6}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="closed != null "> and closed = #{closed}</if>
            <if test="region != null  and region != ''"> and region like concat('%', #{region}, '%')</if>
        </where>
    </select>
    
    <select id="selectHomeIpLogById" parameterType="Long" resultMap="HomeIpLogResult">
        <include refid="selectHomeIpLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHomeIpLog" parameterType="HomeIpLog" useGeneratedKeys="true" keyProperty="id">
        insert into home_ip_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ipV4 != null">ip_v4,</if>
            <if test="ipV6 != null">ip_v6,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="closed != null">closed,</if>
            <if test="region != null">region,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ipV4 != null">#{ipV4},</if>
            <if test="ipV6 != null">#{ipV6},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="closed != null">#{closed},</if>
            <if test="region != null">#{region},</if>
         </trim>
    </insert>

    <update id="updateHomeIpLog" parameterType="HomeIpLog">
        update home_ip_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="ipV4 != null">ip_v4 = #{ipV4},</if>
            <if test="ipV6 != null">ip_v6 = #{ipV6},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="closed != null">closed = #{closed},</if>
            <if test="region != null">region = #{region},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHomeIpLogById" parameterType="Long">
        delete from home_ip_log where id = #{id}
    </delete>

    <delete id="deleteHomeIpLogByIds" parameterType="String">
        delete from home_ip_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>