<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.OrderDetailsMapper">
    
    <resultMap type="OrderDetails" id="OrderDetailsResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="state"    column="state"    />
        <result property="serviceId"    column="service_id"    />
        <result property="serviceItemId"    column="service_item_id"    />
        <result property="serviceItemPriceId"    column="service_item_price_id"    />
        <result property="giftId"    column="gift_id"    />
        <result property="detailsTitle"    column="details_title"    />
        <result property="num"    column="num"    />
        <result property="totalPrice"    column="total_price"    />
    </resultMap>

    <sql id="selectOrderDetailsVo">
        select id, order_id, state, service_id, service_item_id, service_item_price_id, gift_id, details_title, num, total_price from bus_order_details
    </sql>

    <select id="selectOrderDetailsList" parameterType="OrderDetails" resultMap="OrderDetailsResult">
        <include refid="selectOrderDetailsVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="serviceId != null "> and service_id = #{serviceId}</if>
            <if test="serviceItemId != null "> and service_item_id = #{serviceItemId}</if>
            <if test="serviceItemPriceId != null "> and service_item_price_id = #{serviceItemPriceId}</if>
            <if test="giftId != null "> and gift_id = #{giftId}</if>
            <if test="detailsTitle != null  and detailsTitle != ''"> and details_title like concat('%', #{detailsTitle}, '%')</if>
        </where>
    </select>
    
    <select id="selectOrderDetailsById" parameterType="Long" resultMap="OrderDetailsResult">
        <include refid="selectOrderDetailsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrderDetails" parameterType="OrderDetails" useGeneratedKeys="true" keyProperty="id">
        insert into bus_order_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="state != null">state,</if>
            <if test="serviceId != null">service_id,</if>
            <if test="serviceItemId != null">service_item_id,</if>
            <if test="serviceItemPriceId != null">service_item_price_id,</if>
            <if test="giftId != null">gift_id,</if>
            <if test="detailsTitle != null">details_title,</if>
            <if test="num != null">num,</if>
            <if test="totalPrice != null">total_price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="state != null">#{state},</if>
            <if test="serviceId != null">#{serviceId},</if>
            <if test="serviceItemId != null">#{serviceItemId},</if>
            <if test="serviceItemPriceId != null">#{serviceItemPriceId},</if>
            <if test="giftId != null">#{giftId},</if>
            <if test="detailsTitle != null">#{detailsTitle},</if>
            <if test="num != null">#{num},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
         </trim>
    </insert>

    <update id="updateOrderDetails" parameterType="OrderDetails">
        update bus_order_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="serviceId != null">service_id = #{serviceId},</if>
            <if test="serviceItemId != null">service_item_id = #{serviceItemId},</if>
            <if test="serviceItemPriceId != null">service_item_price_id = #{serviceItemPriceId},</if>
            <if test="giftId != null">gift_id = #{giftId},</if>
            <if test="detailsTitle != null">details_title = #{detailsTitle},</if>
            <if test="num != null">num = #{num},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderDetailsById" parameterType="Long">
        delete from bus_order_details where id = #{id}
    </delete>

    <delete id="deleteOrderDetailsByIds" parameterType="String">
        delete from bus_order_details where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>