<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoli.company.mapper.BaoliBizCompanyFeeRateRuleMapper">
    
    <resultMap type="BaoliBizCompanyFeeRateRule" id="BaoliBizCompanyFeeRateRuleResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="bankId"    column="bank_id"    />
        <result property="provinceId"    column="province_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="executeWay"    column="execute_way"    />
        <result property="content"    column="content"    />
        <result property="takeValueMode"    column="take_value_mode"    />
        <result property="provinceName"    column="province_name"    />
        <result property="cityName"    column="city_name"    />
    </resultMap>

    <sql id="selectBaoliBizCompanyFeeRateRuleVo">
        select (select city from bl_sys_cities b where b.cityid = a.city_id) city_name,(select province from bl_sys_provinces b where b.provinceid = a.province_id) province_name,take_value_mode,id, title, bank_id, province_id, city_id, start_time, finish_time, execute_way, content from baoli_biz_company_fee_rate_rule a   </sql>

    <select id="selectBaoliBizCompanyFeeRateRuleList" parameterType="BaoliBizCompanyFeeRateRule" resultMap="BaoliBizCompanyFeeRateRuleResult">
        <include refid="selectBaoliBizCompanyFeeRateRuleVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="bankId != null "> and bank_id = #{bankId}</if>
            <if test="provinceId != null  and provinceId != ''"> and province_id = #{provinceId}</if>
            <if test="cityId != null  and cityId != ''"> and city_id = #{cityId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="finishTime != null  and finishTime != ''"> and finish_time = #{finishTime}</if>
            <if test="executeWay != null  and executeWay != ''"> and execute_way = #{executeWay}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectBaoliBizCompanyFeeRateRuleById" parameterType="Long" resultMap="BaoliBizCompanyFeeRateRuleResult">
        <include refid="selectBaoliBizCompanyFeeRateRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaoliBizCompanyFeeRateRule" parameterType="BaoliBizCompanyFeeRateRule" useGeneratedKeys="true" keyProperty="id">
        insert into baoli_biz_company_fee_rate_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="bankId != null">bank_id,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="executeWay != null">execute_way,</if>
            <if test="content != null">content,</if>
            <if test="takeValueMode != null">take_value_mode,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="bankId != null">#{bankId},</if>
            <if test="provinceId != null">#{provinceId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="executeWay != null">#{executeWay},</if>
            <if test="content != null">#{content},</if>
            <if test="takeValueMode != null">#{takeValueMode},</if>
         </trim>
    </insert>

    <update id="updateBaoliBizCompanyFeeRateRule" parameterType="BaoliBizCompanyFeeRateRule">
        update baoli_biz_company_fee_rate_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="bankId != null">bank_id = #{bankId},</if>
            <if test="provinceId != null">province_id = #{provinceId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="executeWay != null">execute_way = #{executeWay},</if>
            <if test="content != null">content = #{content},</if>
            <if test="takeValueMode != null">take_value_mode = #{takeValueMode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaoliBizCompanyFeeRateRuleById" parameterType="Long">
        delete from baoli_biz_company_fee_rate_rule where id = #{id}
    </delete>

    <delete id="deleteBaoliBizCompanyFeeRateRuleByIds" parameterType="String">
        delete from baoli_biz_company_fee_rate_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>