<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apollo.usv.mapper.ChargingPileMapper">
    
    <resultMap type="ChargingPile" id="ChargingPileResult">
        <result property="chargingPileId"    column="charging_pile_id"    />
        <result property="chargingRecordSn"    column="charging_record_sn"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="nickName"    column="nick_name"    />
    </resultMap>

    <sql id="selectChargingPileVo">
        select charging_pile_id, charging_record_sn, longitude, latitude, nick_name from usv_charging_pile
    </sql>

    <select id="selectChargingPileList" parameterType="ChargingPile" resultMap="ChargingPileResult">
        <include refid="selectChargingPileVo"/>
        <where>  
            <if test="chargingRecordSn != null  and chargingRecordSn != ''"> and charging_record_sn like concat('%', #{chargingRecordSn}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
        </where>
    </select>
    
    <select id="selectChargingPileById" parameterType="Long" resultMap="ChargingPileResult">
        <include refid="selectChargingPileVo"/>
        where charging_pile_id = #{chargingPileId}
    </select>
        
    <insert id="insertChargingPile" parameterType="ChargingPile" useGeneratedKeys="true" keyProperty="chargingPileId">
        insert into usv_charging_pile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chargingRecordSn != null and chargingRecordSn != ''">charging_record_sn,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="nickName != null">nick_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chargingRecordSn != null and chargingRecordSn != ''">#{chargingRecordSn},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="nickName != null">#{nickName},</if>
         </trim>
    </insert>

    <update id="updateChargingPile" parameterType="ChargingPile">
        update usv_charging_pile
        <trim prefix="SET" suffixOverrides=",">
            <if test="chargingRecordSn != null and chargingRecordSn != ''">charging_record_sn = #{chargingRecordSn},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
        </trim>
        where charging_pile_id = #{chargingPileId}
    </update>

    <delete id="deleteChargingPileById" parameterType="Long">
        delete from usv_charging_pile where charging_pile_id = #{chargingPileId}
    </delete>

    <delete id="deleteChargingPileByIds" parameterType="String">
        delete from usv_charging_pile where charging_pile_id in 
        <foreach item="chargingPileId" collection="array" open="(" separator="," close=")">
            #{chargingPileId}
        </foreach>
    </delete>
</mapper>