<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jyykhgl.mapper.TsbzJyydyzdMapper">

    <resultMap type="TsbzJyydyzd" id="TsbzJyydyzdResult">
        <result property="id" column="id"/>
        <result property="rwid" column="rwid"/>
        <result property="rwnrlx" column="rwnrlx"/>
        <result property="dymc" column="dymc"/>
        <result property="dyzt" column="dyzt"/>
        <result property="dysj" column="dysj"/>
        <result property="dyxx" column="dyxx"/>
        <result property="dydx" column="dydx"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUserid" column="create_userid"/>
        <result property="createTime" column="create_time"/>
        <association property="tsbzJyykhrw" column="rwid" javaType="TsbzJyykhrw" resultMap="TsbzJyykhrwResult"/>
    </resultMap>

    <resultMap type="TsbzJyykhrw" id="TsbzJyykhrwResult">
        <result property="id" column="id"/>
        <result property="rwmc" column="rwmc"/>
        <result property="rwlx" column="rwlx"/>
        <result property="rwnr" column="rwnr"/>
        <result property="khbm" column="khbm"/>
        <result property="khzq" column="khzq"/>
        <result property="slyq" column="slyq"/>
        <result property="fsbx" column="fsbx"/>
        <result property="isdel" column="isdel"/>
        <result property="createTime" column="create_time"/>
        <result property="rwsm" column="rwsm"/>
    </resultMap>

    <sql id="selectTsbzJyydyzdVo">
        select a.id, a.rwid, a.rwnrlx, a.dymc, a.dyzt, a.dysj, a.dyxx, a.dydx, a.dept_id, a.create_userid, a.create_time,b.rwmc,b.rwlx from tsbz_jyydyzd a
        left join tsbz_jyykhrw b on a.rwid=b.id
    </sql>

    <select id="selectTsbzJyydyzdList" parameterType="TsbzJyydyzd" resultMap="TsbzJyydyzdResult">
        <include refid="selectTsbzJyydyzdVo"/>
        <where>
            <if test="rwid != null ">and a.rwid = #{rwid}</if>
            <if test="rwnrlx != null  and rwnrlx != ''">and a.rwnrlx = #{rwnrlx}</if>
            <if test="dymc != null  and dymc != ''">and a.dymc = #{dymc}</if>
            <if test="dyzt != null  and dyzt != ''">and a.dyzt = #{dyzt}</if>
            <if test="dysj != null ">and a.dysj = #{dysj}</if>
            <if test="dyxx != null  and dyxx != ''">and a.dyxx = #{dyxx}</if>
            <if test="dydx != null  and dydx != ''">and a.dydx = #{dydx}</if>
            <if test="deptId != null ">and a.dept_id = #{deptId}</if>
            <if test="createUserid != null ">and a.create_userid = #{createUserid}</if>
        </where>
    </select>

    <select id="selectTsbzJyydyzdById" parameterType="Long" resultMap="TsbzJyydyzdResult">
        <include refid="selectTsbzJyydyzdVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertTsbzJyydyzd" parameterType="TsbzJyydyzd" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_jyydyzd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rwid != null">rwid,</if>
            <if test="rwnrlx != null">rwnrlx,</if>
            <if test="dymc != null">dymc,</if>
            <if test="dyzt != null">dyzt,</if>
            <if test="dysj != null">dysj,</if>
            <if test="dyxx != null">dyxx,</if>
            <if test="dydx != null">dydx,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createUserid != null">create_userid,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rwid != null">#{rwid},</if>
            <if test="rwnrlx != null">#{rwnrlx},</if>
            <if test="dymc != null">#{dymc},</if>
            <if test="dyzt != null">#{dyzt},</if>
            <if test="dysj != null">#{dysj},</if>
            <if test="dyxx != null">#{dyxx},</if>
            <if test="dydx != null">#{dydx},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createUserid != null">#{createUserid},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzJyydyzd" parameterType="TsbzJyydyzd">
        update tsbz_jyydyzd
        <trim prefix="SET" suffixOverrides=",">
            <if test="rwid != null">rwid = #{rwid},</if>
            <if test="rwnrlx != null">rwnrlx = #{rwnrlx},</if>
            <if test="dymc != null">dymc = #{dymc},</if>
            <if test="dyzt != null">dyzt = #{dyzt},</if>
            <if test="dysj != null">dysj = #{dysj},</if>
            <if test="dyxx != null">dyxx = #{dyxx},</if>
            <if test="dydx != null">dydx = #{dydx},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createUserid != null">create_userid = #{createUserid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzJyydyzdById" parameterType="Long">
        delete from tsbz_jyydyzd where id = #{id}
    </delete>

    <delete id="deleteTsbzJyydyzdByIds" parameterType="String">
        delete from tsbz_jyydyzd where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>