<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jyykhgl.mapper.TsbzJyydwjsMapper">

    <resultMap type="TsbzJyydwjs" id="TsbzJyydwjsResult">
        <result property="id" column="id"/>
        <result property="rwid" column="rwid"/>
        <result property="rwnrlx" column="rwnrlx"/>
        <result property="zt" column="zt"/>
        <result property="cyry" column="cyry"/>
        <result property="hddd" column="hddd"/>
        <result property="hdsj" column="hdsj"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUserid" column="create_userid"/>
        <result property="createTime" column="create_time"/>
        <association property="tsbzJyykhrw" column="rwid" javaType="TsbzJyykhrw" resultMap="TsbzJyykhrwResult"/>
    </resultMap>

    <resultMap type="TsbzJyykhrw" id="TsbzJyykhrwResult">
        <result property="id" column="id"/>
        <result property="rwmc" column="rwmc"/>
        <result property="rwlx" column="rwlx"/>
        <result property="rwnr" column="rwnr"/>
        <result property="khbm" column="khbm"/>
        <result property="khzq" column="khzq"/>
        <result property="slyq" column="slyq"/>
        <result property="fsbx" column="fsbx"/>
        <result property="isdel" column="isdel"/>
        <result property="createTime" column="create_time"/>
        <result property="rwsm" column="rwsm"/>
    </resultMap>

    <sql id="selectTsbzJyydwjsVo">
        select a.id, a.rwid, a.rwnrlx, a.zt, a.cyry, a.hddd, a.hdsj, a.dept_id, a.create_userid, a.create_time,b.rwmc,b.rwlx from tsbz_jyydwjs a
        left join tsbz_jyykhrw b on a.rwid=b.id
    </sql>

    <select id="selectTsbzJyydwjsList" parameterType="TsbzJyydwjs" resultMap="TsbzJyydwjsResult">
        <include refid="selectTsbzJyydwjsVo"/>
        <where>
            <if test="rwid != null ">and a.rwid = #{rwid}</if>
            <if test="rwnrlx != null  and rwnrlx != ''">and a.rwnrlx = #{rwnrlx}</if>
            <if test="zt != null  and zt != ''">and a.zt = #{zt}</if>
            <if test="cyry != null  and cyry != ''">and a.cyry = #{cyry}</if>
            <if test="hddd != null  and hddd != ''">and a.hddd = #{hddd}</if>
            <if test="hdsj != null ">and a.hdsj = #{hdsj}</if>
            <if test="deptId != null ">and a.dept_id = #{deptId}</if>
            <if test="createUserid != null ">and a.create_userid = #{createUserid}</if>
        </where>
    </select>

    <select id="selectTsbzJyydwjsById" parameterType="Long" resultMap="TsbzJyydwjsResult">
        <include refid="selectTsbzJyydwjsVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertTsbzJyydwjs" parameterType="TsbzJyydwjs" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_jyydwjs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rwid != null">rwid,</if>
            <if test="rwnrlx != null">rwnrlx,</if>
            <if test="zt != null">zt,</if>
            <if test="cyry != null">cyry,</if>
            <if test="hddd != null">hddd,</if>
            <if test="hdsj != null">hdsj,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createUserid != null">create_userid,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rwid != null">#{rwid},</if>
            <if test="rwnrlx != null">#{rwnrlx},</if>
            <if test="zt != null">#{zt},</if>
            <if test="cyry != null">#{cyry},</if>
            <if test="hddd != null">#{hddd},</if>
            <if test="hdsj != null">#{hdsj},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createUserid != null">#{createUserid},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzJyydwjs" parameterType="TsbzJyydwjs">
        update tsbz_jyydwjs
        <trim prefix="SET" suffixOverrides=",">
            <if test="rwid != null">rwid = #{rwid},</if>
            <if test="rwnrlx != null">rwnrlx = #{rwnrlx},</if>
            <if test="zt != null">zt = #{zt},</if>
            <if test="cyry != null">cyry = #{cyry},</if>
            <if test="hddd != null">hddd = #{hddd},</if>
            <if test="hdsj != null">hdsj = #{hdsj},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createUserid != null">create_userid = #{createUserid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzJyydwjsById" parameterType="Long">
        delete from tsbz_jyydwjs where id = #{id}
    </delete>

    <delete id="deleteTsbzJyydwjsByIds" parameterType="String">
        delete from tsbz_jyydwjs where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>