<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jyykhgl.mapper.TsbzJyygryxMapper">

    <resultMap type="TsbzJyygryx" id="TsbzJyygryxResult">
        <result property="id" column="id"/>
        <result property="rwid" column="rwid"/>
        <result property="rwnrlx" column="rwnrlx"/>
        <result property="mc" column="mc"/>
        <result property="zt" column="zt"/>
        <result property="sj" column="sj"/>
        <result property="dd" column="dd"/>
        <result property="createUserid" column="create_userid"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectTsbzJyygryxVo">
        select id, rwid, rwnrlx, mc, zt, sj, dd, create_userid, dept_id, create_time from tsbz_jyygryx
    </sql>

    <select id="selectTsbzJyygryxList" parameterType="TsbzJyygryx" resultMap="TsbzJyygryxResult">
        <include refid="selectTsbzJyygryxVo"/>
        <where>
            <if test="rwid != null ">and rwid = #{rwid}</if>
            <if test="rwnrlx != null  and rwnrlx != ''">and rwnrlx = #{rwnrlx}</if>
            <if test="mc != null  and mc != ''">and mc = #{mc}</if>
            <if test="zt != null  and zt != ''">and zt = #{zt}</if>
            <if test="sj != null ">and sj = #{sj}</if>
            <if test="dd != null  and dd != ''">and dd = #{dd}</if>
            <if test="createUserid != null ">and create_userid = #{createUserid}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
        </where>
    </select>

    <select id="selectTsbzJyygryxById" parameterType="Long" resultMap="TsbzJyygryxResult">
        <include refid="selectTsbzJyygryxVo"/>
        where id = #{id}
    </select>

    <insert id="insertTsbzJyygryx" parameterType="TsbzJyygryx" useGeneratedKeys="true" keyProperty="id">
        insert into tsbz_jyygryx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rwid != null">rwid,</if>
            <if test="rwnrlx != null">rwnrlx,</if>
            <if test="mc != null">mc,</if>
            <if test="zt != null">zt,</if>
            <if test="sj != null">sj,</if>
            <if test="dd != null">dd,</if>
            <if test="createUserid != null">create_userid,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rwid != null">#{rwid},</if>
            <if test="rwnrlx != null">#{rwnrlx},</if>
            <if test="mc != null">#{mc},</if>
            <if test="zt != null">#{zt},</if>
            <if test="sj != null">#{sj},</if>
            <if test="dd != null">#{dd},</if>
            <if test="createUserid != null">#{createUserid},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTsbzJyygryx" parameterType="TsbzJyygryx">
        update tsbz_jyygryx
        <trim prefix="SET" suffixOverrides=",">
            <if test="rwid != null">rwid = #{rwid},</if>
            <if test="rwnrlx != null">rwnrlx = #{rwnrlx},</if>
            <if test="mc != null">mc = #{mc},</if>
            <if test="zt != null">zt = #{zt},</if>
            <if test="sj != null">sj = #{sj},</if>
            <if test="dd != null">dd = #{dd},</if>
            <if test="createUserid != null">create_userid = #{createUserid},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsbzJyygryxById" parameterType="Long">
        delete from tsbz_jyygryx where id = #{id}
    </delete>

    <delete id="deleteTsbzJyygryxByIds" parameterType="String">
        delete from tsbz_jyygryx where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>