<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultOrderMapper">

    <update id="tombstonedByIds">
        update psy_consult_work set del_flag = 1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <resultMap type="PsyConsultOrder" id="PsyConsultOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="consultId"    column="consult_id"    />
        <result property="consultName"    column="consult_name"    />
        <result property="serveId"    column="serve_id"    />
        <result property="serveName"    column="serve_name"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="amount"    column="amount"    />
        <result property="num"    column="num"    />
        <result property="buyNum"    column="buy_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="pay"    column="pay"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="orderTime"    column="order_time"    />
        <result property="remark"    column="remark"    />
        <result property="memo1"    column="memo1"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <sql id="selectPsyConsultOrderVo">
        select a.id, a.order_no, a.consult_id, a.consult_name, a.serve_id, a.serve_name, a.user_id, a.nick_name, a.amount, num, a.buy_num, a.del_flag,
               a.status, a.create_by, a.create_time, a.update_by, a.update_time, a.pay, a.pay_time, a.pay_status, a.order_time, b.phone, a.remark, a.memo1
        from psy_consult_order a
            left join psy_user b on a.user_id = b.id
    </sql>

    <select id="getList" parameterType="PsyConsultOrder" resultMap="PsyConsultOrderResult">
        <include refid="selectPsyConsultOrderVo"/>
        <where>
            <if test="orderNo != null  and orderNo != ''"> and a.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="consultId != null "> and a.consult_id = #{consultId}</if>
            <if test="serveName != null  and serveName != ''"> and a.serve_name like concat('%', #{serveName}, '%')</if>
            <if test="nickName != null "> and a.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="pay != null  and pay != ''"> and a.pay_status = #{pay}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="delFlag != null  and delFlag != ''"> and a.del_flag = #{delFlag}</if>
            <if test="startTime != null "> and a.create_time <![CDATA[ >= ]]> #{startTime}</if>
            <if test="endTime != null "> and a.create_time <![CDATA[ <= ]]> #{endTime}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getOrderList" resultType="com.ruoyi.psychology.dto.OrderListDTO">
        select a.id, a.order_no, a.consult_id, a.consult_name, a.serve_id, a.serve_name, a.user_id,a.remark,a.memo1,
               a.nick_name, a.amount, a.num, a.buy_num, a.del_flag, a.status, a.create_by, a.order_time,a.pay_status,
               a.create_time, a.update_by, a.update_time, a.pay, a.pay_time, b.avatar,
               s.mode, s.mode_name, s.num serve_num ,s.type, s.type_name, s.info, s.price, s.time, s.bound, s.bound_name, s.end,
        CASE
            WHEN a.STATUS = '0' THEN
            '待付款'
            WHEN a.STATUS = '1' THEN
            '进行中'
            WHEN a.STATUS = '2' THEN
            '已完成' ELSE '已取消'
            END as status_name
        FROM psy_consult_order a
            INNER JOIN psy_consult b on a.consult_id = b.id
            INNER JOIN psy_consult_order_serve s on a.id = s.order_id and a.serve_id= s.serve_id
        <where>
            and a.status != '3'
            <if test="orderNo != null  and orderNo != ''"> and a.order_no = #{orderNo}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="status != null"> and a.status = #{status}</if>
            <if test="payStatus != null"> and a.pay_status = #{payStatus}</if>
            <if test="delFlag != null  and delFlag != ''"> and a.del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="getOrderDetail" resultType="com.ruoyi.psychology.dto.OrderDTO">
        select a.id, a.order_no, a.consult_id, a.consult_name, a.serve_id, a.serve_name, a.user_id,a.remark,a.memo1,
               a.nick_name, a.amount, a.num, a.buy_num, a.del_flag, a.status, a.create_by, a.order_time,
               a.create_time, a.update_by, a.update_time, b.avatar,b.wx_card, a.pay, a.pay_time,a.pay_status,c.phone,
               CASE
                   WHEN a.STATUS = '0' THEN
                       '待付款'
                   WHEN a.STATUS = '1' THEN
                       '进行中'
                   WHEN a.STATUS = '2' THEN
                       '已完成' ELSE '已取消'
                   END as status_name
        FROM psy_consult_order a
                 INNER JOIN psy_consult b on a.consult_id = b.id
                 LEFT JOIN psy_user c on a.user_id = c.id
        where a.id = #{id}
    </select>

</mapper>