<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultantPackageMapper">
    
    <resultMap type="PsyConsultantPackage" id="PsyConsultantPackageResult">
        <result property="packageId"    column="package_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productPicUrl"    column="product_pic_url"    />
        <result property="detailPicUrl"    column="detail_pic_url"    />
        <result property="cycleType"    column="cycle_type"    />
        <result property="cycleNumber"    column="cycle_number"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPsyConsultantPackageVo">
        select package_id, product_name, product_pic_url, detail_pic_url, cycle_type, cycle_number, status, del_flag, create_by, create_time, update_by, update_time from psy_consultant_package
    </sql>

    <select id="selectPsyConsultantPackageList" parameterType="PsyConsultantPackage" resultMap="PsyConsultantPackageResult">
        <include refid="selectPsyConsultantPackageVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productPicUrl != null  and productPicUrl != ''"> and product_pic_url = #{productPicUrl}</if>
            <if test="detailPicUrl != null  and detailPicUrl != ''"> and detail_pic_url = #{detailPicUrl}</if>
            <if test="cycleType != null  and cycleType != ''"> and cycle_type = #{cycleType}</if>
            <if test="cycleNumber != null "> and cycle_number = #{cycleNumber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPsyConsultantPackageByPackageId" parameterType="Long" resultMap="PsyConsultantPackageResult">
        <include refid="selectPsyConsultantPackageVo"/>
        where package_id = #{packageId}
    </select>
        
    <insert id="insertPsyConsultantPackage" parameterType="PsyConsultantPackage">
        insert into psy_consultant_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageId != null">package_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="productPicUrl != null">product_pic_url,</if>
            <if test="detailPicUrl != null">detail_pic_url,</if>
            <if test="cycleType != null">cycle_type,</if>
            <if test="cycleNumber != null">cycle_number,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageId != null">#{packageId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productPicUrl != null">#{productPicUrl},</if>
            <if test="detailPicUrl != null">#{detailPicUrl},</if>
            <if test="cycleType != null">#{cycleType},</if>
            <if test="cycleNumber != null">#{cycleNumber},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePsyConsultantPackage" parameterType="PsyConsultantPackage">
        update psy_consultant_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productPicUrl != null">product_pic_url = #{productPicUrl},</if>
            <if test="detailPicUrl != null">detail_pic_url = #{detailPicUrl},</if>
            <if test="cycleType != null">cycle_type = #{cycleType},</if>
            <if test="cycleNumber != null">cycle_number = #{cycleNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where package_id = #{packageId}
    </update>

    <delete id="deletePsyConsultantPackageByPackageId" parameterType="Long">
        delete from psy_consultant_package where package_id = #{packageId}
    </delete>

    <delete id="deletePsyConsultantPackageByPackageIds" parameterType="String">
        delete from psy_consultant_package where package_id in 
        <foreach item="packageId" collection="array" open="(" separator="," close=")">
            #{packageId}
        </foreach>
    </delete>
</mapper>