<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultantMapper">
    
    <resultMap type="PsyConsultant" id="PsyConsultantResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="style"    column="style"    />
        <result property="experience"    column="experience"    />
        <result property="certificate"    column="certificate"    />
        <result property="createTime"    column="create_time"    />
        <result property="avatar"    column="avatar"    />
    </resultMap>

    <sql id="selectPsyConsultantVo">
        select id, name, style, experience, certificate, create_time, avatar from psy_consultant
    </sql>

    <select id="selectPsyConsultantList" parameterType="PsyConsultant" resultMap="PsyConsultantResult">
        <include refid="selectPsyConsultantVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="experience != null  and experience != ''"> and experience = #{experience}</if>
            <if test="certificate != null  and certificate != ''"> and certificate = #{certificate}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
        </where>
    </select>
    
    <select id="selectPsyConsultantById" parameterType="Integer" resultMap="PsyConsultantResult">
        <include refid="selectPsyConsultantVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPsyConsultant" parameterType="PsyConsultant">
        insert into psy_consultant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="style != null">style,</if>
            <if test="experience != null">experience,</if>
            <if test="certificate != null">certificate,</if>
            <if test="createTime != null">create_time,</if>
            <if test="avatar != null">avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="style != null">#{style},</if>
            <if test="experience != null">#{experience},</if>
            <if test="certificate != null">#{certificate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="avatar != null">#{avatar},</if>
         </trim>
    </insert>

    <update id="updatePsyConsultant" parameterType="PsyConsultant">
        update psy_consultant
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="style != null">style = #{style},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="certificate != null">certificate = #{certificate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyConsultantById" parameterType="Integer">
        delete from psy_consultant where id = #{id}
    </delete>

    <delete id="deletePsyConsultantByIds" parameterType="String">
        delete from psy_consultant where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>