<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultMapper">

    <select id="search" resultType="com.ruoyi.psychology.domain.PsyConsult">
        <include refid="selectPsyConsultVo"/>
        <where>
            and status = 0 and del_flag = 0
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="catId != null  and catId != ''"> and cat_id = #{catId}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="(serve != null  and serve != '') or (lowPrice != null and highPrice != null)">
                and exists (
                    SELECT consult_id FROM psy_consult_serve WHERE del_flag = 0 and `status` = 0 and consult_id = psy_consult.id
                    <if test="serve != null  and serve != ''"> and `name` = #{serve}</if>
                    <if test="lowPrice != null and highPrice != null">
                        and price <![CDATA[>=]]> #{lowPrice} and price <![CDATA[<=]]> #{highPrice}
                    </if>
                    GROUP BY consult_id
                )
             </if>
            <if test="(type != null  and type != '') or (days != null and days.size() > 0)">
                and exists (
                    SELECT consult_id FROM psy_consult_work WHERE del_flag = 0 and `status` = 0 and consult_id = psy_consult.id
                    <if test="type != null  and type != ''"> and `type` = #{type}</if>
                    <if test="days != null and days.size() > 0">
                        and `day` in
                        <foreach collection="days" index="index" item="item" open="(" separator="," close=")">
                            #{item,jdbcType=VARCHAR}
                        </foreach>
                    </if>
                    GROUP BY consult_id
                )
             </if>
        </where>


    </select>

    <update id="tombstonedByIds">
        update psy_consult set del_flag = 1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>
    
    <resultMap type="PsyConsult" id="PsyConsultResult">
        <result property="id"    column="id"    />
        <result property="catId"    column="cat_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="avatar"    column="avatar"    />
        <result property="email"    column="email"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="sex"    column="sex"    />
        <result property="tabs"    column="tabs"    />
        <result property="way"    column="way"    />
        <result property="wayStr"    column="way_str"    />
        <result property="info"    column="info"    />
        <result property="detail"    column="detail"    />
        <result property="workNum"    column="work_num"    />
        <result property="workTime"    column="work_time"    />
        <result property="workHours"    column="work_hours"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPsyConsultVo">
        select id, cat_id, user_id, user_name, avatar, email, phonenumber, sex, tabs, way, way_str, info, detail, work_num, work_time, work_hours, del_flag, status, create_by, create_time, update_by, update_time from psy_consult
    </sql>

    <select id="getList" parameterType="PsyConsult" resultMap="PsyConsultResult">
        <include refid="selectPsyConsultVo"/>
        <where>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="catId != null  and catId != ''"> and cat_id = #{catId}</if>
            <if test="tabs != null  and tabs != ''"> and tabs = #{tabs}</if>
            <if test="way != null  and way != ''"> and way = #{way}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
</mapper>