<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultClassMapper">

    <update id="tombstonedByIds">
        update psy_consult_class set del_flag = 1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>
    
    <resultMap type="PsyConsultClass" id="PsyConsultClassResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
        <result property="url"    column="url"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="type"    column="type"    />
        <result property="nand"    column="nand"    />
        <result property="serve"    column="serve"    />
        <result property="serveId"    column="serve_id"    />
        <result property="price"    column="price"    />
        <result property="buy"    column="buy"    />
        <result property="single"    column="single"    />
        <result property="lowPrice"    column="low_price"    />
        <result property="highPrice"    column="high_price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPsyConsultClassVo">
        select id, name, sort, url, link_url, del_flag, status, type, single, nand, serve, serve_id, price, buy, low_price, high_price, create_by, create_time, update_by, update_time from psy_consult_class
    </sql>

    <select id="getList" parameterType="PsyConsultClass" resultMap="PsyConsultClassResult">
        <include refid="selectPsyConsultClassVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
</mapper>