<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultBillMapper">

    <select id="getList" resultType="com.ruoyi.psychology.domain.PsyConsultBill">
        SELECT
            a.id,
            a.bill_time,
            count( DISTINCT b.id ) num,
            count( DISTINCT b.order_id ) order_num,
            count( DISTINCT b.consult_id ) consult_num,
            sum( b.price ) total,
            sum( b.brokerage ) pay,
            a.remark
        FROM
            psy_consult_bill a
            LEFT JOIN psy_consult_bill_item b ON a.id = b.bill_id AND b.bill_id > 0
        <where>
            <if test="consultId != null"> and b.consult_id = #{consultId}</if>
            <if test="startTime != null "> and a.bill_time <![CDATA[ >= ]]> #{startTime}</if>
            <if test="endTime != null "> and a.bill_time <![CDATA[ <= ]]> #{endTime}</if>
        </where>
        GROUP BY a.id,a.bill_time,a.remark
        ORDER BY a.id
    </select>

    <select id="getBillByBillDate" resultType="com.ruoyi.psychology.domain.PsyConsultBill">
        select * from psy_consult_bill where bill_time = #{billTime}
    </select>

</mapper>