<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultantDebitcardMapper">
    
    <resultMap type="PsyConsultantDebitcard" id="PsyConsultantDebitcardResult">
        <result property="cardNumber"    column="card_number"    />
        <result property="consultantId"    column="consultant_id"    />
        <result property="cardBanck"    column="card_banck"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPsyConsultantDebitcardVo">
        select card_number, consultant_id, card_banck, status, del_flag, create_by, create_time, update_by, update_time from psy_consultant_debitcard
    </sql>

    <select id="selectPsyConsultantDebitcardList" parameterType="PsyConsultantDebitcard" resultMap="PsyConsultantDebitcardResult">
        <include refid="selectPsyConsultantDebitcardVo"/>
        <where>  
            <if test="consultantId != null "> and consultant_id = #{consultantId}</if>
            <if test="cardBanck != null  and cardBanck != ''"> and card_banck = #{cardBanck}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPsyConsultantDebitcardByCardNumber" parameterType="String" resultMap="PsyConsultantDebitcardResult">
        <include refid="selectPsyConsultantDebitcardVo"/>
        where card_number = #{cardNumber}
    </select>
        
    <insert id="insertPsyConsultantDebitcard" parameterType="PsyConsultantDebitcard">
        insert into psy_consultant_debitcard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null">card_number,</if>
            <if test="consultantId != null">consultant_id,</if>
            <if test="cardBanck != null">card_banck,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null">#{cardNumber},</if>
            <if test="consultantId != null">#{consultantId},</if>
            <if test="cardBanck != null">#{cardBanck},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePsyConsultantDebitcard" parameterType="PsyConsultantDebitcard">
        update psy_consultant_debitcard
        <trim prefix="SET" suffixOverrides=",">
            <if test="consultantId != null">consultant_id = #{consultantId},</if>
            <if test="cardBanck != null">card_banck = #{cardBanck},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where card_number = #{cardNumber}
    </update>

    <delete id="deletePsyConsultantDebitcardByCardNumber" parameterType="String">
        delete from psy_consultant_debitcard where card_number = #{cardNumber}
    </delete>

    <delete id="deletePsyConsultantDebitcardByCardNumbers" parameterType="String">
        delete from psy_consultant_debitcard where card_number in 
        <foreach item="cardNumber" collection="array" open="(" separator="," close=")">
            #{cardNumber}
        </foreach>
    </delete>
</mapper>