<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.psychology.mapper.PsyConsultServeMapper">

    <update id="tombstonedByIds">
        update psy_consult_serve set del_flag = 1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="getServeRef" resultType="com.ruoyi.psychology.vo.PsyConsultServeVO">
        select a.serve_id,a.consult_id, b.nick_name, b.user_name,
        (SELECT count(id) FROM psy_consult_order WHERE consult_id = a.consult_id and pay_status = '2') num
        from psy_consult_serve a inner join psy_consult b on a.consult_id = b.id
        <where>
            <if test="consultId != null  and consultId != ''"> and a.consult_id = #{consultId}</if>
            <if test="serveId != null  and serveId != ''"> and a.serve_id = #{serveId}</if>
        </where>
    </select>

    <select id="getConsultServeRef" resultType="com.ruoyi.psychology.vo.PsyConsultServeVO">
        select distinct a.consult_id,b.nick_name, b.user_name from psy_consult_serve a inner join psy_consult b on a.consult_id = b.id
        <where>
            <if test="consultId != null  and consultId != ''"> and a.consult_id = #{consultId}</if>
            <if test="serveId != null  and serveId != ''"> and a.serve_id = #{serveId}</if>
        </where>
    </select>

    <insert id="batchServeRef">
        insert into psy_consult_serve(serve_id, consult_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.serveId},#{item.consultId})
        </foreach>
    </insert>
</mapper>