<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultOrderItemMapper">
<select id="getOrderItemList" resultType="com.renxin.psychology.dto.OrderItemDTO">
   SELECT
    a.*,
    b.user_name AS `consultantName`,
    b.avatar AS `consultantAvatar`,
    c.name AS `userNickName`,
    c.avatar AS `userAvatar`
FROM
    psy_consult_order_item a
INNER JOIN psy_consult b ON b.id = a.consult_id
INNER JOIN psy_consult_order d ON d.id = a.order_id
INNER JOIN psy_user c ON c.id = d.user_id


        where
            a.consult_id =  #{consultId} 
            a.day= #{day}
        ORDER BY a.day,time_start asc
    </select>
</mapper>