<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultPartnerMapper">

    <select id="getInfo" resultType="com.renxin.psychology.dto.PartnerDTO">
        <include refid="selectPsyConsultPartnerVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="id != null "> and id = #{id}</if>
        </where>
    </select>


    <resultMap type="PsyConsultPartner" id="PsyConsultPartnerResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="consultId"    column="consult_id"    />
        <result property="consultName"    column="consult_name"    />
        <result property="step"    column="step"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="wechat"    column="wechat"    />
        <result property="qq"    column="qq"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="city"    column="city"    />
        <result property="province"    column="province"    />
        <result property="lang"    column="lang"    />
        <result property="workHours"    column="work_hours"    />
        <result property="genre"    column="genre"    />
        <result property="card"    column="card"    />
        <result property="cardImg"    column="card_img"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="money"    column="money"    />
        <result property="ratio"    column="ratio"    />
        <result property="remark"    column="remark"    />
        <result property="passTime"    column="pass_time"    />
    </resultMap>

    <sql id="selectPsyConsultPartnerVo">
        select id, user_id, consult_id, consult_name, step, type, name, sex, wechat, qq, phone, email, city, province, lang, work_hours, genre, card, card_img, status, create_by, create_time, update_by, update_time, money, ratio, remark, pass_time from psy_consult_partner
    </sql>

    <select id="selectPsyConsultPartnerList" parameterType="PsyConsultPartner" resultMap="PsyConsultPartnerResult">
        <include refid="selectPsyConsultPartnerVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="consultId != null "> and consult_id = #{consultId}</if>
            <if test="consultName != null "> and consult_name = #{consultName}</if>
            <if test="step != null  and step != ''"> and step = #{step}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="wechat != null  and wechat != ''"> and wechat = #{wechat}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="lang != null  and lang != ''"> and lang = #{lang}</if>
            <if test="workHours != null  and workHours != ''"> and work_hours = #{workHours}</if>
            <if test="genre != null  and genre != ''"> and genre = #{genre}</if>
            <if test="card != null  and card != ''"> and card = #{card}</if>
            <if test="cardImg != null  and cardImg != ''"> and card_img = #{cardImg}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <delete id="deletePsyConsultPartnerById" parameterType="Long">
        delete from psy_consult_partner where id = #{id}
    </delete>

    <delete id="deletePsyConsultPartnerByIds" parameterType="String">
        delete from psy_consult_partner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>