<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stu.mapper.ScoreMapper">
    <resultMap id="BaseMap" type="com.ruoyi.stu.domain.Score">
        <id column="id" property="id"/>
        <result property="dailyScore" column="daily_score"/>
        <result property="finallyScore" column="finally_score"/>
        <result property="avgScore" column="avgScore"/>
    </resultMap>
    <resultMap type="Score" id="ScoreResult" extends="BaseMap">
        <association property="teacher" resultMap="com.ruoyi.stu.domain.Teacher.BaseMap"/>
        <association property="course" resultMap="com.ruoyi.stu.mapper.CourseMapper.CourseMap"/>
        <association property="student" resultMap="com.ruoyi.stu.mapper.StuInfoMapper.StuInfoResult"/>
    </resultMap>
    <select id="selectFinshedCourse" resultMap="ScoreResult">
         SELECT DISTINCT stu_cls,tea_name,course_name,stu_course.course_id,tea_id
         FROM stu_cls
         NATURAL JOIN tea_info
         JOIN stu_info ON stu_cls.cls = stu_info.stu_cls
         JOIN stu_score ON stu_score.stu_id = stu_info.stu_id
         JOIN stu_course ON stu_score.course_id = stu_course.course_id
        <where>
            <if test="stuCls!=null and stuCls !=''">and cls_name like concat('%', #{stuCls}, '%')</if>
            <if test="teacherName!=null and  teacherName !=''">and tea_name like concat('%', #{teacherName}, '%')</if>
            <if test="courseName!=null and  courseName !=''">and course_name like concat('%', #{courseName}, '%')</if>
        </where>
    </select>
    <select id="selectCourseScore" resultMap="ScoreResult">
        SELECT stu_info.stu_id `stu_id`,stu_no,stu_name,IFNULL(daily_score,0) `daily_score`,stu_cls,finally_score,stu_course.course_id `course_id` FROM stu_score
        JOIN stu_course ON stu_course.course_id=stu_score.course_id
        JOIN stu_info ON stu_score.stu_id = stu_info.stu_id
        WHERE
        stu_cls = #{stuCls}
        AND course_name = #{courseName}
    </select>
    <select id="selectHistoryScore" resultMap="ScoreResult">
        SELECT stu_no,ROUND(AVG(finally_score)) `avgScore` FROM stu_score ss
        JOIN stu_info si ON ss.stu_id=si.stu_id
        WHERE stu_cls = #{stuCls}
        GROUP BY ss.stu_id
    </select>
    <update id="updateClassDailyScore"  parameterType="java.util.List">
        <foreach collection="snos" item="item" index="index" open="" close="" separator=";">
            update stu_score
            <set>
                daily_score = ${item.dailyScore},
                finally_score = ${item.finallyScore}
            </set>
            where stu_id = ${item.stu.stuId} and course_id = ${item.course.courseId}
        </foreach>
    </update>

</mapper>