<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysImportFanRecordMapper">

    <resultMap type="SysImportFanRecord" id="SysImportFanRecordResult">
        <result property="id"    column="id"    />
        <result property="importFanDate"    column="import_fan_date"    />
        <result property="importFanChannel"    column="import_fan_channel"    />
        <result property="importFanLive"    column="import_fan_live"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />

        <result property="importFanChannelName" column="import_fan_channel_name"></result>
        <result property="liveRoomName" column="live_room_name"></result>
        <result property="liveNutritionistName" column="live_nutritionist_name"></result>
    </resultMap>

    <resultMap type="SysImportFanRecord" id="SysImportFanRecordResultExtended">
        <result property="id"    column="id"    />
        <result property="importFanDate"    column="import_fan_date"    />
        <result property="importFanChannel"    column="import_fan_channel"    />
        <result property="importFanLive"    column="import_fan_live"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />

        <result property="importFanChannelName" column="import_fan_channel_name"></result>
        <result property="liveRoomName" column="live_room_name"></result>
        <result property="liveNutritionistName" column="live_nutritionist_name"></result>

        <!-- 查询该渠道已导粉的微信号 -->
        <association property="wxAccountList" column="id" select="getWxAccountListByFanRecordId"/>
    </resultMap>

    <sql id="selectSysImportFanRecordVo">
        select id, import_fan_date, import_fan_channel, import_fan_live, create_time, create_by, update_time, update_by, del_flag from sys_import_fan_record
    </sql>

    <select id="selectSysImportFanRecordList" parameterType="SysImportFanRecord" resultMap="SysImportFanRecordResultExtended">
        select fc.id, fc.import_fan_date, fc.import_fan_channel, fc.import_fan_live, fc.create_time,
        ca.dict_label as import_fan_channel_name, slt.dict_label as live_room_name,su_nutritionist.nick_name as live_nutritionist_name
        from sys_import_fan_record as fc
        left join (SELECT dict_label, dict_value FROM sys_dict_data WHERE dict_type = 'cus_account') AS ca ON ca.dict_value = fc.import_fan_channel
        left join sys_live_schedul as slc on slc.id = fc.import_fan_live and slc.del_flag = 0
        left join (SELECT dict_label, dict_value FROM sys_dict_data WHERE dict_type = 'sys_live_type') AS slt ON slt.dict_value = slc.live_room
        left join sys_user as su_nutritionist on su_nutritionist.user_id = slc.live_nutritionist_id and su_nutritionist.del_flag = 0
        where fc.del_flag = 0
        <if test="importFanDate != null "> and fc.import_fan_date = #{importFanDate}</if>
        <if test="importFanChannel != null "> and fc.import_fan_channel = #{importFanChannel}</if>
        <if test="importFanLive != null "> and fc.import_fan_live = #{importFanLive}</if>
    </select>

    <select id="selectSysImportFanRecordById" parameterType="Long" resultMap="SysImportFanRecordResult">
        <include refid="selectSysImportFanRecordVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysImportFanRecord" parameterType="SysImportFanRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sys_import_fan_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="importFanDate != null">import_fan_date,</if>
            <if test="importFanChannel != null">import_fan_channel,</if>
            <if test="importFanLive != null">import_fan_live,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="importFanDate != null">#{importFanDate},</if>
            <if test="importFanChannel != null">#{importFanChannel},</if>
            <if test="importFanLive != null">#{importFanLive},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysImportFanRecord" parameterType="SysImportFanRecord">
        update sys_import_fan_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="importFanDate != null">import_fan_date = #{importFanDate},</if>
            <if test="importFanChannel != null">import_fan_channel = #{importFanChannel},</if>
            <if test="importFanLive != null">import_fan_live = #{importFanLive},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysImportFanRecordById" parameterType="Long">
        update sys_import_fan_record set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteSysImportFanRecordByIds" parameterType="String">
        update sys_import_fan_record set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getFanRecordByChannelLive" parameterType="SysImportFanRecord" resultMap="SysImportFanRecordResult">
        select * from sys_import_fan_record where del_flag = 0 and import_fan_date = #{importFanDate} and import_fan_channel = #{importFanChannel}
        and import_fan_live = #{importFanLive}
        order by id desc limit 1
    </select>

    <select id="getWxAccountListByFanRecordId" parameterType="Long" resultType="Map">
        select fwc.id, fwc.import_fan_record_id as importFanRecordId, fwc.import_wx_account_id as importWxAccountId, fwc.import_fan_num as importFanNum,
        su.nick_name as saleName,wa.wx_account as wxAccount
        from sys_import_fan_wx_account fwc
        left join sys_wx_sale_account wa on wa.id = fwc.import_wx_account_id and wa.del_flag = 0
        left join sys_wx_distribution swd on swd.wechat_account = wa.id and swd.del_flag = 0
        left join sys_user su on swd.user_id = su.user_id and su.del_flag = 0
        where fwc.del_flag = 0 and fwc.import_fan_record_id = #{id}
    </select>

</mapper>