<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysImportFanWxAccountMapper">

    <resultMap type="SysImportFanWxAccount" id="SysImportFanWxAccountResult">
        <result property="id"    column="id"    />
        <result property="importFanRecordId"    column="import_fan_record_id"    />
        <result property="importWxAccountId"    column="import_wx_account_id"    />
        <result property="importFanNum"    column="import_fan_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysImportFanWxAccountVo">
        select id, import_fan_record_id, import_wx_account_id, import_fan_num, create_time, create_by, update_time, update_by, del_flag from sys_import_fan_wx_account
    </sql>

    <select id="selectSysImportFanWxAccountList" parameterType="SysImportFanWxAccount" resultMap="SysImportFanWxAccountResult">
        <include refid="selectSysImportFanWxAccountVo"/> where del_flag = 0
        <if test="importFanRecordId != null "> and import_fan_record_id = #{importFanRecordId}</if>
        <if test="importWxAccountId != null "> and import_wx_account_id = #{importWxAccountId}</if>
        <if test="importFanNum != null "> and import_fan_num = #{importFanNum}</if>
    </select>

    <select id="selectSysImportFanWxAccountById" parameterType="Long" resultMap="SysImportFanWxAccountResult">
        <include refid="selectSysImportFanWxAccountVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysImportFanWxAccount" parameterType="SysImportFanWxAccount" useGeneratedKeys="true" keyProperty="id">
        insert into sys_import_fan_wx_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="importFanRecordId != null">import_fan_record_id,</if>
            <if test="importWxAccountId != null">import_wx_account_id,</if>
            <if test="importFanNum != null">import_fan_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="importFanRecordId != null">#{importFanRecordId},</if>
            <if test="importWxAccountId != null">#{importWxAccountId},</if>
            <if test="importFanNum != null">#{importFanNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysImportFanWxAccount" parameterType="SysImportFanWxAccount">
        update sys_import_fan_wx_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="importFanRecordId != null">import_fan_record_id = #{importFanRecordId},</if>
            <if test="importWxAccountId != null">import_wx_account_id = #{importWxAccountId},</if>
            <if test="importFanNum != null">import_fan_num = #{importFanNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysImportFanWxAccountById" parameterType="Long">
        update sys_import_fan_wx_account set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteSysImportFanWxAccountByIds" parameterType="String">
        update sys_import_fan_wx_account set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>