<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysImportFanRecordMapper">

    <resultMap type="SysImportFanRecord" id="SysImportFanRecordResult">
        <result property="id"    column="id"    />
        <result property="importFanDate"    column="import_fan_date"    />
        <result property="importFanChannel"    column="import_fan_channel"    />
        <result property="importFanLive"    column="import_fan_live"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysImportFanRecordVo">
        select id, import_fan_date, import_fan_channel, import_fan_live, create_time, create_by, update_time, update_by, del_flag from sys_import_fan_record
    </sql>

    <select id="selectSysImportFanRecordList" parameterType="SysImportFanRecord" resultMap="SysImportFanRecordResult">
        <include refid="selectSysImportFanRecordVo"/>
        where del_flag = 0
        <if test="importFanDate != null "> and import_fan_date = #{importFanDate}</if>
        <if test="importFanChannel != null "> and import_fan_channel = #{importFanChannel}</if>
        <if test="importFanLive != null "> and import_fan_live = #{importFanLive}</if>
    </select>

    <select id="selectSysImportFanRecordById" parameterType="Long" resultMap="SysImportFanRecordResult">
        <include refid="selectSysImportFanRecordVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysImportFanRecord" parameterType="SysImportFanRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sys_import_fan_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="importFanDate != null">import_fan_date,</if>
            <if test="importFanChannel != null">import_fan_channel,</if>
            <if test="importFanLive != null">import_fan_live,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="importFanDate != null">#{importFanDate},</if>
            <if test="importFanChannel != null">#{importFanChannel},</if>
            <if test="importFanLive != null">#{importFanLive},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysImportFanRecord" parameterType="SysImportFanRecord">
        update sys_import_fan_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="importFanDate != null">import_fan_date = #{importFanDate},</if>
            <if test="importFanChannel != null">import_fan_channel = #{importFanChannel},</if>
            <if test="importFanLive != null">import_fan_live = #{importFanLive},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysImportFanRecordById" parameterType="Long">
        update sys_import_fan_record set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteSysImportFanRecordByIds" parameterType="String">
        update sys_import_fan_record set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>