<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysRecipesPlanMapper">

    <resultMap type="SysRecipesPlan" id="SysRecipesPlanResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="recipesId"    column="recipes_id"    />
        <result property="sendFlag"    column="send_flag"    />
        <result property="sendTime"    column="send_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysRecipesPlanVo">
        select id, order_id, start_date, end_date, recipes_id, send_flag, send_time, create_time, create_by, update_time, update_by, del_flag from sys_recipes_plan
    </sql>

    <select id="selectSysRecipesPlanList" parameterType="SysRecipesPlan" resultMap="SysRecipesPlanResult">
        <include refid="selectSysRecipesPlanVo"/> where del_flag = 0
        <if test="orderId != null "> and order_id = #{orderId}</if>
        <if test="startDate != null "> and start_date = #{startDate}</if>
        <if test="endDate != null "> and end_date = #{endDate}</if>
        <if test="recipesId != null "> and recipes_id = #{recipesId}</if>
        <if test="sendFlag != null "> and send_flag = #{sendFlag}</if>
        <if test="sendTime != null "> and send_time = #{sendTime}</if>
    </select>

    <select id="selectSysRecipesPlanById" parameterType="Long" resultMap="SysRecipesPlanResult">
        <include refid="selectSysRecipesPlanVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysRecipesPlan" parameterType="SysRecipesPlan" useGeneratedKeys="true" keyProperty="id">
        insert into sys_recipes_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="recipesId != null">recipes_id,</if>
            <if test="sendFlag != null">send_flag,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="recipesId != null">#{recipesId},</if>
            <if test="sendFlag != null">#{sendFlag},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysRecipesPlan" parameterType="SysRecipesPlan">
        update sys_recipes_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="recipesId != null">recipes_id = #{recipesId},</if>
            <if test="sendFlag != null">send_flag = #{sendFlag},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id} and del_flag = 0
    </update>

    <delete id="deleteSysRecipesPlanById" parameterType="Long">
        update sys_recipes_plan set del_flag = 0 where id = #{id}
    </delete>

    <delete id="deleteSysRecipesPlanByIds" parameterType="String">
        update sys_recipes_plan set del_flag = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量插入食谱计划 -->
    <insert id="insertBatch">
        INSERT INTO sys_recipes_plan
        (order_id, start_date, end_date)
        VALUES
        <foreach collection ="list" item="plan" separator =",">
            (#{plan.orderId}, #{plan.startDate}, #{plan.end_date})
        </foreach >
    </insert>

    <!-- 根据订单ID删除对应食谱计划 -->
    <update id="delRecipesPlanByOrderId" parameterType="Long">
      update sys_recipes_plan set del_flag = 0 and order_id = #{orderId}
    </update>

</mapper>