<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysRecipesPlanMapper">

    <resultMap type="SysRecipesPlan" id="SysRecipesPlanResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="recipesId"    column="recipes_id"    />
        <result property="sendFlag"    column="send_flag"    />
        <result property="sendTime"    column="send_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="cusId"    column="cus_id"    />
        <!-- 非持久化字段 -->
        <result property="customerId" column="cus_id"></result><!-- 客户ID -->
        <result property="customer"    column="customer"    /><!-- 客户姓名 -->
        <result property="phone" column="phone"     />
        <result property="orderStartDate"    column="order_start_date"    />
        <result property="orderEndDate"    column="order_end_date"    />
        <result property="nutritionistId"    column="nutritionist_id"    />
        <result property="nutritionist"    column="nutritionist"    />
        <result property="nutritionistAssisId"    column="nutritionist_assis_id"    />
        <result property="nutritionistAssis"    column="nutritionist_assis"    />
    </resultMap>

    <sql id="selectSysRecipesPlanVo">
        select id, order_id, start_date, end_date, recipes_id, send_flag, send_time, create_time, create_by, update_time, update_by, del_flag from sys_recipes_plan
    </sql>

    <select id="selectSysRecipesPlanList" parameterType="SysRecipesPlan" resultMap="SysRecipesPlanResult">
        <include refid="selectSysRecipesPlanVo"/> where del_flag = 0
        <if test="orderId != null "> and order_id = #{orderId}</if>
        <if test="startDate != null "> and start_date = #{startDate}</if>
        <if test="endDate != null "> and end_date = #{endDate}</if>
        <if test="recipesId != null "> and recipes_id = #{recipesId}</if>
        <if test="sendFlag != null "> and send_flag = #{sendFlag}</if>
        <if test="sendTime != null "> and send_time = #{sendTime}</if>
    </select>

    <select id="selectSysRecipesPlanById" parameterType="Long" resultMap="SysRecipesPlanResult">
        <include refid="selectSysRecipesPlanVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysRecipesPlan" parameterType="SysRecipesPlan" useGeneratedKeys="true" keyProperty="id">
        insert into sys_recipes_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="recipesId != null">recipes_id,</if>
            <if test="sendFlag != null">send_flag,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="recipesId != null">#{recipesId},</if>
            <if test="sendFlag != null">#{sendFlag},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysRecipesPlan" parameterType="SysRecipesPlan">
        update sys_recipes_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="recipesId != null">recipes_id = #{recipesId},</if>
            <if test="sendFlag != null">send_flag = #{sendFlag},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id} and del_flag = 0
    </update>

    <delete id="deleteSysRecipesPlanById" parameterType="Long">
        delete from sys_recipes_plan where id = #{id}
    </delete>

    <delete id="deleteSysRecipesPlanByIds" parameterType="String">
        delete from sys_recipes_plan where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量插入食谱计划 -->
    <insert id="insertBatch">
        INSERT INTO sys_recipes_plan
        (order_id, start_date, end_date, send_flag, send_time, recipes_id)
        VALUES
        <foreach collection ="list" item="plan" separator =",">
            (#{plan.orderId}, #{plan.startDate}, #{plan.endDate}, #{plan.sendFlag}, #{plan.sendTime}, #{plan.recipesId})
        </foreach >
    </insert>

    <!-- 根据订单ID删除对应食谱计划 -->
    <update id="delRecipesPlanByOrderId" parameterType="String">
      delete from sys_recipes_plan where order_id in
      <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
      </foreach>
    </update>

    <!-- 食谱计划、订单表联查 -->
    <select id="selectPlanListByCondition" parameterType="SysRecipesPlan" resultMap="SysRecipesPlanResult">
      SELECT srp.id,srp.order_id,srp.recipes_id,sr.customer,sr.cus_id,sr.phone,su_nutritionist.nick_name nutritionist,su_nutritionist_assis.nick_name AS nutritionist_assis,sr.start_time,sr.server_end_time, srp.start_date,srp.end_date,srp.send_flag,srp.send_time
      FROM sys_recipes_plan srp
      LEFT JOIN sys_order sr ON sr.order_id = srp.order_id
      LEFT JOIN sys_user su_nutritionist ON su_nutritionist.user_id = sr.nutritionist_id AND su_nutritionist.del_flag = 0
      LEFT JOIN sys_user su_nutritionist_assis ON su_nutritionist_assis.user_id = sr.nutri_assis_id AND su_nutritionist_assis.del_flag = 0
      WHERE srp.del_flag = 0
      <if test="orderId != null">AND srp.order_id = #{orderId}</if>
        <if test="sendFlag != null">AND srp.send_flag = #{sendFlag}</if>
      <if test="customer != null and customer != ''">AND (sr.customer like concat('%',#{customer},'%') OR sr.phone like concat('%',#{customer},'%'))</if>
      <if test="nutritionistId != null">AND su_nutritionist.user_id = #{nutritionistId}</if>
      <if test="nutritionistAssisId != null">AND su_nutritionist_assis.user_id = #{nutritionistAssisId}</if>
      <if test="startDate != null and endDate != null ">AND srp.start_date BETWEEN date_format(#{startDate},'%y%m%d') AND date_format(#{endDate},'%y%m%d') </if>
      ORDER BY srp.order_id DESC,srp.id ASC
    </select>
    <!-- 食谱计划、订单表联查 -->
    <!--<select id="selectPlanListByCondition" parameterType="SysRecipesPlan" resultMap="SysRecipesPlanResult">
        SELECT sr.order_id,sr.customer,sr.phone,su_nutritionist.nick_name nutritionist,su_nutritionist_assis.nick_name AS nutritionist_assis,sr.start_time,sr.server_end_time
        FROM sys_order sr
        LEFT JOIN sys_user su_nutritionist ON su_nutritionist.user_id = sr.nutritionist_id AND su_nutritionist.del_flag = 0
        LEFT JOIN sys_user su_nutritionist_assis ON su_nutritionist_assis.user_id = sr.nutri_assis_id AND su_nutritionist_assis.del_flag = 0
        <where>
            <if test="orderId != null">AND sr.order_id = #{orderId}</if>
            <if test="customer != null and customer != ''">AND (sr.customer like concat('%',#{customer},'%') OR sr.phone like concat('%',#{customer},'%'))</if>
            <if test="nutritionistId != null">AND su_nutritionist.user_id = #{nutritionistId}</if>
            <if test="nutritionistAssisId != null">AND su_nutritionist_assis.user_id = #{nutritionistAssisId}</if>
            <if test="startDate != null and endDate != null ">
                AND sr.order_id IN ( SELECT order_id FROM sys_recipes_plan srp WHERE srp.del_flag = 0 AND srp.start_date BETWEEN date_format(#{startDate},'%y%m%d') AND date_format(#{endDate},'%y%m%d'))
            </if>
        </where>
        ORDER BY sr.order_id DESC
    </select>-->

    <!-- 根据订单ID查询食谱计划 -->
    <select id="selectPlanListByOrderId" parameterType="SysRecipesPlan" resultMap="SysRecipesPlanResult">
      SELECT srp.id,srp.order_id,sr.customer,sr.phone, srp.start_date,srp.end_date,srp.send_flag,srp.send_time
      FROM sys_recipes_plan srp
      LEFT JOIN sys_order sr ON sr.order_id = srp.order_id
      WHERE srp.del_flag = 0 AND srp.order_id = #{orderId}
      <if test="sendFlag != null">AND srp.send_flag = #{sendFlag}</if>
      ORDER BY srp.id ASC
    </select>
</mapper>