<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysRecipesTemplateMapper">

    <resultMap type="SysRecipesTemplate" id="SysRecipesTemplateResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="planId" column="plan_id"/>
        <result property="nutritionistId" column="nutritionist_id"/>
        <result property="nutriAssisId" column="nutri_assis_id"/>
        <result property="keyWord"    column="key_word"    />
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="recipesId" column="recipes_id"/>
        <result property="reviewStatus" column="review_status"/>

        <result property="nutritionist" column="nutritionist"/>
        <result property="nutriAssis" column="nutritionist_assis"/>
    </resultMap>

    <select id="selectRecipesTemplateListByCondition" parameterType="SysRecipesTemplate" resultMap="SysRecipesTemplateResult">
        select srt.id, srt.name, srt.nutritionist_id, srt.nutri_assis_id, srt.key_word, srt.remark, srt.update_time,
            srt.create_time, srt.update_by, srt.create_by, srt.plan_id, srp.recipes_id, srp.review_status,
            su_nutritionist.nick_name as nutritionist, su_nutritionist_assis.nick_name as nutritionist_assis
        from sys_recipes_template srt
        left join sys_recipes_plan srp on srp.id = srt.plan_id
        left join sys_user su_nutritionist on su_nutritionist.user_id = srt.nutritionist_id and su_nutritionist.del_flag = 0
        left join sys_user su_nutritionist_assis on su_nutritionist_assis.user_id = srt.nutri_assis_id and su_nutritionist_assis.del_flag = 0
        where srt.del_flag = 0
        <if test="keys != null and keys.length > 0">and
            <foreach collection="keys" item="key" separator="and" open="(" close=")">
                (
                  srt.name like concat('%', #{key}, '%') or srt.remark like concat('%', #{key}, '%')
                  or FIND_IN_SET(#{key}, srt.key_word)
                )
            </foreach>
        </if>
        <if test="nutriAssisId != null ">and srt.nutri_assis_id = #{nutriAssisId}</if>
        <if test="nutritionistId != null ">and srt.nutritionist_id = #{nutritionistId}</if>
        <if test="reviewStatus != null ">and srp.review_status = #{reviewStatus}</if>
        order by
        <if test="keys != null and keys.length > 0">
            FIND_IN_SET(srt.id, (
              SELECT group_concat(t.id Separator ',') from sys_recipes_template t WHERE
                <foreach collection="keys" item="key" separator="and" open="(" close=")">
                       FIND_IN_SET(#{key}, srt.key_word)
                </foreach>
            )) desc,
        </if>
        srt.id desc
    </select>

    <select id="getRecipesTemplateById" parameterType="Long" resultType="SysRecipesTemplate">
         select srt.id, srt.name, srt.nutritionist_id as nutritionistId, srt.nutri_assis_id as nutriAssisId, srt.key_word, srt.remark, srt.update_time as updateTime,
            srt.create_time as createTime, srt.update_by as updateBy, srt.create_by as createBy, srt.plan_id as planId,
            su_nutritionist.nick_name as nutritionist, su_nutritionist_assis.nick_name as nutriAssis
        from sys_recipes_template srt
        left join sys_user su_nutritionist on su_nutritionist.user_id = srt.nutritionist_id and su_nutritionist.del_flag = 0
        left join sys_user su_nutritionist_assis on su_nutritionist_assis.user_id = srt.nutri_assis_id and su_nutritionist_assis.del_flag = 0
        where srt.id = #{id} and srt.del_flag = 0
    </select>

    <insert id="insertRecipsesTemplate" parameterType="SysRecipesTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into sys_recipes_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="planId != null">plan_id,</if>
            <if test="nutriAssisId != null">nutri_assis_id,</if>
            <if test="nutritionistId != null">nutritionist_id,</if>
            <if test="keyWord != null">key_word,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="planId != null">#{planId},</if>
            <if test="nutriAssisId != null">#{nutriAssisId},</if>
            <if test="nutritionistId != null">#{nutritionistId},</if>
            <if test="keyWord != null">#{keyWord},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRecipesTemplate" parameterType="SysRecipesTemplate">
        update sys_recipes_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="nutriAssisId != null">nutri_assis_id = #{nutriAssisId},</if>
            <if test="nutritionistId != null">nutritionist_id = #{nutritionistId},</if>
            <if test="keyWord != null">key_word = #{keyWord},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="removeRecipesTemplate" parameterType="Long">
        update sys_recipes_template set del_flag=1 where id = #{id}
    </delete>

</mapper>