<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdiet.custom.mapper.SysVideoClassifyMapper">

    <resultMap type="SysVideoClassify" id="SysVideoClassifyResult">
        <result property="id" column="id"/>
        <result property="cateName" column="cate_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="payFlag" column="pay_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectSysVideoClassifyVo">
        select id, cate_name, parent_id, order_num, pay_flag, create_time, create_by, update_time, update_by, del_flag from sys_video_classify
    </sql>

    <select id="selectSysVideoClassifyList" parameterType="SysVideoClassify" resultMap="SysVideoClassifyResult">
        select id, cate_name, parent_id, order_num, pay_flag, create_time from sys_video_classify
        where del_flag = 0
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
        order by order_num asc,id asc
    </select>

    <select id="selectSysVideoClassifyById" parameterType="Long" resultMap="SysVideoClassifyResult">
        <include refid="selectSysVideoClassifyVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertSysVideoClassify" parameterType="SysVideoClassify">
        insert into sys_video_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cateName != null">cate_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="payFlag != null">pay_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="cateName != null">#{cateName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="payFlag != null">#{payFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysVideoClassify" parameterType="SysVideoClassify">
        update sys_video_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="cateName != null">cate_name = #{cateName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="payFlag != null">pay_flag = #{payFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysVideoClassifyById" parameterType="Long">
        update sys_video_classify set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteSysVideoClassifyByIds" parameterType="String">
        update sys_video_classify set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getAllClassify" resultMap="SysVideoClassifyResult" parameterType="SysVideoClassify">
        select id, cate_name, parent_id, order_num, pay_flag, create_time, create_by, update_time, update_by, del_flag
        from sys_video_classify
        where del_flag = 0
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
        order by order_num asc,id asc
    </select>

    <resultMap type="com.stdiet.custom.dto.response.VideoClassifyResponse" id="VideoClassifyOneResult">
        <result property="id" column="id"/>
        <result property="cateName" column="cate_name"/>
        <result property="userType" column="userType"/>
        <!-- 查询子分类 -->
        <association property="childrenClassify" column="{userType=userType,id=id}" select="getTwoAllClassifyAndVideo"/>
        <!-- 查询子视频 -->
        <association property="childrenVideo" column="{userType=userType,id=id}" select="getAllVideoByClassify"/>
    </resultMap>

    <resultMap type="com.stdiet.custom.dto.response.VideoClassifyResponse" id="VideoClassifyTwoResult">
        <result property="id" column="id"/>
        <result property="cateName" column="cate_name"/>
        <result property="userType" column="userType"></result>
        <!-- 查询子分类 -->
        <association property="childrenClassify" column="{userType=userType,id=id}"
                     select="getThreeAllClassifyAndVideo"/>
        <!-- 查询子视频 -->
        <association property="childrenVideo" column="{userType=userType,id=id}" select="getAllVideoByClassify"/>
    </resultMap>

    <resultMap type="com.stdiet.custom.dto.response.VideoClassifyResponse" id="VideoClassifyThreeResult">
        <result property="id" column="id"/>
        <result property="cateName" column="cate_name"/>
        <result property="userType" column="userType"></result>
        <!-- 查询子视频 -->
        <association property="childrenVideo" column="{userType=userType,id=id}" select="getAllVideoByClassify"/>
    </resultMap>

    <select id="getOneAllClassifyAndVideo" resultMap="VideoClassifyOneResult" parameterType="SysVideoClassify">
        select id, cate_name, #{userType} as userType from sys_video_classify
        where del_flag = 0 and parent_id = #{parentId} and 1 = 1
        order by order_num asc,id asc
    </select>

    <select id="getTwoAllClassifyAndVideo" resultMap="VideoClassifyTwoResult">
        select id, cate_name,#{userType} as userType from sys_video_classify
        where del_flag = 0 and parent_id = #{id} and 2 = 2
        order by order_num asc,id asc
    </select>

    <select id="getThreeAllClassifyAndVideo" resultMap="VideoClassifyThreeResult">
        select id, cate_name,#{userType} as userType from sys_video_classify
        where del_flag = 0 and parent_id = #{id} and 3 = 3
        order by order_num asc,id asc
    </select>

    <select id="getAllVideoByClassify" resultType="com.stdiet.custom.dto.response.VideoResponse">
        select snv.video_id as videoId, snv.title, snv.cover_url as coverUrl, snv.play_num as playNum
        <if test="userType == null or userType == 0">
            , snv.pay_level as playLevel
        </if>
        <if test="userType == 1">
            , 0 as playLevel
        </if>
        from sys_nutritional_video snv where cate_id = #{id} and del_flag = 0 and show_flag = 1
        order by priority_level desc,id asc
    </select>

</mapper>