<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.note.mapper.NmNoteMapper">

    <resultMap type="NmNote" id="NmNoteResult">
        <result property="noteId"    column="note_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="menuId"    column="menu_id"    />
        <result property="background"    column="background"    />
        <result property="noteCount"    column="note_count"    />
        <result property="noteSort"    column="note_sort"    />
        <result property="noteState"    column="note_state"    />
        <result property="readProgress"    column="read_progress"    />
        <result property="noteStar"    column="note_star"    />
        <result property="noteDelete"    column="note_delete"    />
        <result property="topFlag"    column="top_flag"    />
        <result property="noteShare"    column="note_share"    />
        <result property="noteEncryption"    column="note_encryption"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tiymceUeditor"    column="tiymce_ueditor"    />
    </resultMap>


    <sql id="selectNmNoteVo">
        select note_id, user_id, title, description, menu_id, background, note_count, note_sort, note_state, read_progress, note_star, note_delete, top_flag, note_share, note_encryption, create_time, update_time,tiymce_ueditor from nm_note
    </sql>

    <select id="selectNmNoteList" parameterType="NmNote" resultMap="NmNoteResult">
        <include refid="selectNmNoteVo"/>
        <where>
            <if test="noteId != null "> and note_id = #{noteId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="menuId != null "> and menu_id = #{menuId}</if>
            <if test="background != null  and background != ''"> and background = #{background}</if>
            <if test="noteCount != null "> and note_count = #{noteCount}</if>
            <if test="noteSort != null "> and note_sort = #{noteSort}</if>
            <if test="noteState != null "> and note_state = #{noteState}</if>
            <if test="readProgress != null "> and read_progress = #{readProgress}</if>
            <if test="noteStar != null "> and note_star = #{noteStar}</if>
            <if test="noteDelete != null "> and note_delete = #{noteDelete}</if>
            <if test="topFlag != null "> and top_flag = #{topFlag}</if>
            <if test="noteShare != null "> and note_share = #{noteShare}</if>
            <if test="noteEncryption != null "> and note_encryption = #{noteEncryption}</if>
            <if test="tiymceUeditor != null "> and tiymce_ueditor = #{tiymceUeditor}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectNmNoteById" parameterType="Long" resultMap="NmNoteResult">
        <include refid="selectNmNoteVo"/>
        where note_id = #{noteId}
    </select>

    <insert id="insertNmNote" parameterType="NmNote">
        insert into nm_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noteId != null">note_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="menuId != null">menu_id,</if>
            <if test="background != null">background,</if>
            <if test="noteCount != null">note_count,</if>
            <if test="noteSort != null">note_sort,</if>
            <if test="noteState != null">note_state,</if>
            <if test="readProgress != null">read_progress,</if>
            <if test="noteStar != null">note_star,</if>
            <if test="noteDelete != null">note_delete,</if>
            <if test="topFlag != null">top_flag,</if>
            <if test="noteShare != null">note_share,</if>
            <if test="noteEncryption != null">note_encryption,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="tiymceUeditor != null">tiymce_ueditor,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noteId != null">#{noteId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="menuId != null">#{menuId},</if>
            <if test="background != null">#{background},</if>
            <if test="noteCount != null">#{noteCount},</if>
            <if test="noteSort != null">#{noteSort},</if>
            <if test="noteState != null">#{noteState},</if>
            <if test="readProgress != null">#{readProgress},</if>
            <if test="noteStar != null">#{noteStar},</if>
            <if test="noteDelete != null">#{noteDelete},</if>
            <if test="topFlag != null">#{topFlag},</if>
            <if test="noteShare != null">#{noteShare},</if>
            <if test="noteEncryption != null">#{noteEncryption},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tiymceUeditor != null">#{tiymceUeditor},</if>
         </trim>
    </insert>

    <update id="updateNmNote" parameterType="NmNote">
        update nm_note
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="menuId != null">menu_id = #{menuId},</if>
            <if test="background != null">background = #{background},</if>
            <if test="noteCount != null">note_count = #{noteCount},</if>
            <if test="noteSort != null">note_sort = #{noteSort},</if>
            <if test="noteState != null">note_state = #{noteState},</if>
            <if test="readProgress != null">read_progress = #{readProgress},</if>
            <if test="noteStar != null">note_star = #{noteStar},</if>
            <if test="noteDelete != null">note_delete = #{noteDelete},</if>
            <if test="topFlag != null">top_flag = #{topFlag},</if>
            <if test="noteShare != null">note_share = #{noteShare},</if>
            <if test="noteEncryption != null">note_encryption = #{noteEncryption},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tiymceUeditor != null">tiymce_ueditor = #{tiymceUeditor},</if>
        </trim>
        where note_id = #{noteId}
    </update>

    <delete id="deleteNmNoteById" parameterType="Long">
        delete from nm_note where note_id = #{noteId}
    </delete>

    <delete id="deleteNmNoteByIds" parameterType="String">
        delete from nm_note where note_id in
        <foreach item="noteId" collection="array" open="(" separator="," close=")">
            #{noteId}
        </foreach>
    </delete>

</mapper>
