<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mail.mapper.MailContentMapper">
    
    <resultMap type="MailContent" id="MailContentResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectMailContentVo">
        select id, content, type, create_time, update_time, is_delete from mail_content
    </sql>

    <select id="selectMailContentList" parameterType="MailContent" resultMap="MailContentResult">
        <include refid="selectMailContentVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectMailContentById" parameterType="Long" resultMap="MailContentResult">
        <include refid="selectMailContentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMailContent" parameterType="MailContent" useGeneratedKeys="true" keyProperty="id">
        insert into mail_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateMailContent" parameterType="MailContent">
        update mail_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMailContentById" parameterType="Long">
        delete from mail_content where id = #{id}
    </delete>

    <delete id="deleteMailContentByIds" parameterType="String">
        delete from mail_content where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>