<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mail.mapper.MailUserMapper">
    
    <resultMap type="MailUser" id="MailUserResult">
        <result property="id"    column="id"    />
        <result property="mailAccount"    column="mail_account"    />
        <result property="mailType"    column="mail_type"    />
        <result property="name"    column="name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectMailUserVo">
        select id, mail_account, mail_type, name, create_time, update_time, is_delete, type from mail_user
    </sql>

    <select id="selectMailUserList" parameterType="MailUser" resultMap="MailUserResult">
        <include refid="selectMailUserVo"/>
        <where>  
            <if test="mailAccount != null  and mailAccount != ''"> and mail_account = #{mailAccount}</if>
            <if test="mailType != null "> and mail_type = #{mailType}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectMailUserById" parameterType="Long" resultMap="MailUserResult">
        <include refid="selectMailUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMailUser" parameterType="MailUser" useGeneratedKeys="true" keyProperty="id">
        insert into mail_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mailAccount != null and mailAccount != ''">mail_account,</if>
            <if test="mailType != null">mail_type,</if>
            <if test="name != null">name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mailAccount != null and mailAccount != ''">#{mailAccount},</if>
            <if test="mailType != null">#{mailType},</if>
            <if test="name != null">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateMailUser" parameterType="MailUser">
        update mail_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="mailAccount != null and mailAccount != ''">mail_account = #{mailAccount},</if>
            <if test="mailType != null">mail_type = #{mailType},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMailUserById" parameterType="Long">
        delete from mail_user where id = #{id}
    </delete>

    <delete id="deleteMailUserByIds" parameterType="String">
        delete from mail_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>