<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.articles.mapper.TArticlesMapper">
    
    <resultMap type="TArticles" id="TArticlesResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="userId"    column="user_id"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionCode"    column="region_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTArticlesVo">
        select id, title, content, image, user_id, region_id, region_code, create_time, update_time from t_articles
    </sql>

    <select id="selectTArticlesList" parameterType="TArticles" resultMap="TArticlesResult">
        <include refid="selectTArticlesVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="regionId != null  and regionId != ''"> and region_id = #{regionId}</if>
            <if test="regionCode != null  and regionCode != ''"> and region_code = #{regionCode}</if>
        </where>
    </select>
    
    <select id="selectTArticlesById" parameterType="Long" resultMap="TArticlesResult">
        <include refid="selectTArticlesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTArticles" parameterType="TArticles" useGeneratedKeys="true" keyProperty="id">
        insert into t_articles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="image != null">image,</if>
            <if test="userId != null">user_id,</if>
            <if test="regionId != null and regionId != ''">region_id,</if>
            <if test="regionCode != null and regionCode != ''">region_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="image != null">#{image},</if>
            <if test="userId != null">#{userId},</if>
            <if test="regionId != null and regionId != ''">#{regionId},</if>
            <if test="regionCode != null and regionCode != ''">#{regionCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTArticles" parameterType="TArticles">
        update t_articles
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="regionId != null and regionId != ''">region_id = #{regionId},</if>
            <if test="regionCode != null and regionCode != ''">region_code = #{regionCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTArticlesById" parameterType="Long">
        delete from t_articles where id = #{id}
    </delete>

    <delete id="deleteTArticlesByIds" parameterType="String">
        delete from t_articles where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>