<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.office.mapper.TRoomCleanRecordMapper">

    <resultMap type="TRoomCleanRecord" id="TRoomCleanRecordResult">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="roomId" column="room_id"/>
        <result property="sender" column="sender"/>
        <result property="wxUserId" column="wx_user_id"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTRoomCleanRecordVo">
        select id,
               order_no,
               room_id,
               sender,
               wx_user_id,
               receive_time,
               start_time,
               end_time,
               status,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from t_room_clean_record
    </sql>

    <select id="selectTRoomCleanRecordList" parameterType="TRoomCleanRecord" resultMap="TRoomCleanRecordResult">
        <include refid="selectTRoomCleanRecordVo"/>
        <where>
            <if test="orderNo != null ">and order_no = #{orderNo}</if>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="sender != null ">and sender = #{sender}</if>
            <if test="wxUserId != null ">and wx_user_id = #{wxUserId}</if>
            <if test="receiveTime != null ">and receive_time = #{receiveTime}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectTRoomCleanRecordById" parameterType="Long" resultMap="TRoomCleanRecordResult">
        <include refid="selectTRoomCleanRecordVo"/>
        where id = #{id}
    </select>
    <select id="selectTRoomCleanRecordH5List" parameterType="CleanRecordH5Vo" resultType="com.ruoyi.office.domain.vo.CleanRecordH5Vo">
        select c.*,r.name as roomName, s.name as storeName, r.status as roomStatus,r.id as roomId,s.id as storeId
        from t_room_clean_record c
        left join t_room r on c.room_id =r.id
        left join t_store s on r.store_id =s.id
        <where>
            <if test="orderNo != null ">and order_no = #{orderNo}</if>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="sender != null ">and sender = #{sender}</if>
            <if test="wxUserId != null ">and wx_user_id = #{wxUserId}</if>
            <if test="receiveTime != null ">and receive_time = #{receiveTime}</if>
            <if test="startTime != null ">and c.start_time = #{startTime}</if>
            <if test="endTime != null ">and c.end_time = #{endTime}</if>
            <if test="status != null ">and c.status = #{status}</if>
            <if test="storeId != null ">and s.id = #{storeId}</if>
        </where>
    </select>

    <select id="selectRoomAndCleanRecordByStatus" parameterType="CleanRecordH5Vo" resultType="com.ruoyi.office.domain.vo.CleanRecordH5Vo">
        select c.*,r.name as roomName, s.name as storeName, r.status as roomStatus,r.id as roomId,s.id as storeId
        from t_room r
        left join t_room_clean_record c on c.room_id =r.id and c.status in (0,1)
        left join t_store s on r.store_id =s.id
        <where>
            <if test="status != null ">and r.status = #{status}</if>
            <if test="orderNo != null ">and order_no = #{orderNo}</if>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="wxUserId != null ">and wx_user_id = #{wxUserId}</if>
            <if test="receiveTime != null ">and receive_time = #{receiveTime}</if>
            <if test="startTime != null ">and c.start_time = #{startTime}</if>
            <if test="endTime != null ">and c.end_time = #{endTime}</if>
            <if test="storeId != null ">and s.id = #{storeId}</if>
        </where>
    </select>

    <insert id="insertTRoomCleanRecord" parameterType="TRoomCleanRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_room_clean_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="roomId != null">room_id,</if>
            <if test="sender != null">sender,</if>
            <if test="wxUserId != null">wx_user_id,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="sender != null">#{sender},</if>
            <if test="wxUserId != null">#{wxUserId},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTRoomCleanRecord" parameterType="TRoomCleanRecord">
        update t_room_clean_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="sender != null">sender = #{sender},</if>
            <if test="wxUserId != null">wx_user_id = #{wxUserId},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTRoomCleanRecordById" parameterType="Long">
        delete
        from t_room_clean_record
        where id = #{id}
    </delete>

    <delete id="deleteTRoomCleanRecordByIds" parameterType="String">
        delete from t_room_clean_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>