<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.office.mapper.TRoomOrderMapper">

    <resultMap type="TRoomOrder" id="TRoomOrderResult">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="roomId" column="room_id"/>
        <result property="userId" column="user_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="payAmount" column="pay_amount"/>
        <result property="couponAmount" column="coupon_amount"/>
        <result property="couponId" column="coupon_id"/>
        <result property="prepayId" column="prepay_id"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTRoomOrderVo">
        select id,
               order_no,
               room_id,
               user_id,
               start_time,
               end_time,
               total_amount,
               pay_amount,
               coupon_amount,
               coupon_id,
               prepay_id,
               status,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from t_room_order
    </sql>

    <select id="selectTRoomOrderList" parameterType="TRoomOrder" resultMap="TRoomOrderResult">
        <include refid="selectTRoomOrderVo"/>
        <where>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="orderNo != null ">and order_no = #{orderNo}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="startTime != null ">and start_time &gt; #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
            <if test="totalAmount != null ">and total_amount = #{totalAmount}</if>
            <if test="payAmount != null ">and pay_amount = #{payAmount}</if>
            <if test="couponAmount != null ">and coupon_amount = #{couponAmount}</if>
            <if test="couponId != null ">and coupon_id = #{couponId}</if>
            <if test="prepayId != null and prepayId != ''">and prepay_id = #{prepayId}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
        </where>
    </select>

    <select id="selectTRoomOrderById" parameterType="Long" resultMap="TRoomOrderResult">
        <include refid="selectTRoomOrderVo"/>
        where id = #{id}
    </select>
    <select id="selectConflictRoomPeriod" parameterType="PrepayReq" resultType="com.ruoyi.office.domain.TRoomOrder">
        <include refid="selectTRoomOrderVo"/>
        where status =0
        and room_id =#{roomId}
        and ( (start_time &lt;= #{startTime} and end_time &gt;= #{startTime})
        or (start_time &lt; #{endTime} and end_time &gt; #{endTime}) )
    </select>

    <select id="getHourMaxOrder" parameterType="String" resultType="java.lang.Long">
        select max(order_no)
        from t_room_order
        where order_no like concat(#{id}, '%')
    </select>

    <select id="getWxRoomOrder" parameterType="RoomOrderWxReqVo" resultType="com.ruoyi.office.domain.vo.RoomOrderWxVo">
        select o.id,
        order_no orderNo,
        room_id roomId,
        o.user_id userId,
        o.start_time startTime,
        o.end_time endTime,
        total_amount totalAmount,
        pay_amount payAmount,
        coupon_amount couponAmount,
        coupon_id couponId,
        prepay_id prepayId,
        o.pay_type payType,
        s.name ,s.address,s.phone,r.name,
        s.latitude lat, s.longitude lon,
        s.id storeId
        from t_room_order o
        left join t_room r on o.room_id = r.id
        left join t_store s on r.store_id =s.id
        <where>
            <if test="keyword != null ">and (s.name like concat('%',#{keyword},'%') or s.address like
                concat('%',#{keyword},'%') or r.name like concat('%',#{keyword},'%'))
            </if>
            <if test="storeId != null ">and s.id = #{storeId}</if>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="createBy != null  and createBy != ''">and o.create_by = #{createBy}</if>
            <if test="status != null and status != -1">and o.status = #{status}</if>
        </where>
    </select>

    <insert id="insertTRoomOrder" parameterType="TRoomOrder" useGeneratedKeys="true" keyProperty="id">
        insert into t_room_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">room_id,</if>
            <if test="orderNo != null ">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="couponAmount != null">coupon_amount,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="payType != null">pay_type,</if>
            <if test="prepayId != null and prepayId != ''">prepay_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">#{roomId},</if>
            <if test="orderNo != null ">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="couponAmount != null">#{couponAmount},</if>
            <if test="couponId != null">#{couponId},</if>
            <if test="payType != null">#{payType},</if>
            <if test="prepayId != null and prepayId != ''">#{prepayId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTRoomOrder" parameterType="TRoomOrder">
        update t_room_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="orderNo != null ">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="couponAmount != null">coupon_amount = #{couponAmount},</if>
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="prepayId != null and prepayId != ''">prepay_id = #{prepayId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTRoomOrderById" parameterType="Long">
        delete
        from t_room_order
        where id = #{id}
    </delete>

    <delete id="deleteTRoomOrderByIds" parameterType="String">
        delete from t_room_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>