<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.office.mapper.TStoreCouponMapper">
    
    <resultMap type="TStoreCoupon" id="TStoreCouponResult">
        <result property="id"    column="id"    />
        <result property="couponName"    column="coupon_name"    />
        <result property="storeId"    column="store_id"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="price"    column="price"    />
        <result property="cardType"    column="card_type"    />
        <result property="numCanUse"    column="num_can_use"    />
        <result property="oneTimeOneDay"    column="one_time_one_day"    />
        <result property="maxMinuteOnce"    column="max_minute_once"    />
        <result property="payType"    column="pay_type"    />
        <result property="maxHold"    column="max_hold"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="weekDays"    column="week_days"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTStoreCouponVo">
        select id, coupon_name, store_id, original_price, price, card_type, num_can_use, one_time_one_day, max_minute_once, pay_type, max_hold, start_date, end_date, week_days, status, remark, create_by, create_time, update_by, update_time from t_store_coupon
    </sql>

    <select id="selectTStoreCouponList" parameterType="TStoreCoupon" resultMap="TStoreCouponResult">
        <include refid="selectTStoreCouponVo"/>
        <where>  
            <if test="couponName != null  and couponName != ''"> and coupon_name like concat('%', #{couponName}, '%')</if>
            <if test="storeId != null  and storeId != ''"> and store_id = #{storeId}</if>
            <if test="originalPrice != null "> and original_price = #{originalPrice}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="cardType != null  and cardType != ''"> and card_type = #{cardType}</if>
            <if test="numCanUse != null "> and num_can_use = #{numCanUse}</if>
            <if test="oneTimeOneDay != null  and oneTimeOneDay != ''"> and one_time_one_day = #{oneTimeOneDay}</if>
            <if test="maxMinuteOnce != null "> and max_minute_once = #{maxMinuteOnce}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="maxHold != null "> and max_hold = #{maxHold}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="weekDays != null  and weekDays != ''"> and week_days = #{weekDays}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTStoreCouponById" parameterType="Long" resultMap="TStoreCouponResult">
        <include refid="selectTStoreCouponVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTStoreCoupon" parameterType="TStoreCoupon" useGeneratedKeys="true" keyProperty="id">
        insert into t_store_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">coupon_name,</if>
            <if test="storeId != null and storeId != ''">store_id,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="price != null">price,</if>
            <if test="cardType != null and cardType != ''">card_type,</if>
            <if test="numCanUse != null">num_can_use,</if>
            <if test="oneTimeOneDay != null">one_time_one_day,</if>
            <if test="maxMinuteOnce != null">max_minute_once,</if>
            <if test="payType != null">pay_type,</if>
            <if test="maxHold != null">max_hold,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="weekDays != null">week_days,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">#{couponName},</if>
            <if test="storeId != null and storeId != ''">#{storeId},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="price != null">#{price},</if>
            <if test="cardType != null and cardType != ''">#{cardType},</if>
            <if test="numCanUse != null">#{numCanUse},</if>
            <if test="oneTimeOneDay != null">#{oneTimeOneDay},</if>
            <if test="maxMinuteOnce != null">#{maxMinuteOnce},</if>
            <if test="payType != null">#{payType},</if>
            <if test="maxHold != null">#{maxHold},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="weekDays != null">#{weekDays},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTStoreCoupon" parameterType="TStoreCoupon">
        update t_store_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">coupon_name = #{couponName},</if>
            <if test="storeId != null and storeId != ''">store_id = #{storeId},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="price != null">price = #{price},</if>
            <if test="cardType != null and cardType != ''">card_type = #{cardType},</if>
            <if test="numCanUse != null">num_can_use = #{numCanUse},</if>
            <if test="oneTimeOneDay != null">one_time_one_day = #{oneTimeOneDay},</if>
            <if test="maxMinuteOnce != null">max_minute_once = #{maxMinuteOnce},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="maxHold != null">max_hold = #{maxHold},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="weekDays != null">week_days = #{weekDays},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTStoreCouponById" parameterType="Long">
        delete from t_store_coupon where id = #{id}
    </delete>

    <delete id="deleteTStoreCouponByIds" parameterType="String">
        delete from t_store_coupon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>