<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.office.mapper.TWxUserPackageMapper">

    <resultMap type="TWxUserPackage" id="TWxUserPackageResult">
        <result property="id"    column="id"    />
        <result property="packageName"    column="package_name"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="giftAmont"    column="gift_amont"    />
        <result property="packId"    column="pack_id"    />
        <result property="merchant"    column="merchant"    />
        <result property="orderNo"    column="order_no"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTWxUserPackageVo">
        select id, package_name, pay_amount, gift_amont, pack_id, merchant,order_no, status, remark, create_by, create_time, update_by, update_time from t_wx_user_package
    </sql>

    <select id="selectTWxUserPackageList" parameterType="TWxUserPackage" resultMap="TWxUserPackageResult">
        <include refid="selectTWxUserPackageVo"/>
        <where>
            <if test="packageName != null  and packageName != ''"> and package_name like concat('%', #{packageName}, '%')</if>
            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
            <if test="giftAmont != null "> and gift_amont = #{giftAmont}</if>
            <if test="packId != null "> and pack_id = #{packId}</if>
            <if test="merchant != null "> and merchant = #{merchant}</if>
            <if test="orderNo != null "> and order_no = #{orderNo}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectTWxUserPackageById" parameterType="Long" resultMap="TWxUserPackageResult">
        <include refid="selectTWxUserPackageVo"/>
        where id = #{id}
    </select>
    <select id="getMaxOrder"  parameterType="String" resultType="java.lang.Long">
        select max(order_no)  from t_wx_user_package where order_no like concat( #{id},'%')
    </select>

    <insert id="insertTWxUserPackage" parameterType="TWxUserPackage" useGeneratedKeys="true" keyProperty="id">
        insert into t_wx_user_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageName != null">package_name,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="giftAmont != null">gift_amont,</if>
            <if test="packId != null">pack_id,</if>
            <if test="merchant != null">merchant,</if>
            <if test="orderNo != null ">order_no ,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageName != null">#{packageName},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="giftAmont != null">#{giftAmont},</if>
            <if test="packId != null">#{packId},</if>
            <if test="merchant != null">#{merchant},</if>
            <if test="orderNo != null ">  #{orderNo},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTWxUserPackage" parameterType="TWxUserPackage">
        update t_wx_user_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="packageName != null">package_name = #{packageName},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="giftAmont != null">gift_amont = #{giftAmont},</if>
            <if test="packId != null">pack_id = #{packId},</if>
            <if test="merchant != null">merchant = #{merchant},</if>
            <if test="orderNo != null "> order_no = #{orderNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTWxUserPackageById" parameterType="Long">
        delete from t_wx_user_package where id = #{id}
    </delete>

    <delete id="deleteTWxUserPackageByIds" parameterType="String">
        delete from t_wx_user_package where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>