<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.office.mapper.TWxUserPromotionMapper">
    
    <resultMap type="TWxUserPromotion" id="TWxUserPromotionResult">
        <result property="id"    column="id"    />
        <result property="wxId"    column="wx_id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="name"    column="name"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="standardPrice"    column="standard_price"    />
        <result property="discountPrice"    column="discount_price"    />
        <result property="maxMinute"    column="max_minute"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="weekDays"    column="week_days"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTWxUserPromotionVo">
        select id, wx_id, coupon_id, name, coupon_type, merchant_id, store_id, standard_price, discount_price, max_minute, start_date, end_date, week_days, status, remark, create_by, create_time, update_by, update_time from t_wx_user_promotion
    </sql>

    <select id="selectTWxUserPromotionList" parameterType="TWxUserPromotion" resultMap="TWxUserPromotionResult">
        <include refid="selectTWxUserPromotionVo"/>
        <where>  
            <if test="wxId != null "> and wx_id = #{wxId}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="merchantId != null "> and merchant_id = #{merchantId} </if>
            <if test="storeId != null  and storeId != ''"> and store_id = #{storeId}</if>
            <if test="standardPrice != null "> and standard_price = #{standardPrice}</if>
            <if test="discountPrice != null "> and discount_price = #{discountPrice}</if>
            <if test="maxMinute != null "> and max_minute = #{maxMinute}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="weekDays != null  and weekDays != ''"> and week_days = #{weekDays}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTWxUserPromotionById" parameterType="Long" resultMap="TWxUserPromotionResult">
        <include refid="selectTWxUserPromotionVo"/>
        where id = #{id}
    </select>
    <select id="selectPayAvailableList" parameterType="TWxUserPromotion" resultType="com.ruoyi.office.domain.TWxUserPromotion">
        <include refid="selectTWxUserPromotionVo"/>
        <where>
            <if test="wxId != null "> and wx_id = #{wxId}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="merchantId != null "> and ( merchant_id = #{merchantId} or merchant_id = 0 )</if>
            <if test="storeId != null  and storeId != ''"> and ( store_id = #{storeId} or store_id = 0 )</if>
            <if test="standardPrice != null "> and standard_price = #{standardPrice}</if>
            <if test="discountPrice != null "> and discount_price = #{discountPrice}</if>
            <if test="maxMinute != null "> and max_minute = #{maxMinute}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="weekDays != null  and weekDays != ''"> and week_days = #{weekDays}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <insert id="insertTWxUserPromotion" parameterType="TWxUserPromotion" useGeneratedKeys="true" keyProperty="id">
        insert into t_wx_user_promotion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxId != null">wx_id,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="couponType != null and couponType != ''">coupon_type,</if>
            <if test="merchantId != null">merchant_id,</if>
            <if test="storeId != null and storeId != ''">store_id,</if>
            <if test="standardPrice != null">standard_price,</if>
            <if test="discountPrice != null">discount_price,</if>
            <if test="maxMinute != null">max_minute,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="weekDays != null">week_days,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxId != null">#{wxId},</if>
            <if test="couponId != null">#{couponId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="couponType != null and couponType != ''">#{couponType},</if>
            <if test="merchantId != null">#{merchantId},</if>
            <if test="storeId != null and storeId != ''">#{storeId},</if>
            <if test="standardPrice != null">#{standardPrice},</if>
            <if test="discountPrice != null">#{discountPrice},</if>
            <if test="maxMinute != null">#{maxMinute},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="weekDays != null">#{weekDays},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTWxUserPromotion" parameterType="TWxUserPromotion">
        update t_wx_user_promotion
        <trim prefix="SET" suffixOverrides=",">
            <if test="wxId != null">wx_id = #{wxId},</if>
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="couponType != null and couponType != ''">coupon_type = #{couponType},</if>
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="storeId != null and storeId != ''">store_id = #{storeId},</if>
            <if test="standardPrice != null">standard_price = #{standardPrice},</if>
            <if test="discountPrice != null">discount_price = #{discountPrice},</if>
            <if test="maxMinute != null">max_minute = #{maxMinute},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="weekDays != null">week_days = #{weekDays},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTWxUserPromotionById" parameterType="Long">
        delete from t_wx_user_promotion where id = #{id}
    </delete>

    <delete id="deleteTWxUserPromotionByIds" parameterType="String">
        delete from t_wx_user_promotion where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>