<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onethinker.onethinker.mapper.RedEnvelopeDtlMapper">

    <resultMap type="RedEnvelopeDtl" id="RedEnvelopeDtlResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="enabled" column="enabled"/>
        <result property="weight" column="weight"/>
        <result property="batchNo" column="batch_no"/>
        <result property="money" column="money"/>
        <result property="luckyAwardType" column="lucky_award_type"/>
        <result property="remark" column="remark"/>
        <result property="batch" column="batch"/>
        <result property="qrCodeUrl" column="qr_code_url"/>
        <result property="qrCodeStatus" column="qr_code_status"/>
    </resultMap>

    <sql id="selectRedEnvelopeDtlVo">
        select id,
               create_time,
               update_time,
               enabled,
               weight,
               batch_no,
               money,
               lucky_award_type,
               remark,
               batch,
               qr_code_url,
               qr_code_status
        from t_red_envelope_dtl
    </sql>

    <select id="selectRedEnvelopeDtlList" parameterType="RedEnvelopeDtl" resultMap="RedEnvelopeDtlResult">
        <include refid="selectRedEnvelopeDtlVo"/>
        <where>
            <if test="enabled != null ">
                and enabled = #{enabled}
            </if>
            <if test="weight != null ">
                and weight = #{weight}
            </if>
            <if test="batchNo != null  and batchNo != ''">
                and batch_no = #{batchNo}
            </if>
            <if test="money != null ">
                and money = #{money}
            </if>
            <if test="luckyAwardType != null ">
                and lucky_award_type = #{luckyAwardType}
            </if>
            <if test="batch != null ">
                and batch = #{batch}
            </if>
            <if test="qrCodeUrl != null  and qrCodeUrl != ''">
                and qr_code_url = #{qrCodeUrl}
            </if>
            <if test="qrCodeStatus != null ">
                and qr_code_status = #{qrCodeStatus}
            </if>
        </where>
        order by batch desc
    </select>

    <select id="selectRedEnvelopeDtlById" parameterType="Long"
            resultMap="RedEnvelopeDtlResult">
        <include refid="selectRedEnvelopeDtlVo"/>
        where id = #{id}
    </select>

    <insert id="insertRedEnvelopeDtl" parameterType="RedEnvelopeDtl" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_red_envelope_dtl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,
            </if>
            <if test="updateTime != null">update_time,
            </if>
            <if test="enabled != null">enabled,
            </if>
            <if test="weight != null">weight,
            </if>
            <if test="batchNo != null and batchNo != ''">batch_no,
            </if>
            <if test="money != null">money,
            </if>
            <if test="luckyAwardType != null">lucky_award_type,
            </if>
            <if test="remark != null">remark,
            </if>
            <if test="batch != null">batch,
            </if>
            <if test="qrCodeUrl != null">qr_code_url,
            </if>
            <if test="qrCodeStatus != null">qr_code_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="enabled != null">#{enabled},
            </if>
            <if test="weight != null">#{weight},
            </if>
            <if test="batchNo != null and batchNo != ''">#{batchNo},
            </if>
            <if test="money != null">#{money},
            </if>
            <if test="luckyAwardType != null">#{luckyAwardType},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="batch != null">#{batch},
            </if>
            <if test="qrCodeUrl != null">#{qrCodeUrl},
            </if>
            <if test="qrCodeStatus != null">#{qrCodeStatus},
            </if>
        </trim>
    </insert>
    <insert id="insertRedEnvelopeDtls" parameterType="java.util.List">
        insert into
        t_red_envelope_dtl(create_time,update_time,enabled,weight,batch_no,money,lucky_award_type,remark,batch,qr_code_url,qr_code_status)
        values
        <foreach collection="saveEntitys" item="item" separator=",">
            (#{item.createTime},#{item.updateTime},#{item.enabled},#{item.weight},#{item.batchNo},#{item.money},#{item.luckyAwardType},#{item.remark},#{item.batch},#{item.qrCodeUrl},#{item.qrCodeStatus})
        </foreach>

    </insert>

    <update id="updateRedEnvelopeDtl" parameterType="RedEnvelopeDtl">
        update t_red_envelope_dtl
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
            <if test="enabled != null">enabled =
                #{enabled},
            </if>
            <if test="weight != null">weight =
                #{weight},
            </if>
            <if test="batchNo != null and batchNo != ''">batch_no =
                #{batchNo},
            </if>
            <if test="money != null">money =
                #{money},
            </if>
            <if test="luckyAwardType != null">lucky_award_type =
                #{luckyAwardType},
            </if>
            <if test="remark != null">remark =
                #{remark},
            </if>
            <if test="batch != null">batch =
                #{batch},
            </if>
            <if test="qrCodeUrl != null">qr_code_url =
                #{qrCodeUrl},
            </if>
            <if test="qrCodeStatus != null">qr_code_status =
                #{qrCodeStatus},
            </if>
        </trim>
        <where>
            id = #{id}
            <if test="orgQrCodeStatus != null">and qr_code_status=#{orgQrCodeStatus}</if>
        </where>
    </update>

    <delete id="deleteRedEnvelopeDtlById" parameterType="Long">
        delete
        from t_red_envelope_dtl
        where id = #{id}
    </delete>

    <delete id="deleteRedEnvelopeDtlByIds" parameterType="String">
        delete from t_red_envelope_dtl where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
