<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mr.base.mapper.BaseCalendarItemMapper">

    <resultMap type="BaseCalendarItem" id="BaseCalendarItemResult">
        <result property="id"    column="ID"    />
        <result property="parentId"    column="parent_id"    />
        <result property="work"    column="work"    />
        <result property="workDay"    column="work_day"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseCalendarItemVo">
        select ID, parent_id, work, work_day, create_by, create_time, update_by, update_time from base_calendar_item
    </sql>

    <select id="selectBaseCalendarItemList" parameterType="BaseCalendarItem" resultMap="BaseCalendarItemResult">
        <include refid="selectBaseCalendarItemVo"/>
        <where>
        </where>
    </select>

    <select id="selectBaseCalendarItemById" parameterType="String" resultMap="BaseCalendarItemResult">
        <include refid="selectBaseCalendarItemVo"/>
        where ID = #{id}
    </select>

    <insert id="insertBaseCalendarItem" parameterType="BaseCalendarItem">
        insert into base_calendar_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">ID,</if>
            <if test="parentId != null  and parentId != ''">parent_id,</if>
            <if test="work != null  and work != ''">work,</if>
            <if test="workDay != null ">work_day,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="parentId != null  and parentId != ''">#{parentId},</if>
            <if test="work != null  and work != ''">#{work},</if>
            <if test="workDay != null ">#{workDay},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseCalendarItem" parameterType="BaseCalendarItem">
        update base_calendar_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null  and parentId != ''">parent_id = #{parentId},</if>
            <if test="work != null  and work != ''">work = #{work},</if>
            <if test="workDay != null ">work_day = #{workDay},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteBaseCalendarItemById" parameterType="String">
        delete from base_calendar_item where ID = #{id}
    </delete>

    <delete id="deleteBaseCalendarItemByIds" parameterType="String">
        delete from base_calendar_item where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
