<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.staff.mapper.StaffTrendsMapper">
    
    <resultMap type="StaffTrends" id="StaffTrendsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="imgList"    column="img_list"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="voiceUrl"    column="voice_url"    />
        <result property="voiceTime"    column="voice_time"    />
        <result property="likeNum"    column="like_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStaffTrendsVo">
        select id, user_id, content, img_list, video_url, voice_url, voice_time, like_num, create_time, update_time from bus_staff_trends
    </sql>

    <select id="selectStaffTrendsList" parameterType="StaffTrends" resultMap="StaffTrendsResult">
        <include refid="selectStaffTrendsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
        </where>
    </select>
    
    <select id="selectStaffTrendsById" parameterType="Long" resultMap="StaffTrendsResult">
        <include refid="selectStaffTrendsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStaffTrends" parameterType="StaffTrends" useGeneratedKeys="true" keyProperty="id">
        insert into bus_staff_trends
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="imgList != null">img_list,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="voiceUrl != null">voice_url,</if>
            <if test="voiceTime != null">voice_time,</if>
            <if test="likeNum != null">like_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="imgList != null">#{imgList},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="voiceUrl != null">#{voiceUrl},</if>
            <if test="voiceTime != null">#{voiceTime},</if>
            <if test="likeNum != null">#{likeNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStaffTrends" parameterType="StaffTrends">
        update bus_staff_trends
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="imgList != null">img_list = #{imgList},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="voiceUrl != null">voice_url = #{voiceUrl},</if>
            <if test="voiceTime != null">voice_time = #{voiceTime},</if>
            <if test="likeNum != null">like_num = #{likeNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStaffTrendsById" parameterType="Long">
        delete from bus_staff_trends where id = #{id}
    </delete>

    <delete id="deleteStaffTrendsByIds" parameterType="String">
        delete from bus_staff_trends where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>