/* pc width > 1920>>>xl */
@media screen and (max-width: 1920px) {
    .sousouleft-switch{
      display: none;
    }
  .dropdownList{
    font-size: 22px!important;
  }

}


/* ipad pro  >>lg*/
@media screen and (max-width: 1200px) {
  /*.header-listtxet{*/
  /*  display: none;*/
  /*}*/
  .main-right{
    width: 250px;
  }
  .tabBar{
    width: 250px!important;
  }
  .sousouright-icon{
    margin-right: 18px;
  }
  .logoname span{
    font-size: 18px;
  }


}

/* >>> md*/
@media screen and (max-width: 992px) {

  .dropdownList span{
    display: none;
  }



}

/* >>> md*/
@media screen and (max-width: 850px) {



}

/* ipad >>> xs*/
@media screen and (max-width: 768px) {
  .sousou-leftico{
    display: none;
  }
    .transition-box{
      display: none;
    }
    .isresize{
      display: none;
    }
  .sousouleft-switch{
    display: block;
  }

  .sousouright-icon{
    margin-right: 13px;
  }
.addbookmarkurl .el-dialog{
  width: 380px!important;
}

  .addbookmarkurl-input {
    width: 73%!important;
  }
  .classification {
    margin-left: 0px!important;
  }


}
/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {

}
/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {

}
/* iphone6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {

}
/* iphone5 */
@media screen and (max-width: 320px) {

}










































