/* pc width > 1920>>>xl */
@media screen and (max-width: 1920px) {
    .sousouleft-switch{
      display: none;
    }
}


/* ipad pro  >>lg*/
@media screen and (max-width: 1200px) {
  .header-listtxet{
    display: none;
  }
  .transition-box{
    width: 250px!important;
  }
  .sousouright-icon{
    margin-right: 18px;
  }


}

/* >>> md*/
@media screen and (max-width: 992px) {


}
/* ipad >>> xs*/
@media screen and (max-width: 768px) {
  .sousou-leftico{
    display: none;
  }
    .transition-box{
      display: none;
    }
  .sousouleft-switch{
    display: block;
  }
}
/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {

}
/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {

}
/* iphone6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {

}
/* iphone5 */
@media screen and (max-width: 320px) {

}










































