<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjpt.business.mapper.ElQuMapper">
    
    <resultMap type="ElQu" id="ElQuResult">
        <result property="id"    column="id"    />
        <result property="quType"    column="qu_type"    />
        <result property="level"    column="level"    />
        <result property="image"    column="image"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="analysis"    column="analysis"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectElQuVo">
        select id, qu_type, level, image, content, create_time, update_time, remark, analysis, user_id, dept_id from el_qu
    </sql>

    <select id="selectElQuList" parameterType="ElQu" resultMap="ElQuResult">
        <include refid="selectElQuVo"/>
        <where>  
            <if test="quType != null "> and qu_type = #{quType}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="analysis != null  and analysis != ''"> and analysis = #{analysis}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectElQuById" parameterType="String" resultMap="ElQuResult">
        <include refid="selectElQuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertElQu" parameterType="ElQu">
        insert into el_qu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="quType != null">qu_type,</if>
            <if test="level != null">level,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="analysis != null and analysis != ''">analysis,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="quType != null">#{quType},</if>
            <if test="level != null">#{level},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="analysis != null and analysis != ''">#{analysis},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateElQu" parameterType="ElQu">
        update el_qu
        <trim prefix="SET" suffixOverrides=",">
            <if test="quType != null">qu_type = #{quType},</if>
            <if test="level != null">level = #{level},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="analysis != null and analysis != ''">analysis = #{analysis},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElQuById" parameterType="String">
        delete from el_qu where id = #{id}
    </delete>

    <delete id="deleteElQuByIds" parameterType="String">
        delete from el_qu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>