<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.benyi.mapper.ByDayflowTaskMapper">
    
    <resultMap type="ByDayflowTask" id="ByDayflowTaskResult">
        <result property="id"    column="id"    />
        <result property="lcId"    column="lc_id"    />
        <result property="rwmc"    column="rwmc"    />
        <result property="lcmc"    column="lcmc"    />
        <result property="rwmd"    column="rwmd"    />
        <result property="rwjd"    column="rwjd"    />
        <result property="createuser"    column="createuser"    />
        <result property="createtime"    column="createtime"    />
        <result property="standardCount"    column="standard_count"    />
        <result property="updateuser"    column="updateuser"    />
        <result property="updatetime"    column="updatetime"    />
        <result property="beiyong"    column="beiyong"    />
    </resultMap>

    <sql id="selectByDayflowTaskVo">
        select id, lc_id, rwmc, lcmc, rwmd, rwjd, createuser, createtime, standard_count, updateuser, updatetime, beiyong from by_dayflow_task
    </sql>

    <select id="selectByDayflowTaskList" parameterType="ByDayflowTask" resultMap="ByDayflowTaskResult">
        <include refid="selectByDayflowTaskVo"/>
        <where>  
            <if test="lcId != null "> and lc_id = #{lcId}</if>
            <if test="rwmc != null  and rwmc != ''"> and rwmc = #{rwmc}</if>
            <if test="lcmc != null  and lcmc != ''"> and lcmc = #{lcmc}</if>
            <if test="rwmd != null  and rwmd != ''"> and rwmd = #{rwmd}</if>
            <if test="rwjd != null  and rwjd != ''"> and rwjd = #{rwjd}</if>
            <if test="createuser != null "> and createuser = #{createuser}</if>
            <if test="createtime != null "> and createtime = #{createtime}</if>
            <if test="standardCount != null "> and standard_count = #{standardCount}</if>
            <if test="updateuser != null "> and updateuser = #{updateuser}</if>
            <if test="updatetime != null "> and updatetime = #{updatetime}</if>
            <if test="beiyong != null  and beiyong != ''"> and beiyong = #{beiyong}</if>
        </where>
    </select>
    
    <select id="selectByDayflowTaskById" parameterType="Long" resultMap="ByDayflowTaskResult">
        <include refid="selectByDayflowTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertByDayflowTask" parameterType="ByDayflowTask" useGeneratedKeys="true" keyProperty="id">
        insert into by_dayflow_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lcId != null ">lc_id,</if>
            <if test="rwmc != null  and rwmc != ''">rwmc,</if>
            <if test="lcmc != null  and lcmc != ''">lcmc,</if>
            <if test="rwmd != null  and rwmd != ''">rwmd,</if>
            <if test="rwjd != null  and rwjd != ''">rwjd,</if>
            <if test="createuser != null ">createuser,</if>
            <if test="createtime != null ">createtime,</if>
            <if test="standardCount != null ">standard_count,</if>
            <if test="updateuser != null ">updateuser,</if>
            <if test="updatetime != null ">updatetime,</if>
            <if test="beiyong != null  and beiyong != ''">beiyong,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lcId != null ">#{lcId},</if>
            <if test="rwmc != null  and rwmc != ''">#{rwmc},</if>
            <if test="lcmc != null  and lcmc != ''">#{lcmc},</if>
            <if test="rwmd != null  and rwmd != ''">#{rwmd},</if>
            <if test="rwjd != null  and rwjd != ''">#{rwjd},</if>
            <if test="createuser != null ">#{createuser},</if>
            <if test="createtime != null ">#{createtime},</if>
            <if test="standardCount != null ">#{standardCount},</if>
            <if test="updateuser != null ">#{updateuser},</if>
            <if test="updatetime != null ">#{updatetime},</if>
            <if test="beiyong != null  and beiyong != ''">#{beiyong},</if>
         </trim>
    </insert>

    <update id="updateByDayflowTask" parameterType="ByDayflowTask">
        update by_dayflow_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="lcId != null ">lc_id = #{lcId},</if>
            <if test="rwmc != null  and rwmc != ''">rwmc = #{rwmc},</if>
            <if test="lcmc != null  and lcmc != ''">lcmc = #{lcmc},</if>
            <if test="rwmd != null  and rwmd != ''">rwmd = #{rwmd},</if>
            <if test="rwjd != null  and rwjd != ''">rwjd = #{rwjd},</if>
            <if test="createuser != null ">createuser = #{createuser},</if>
            <if test="createtime != null ">createtime = #{createtime},</if>
            <if test="standardCount != null ">standard_count = #{standardCount},</if>
            <if test="updateuser != null ">updateuser = #{updateuser},</if>
            <if test="updatetime != null ">updatetime = #{updatetime},</if>
            <if test="beiyong != null  and beiyong != ''">beiyong = #{beiyong},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteByDayflowTaskById" parameterType="Long">
        delete from by_dayflow_task where id = #{id}
    </delete>

    <delete id="deleteByDayflowTaskByIds" parameterType="String">
        delete from by_dayflow_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>