<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.benyi.mapper.BySchoolcalendarClassMapper">
    
    <resultMap type="BySchoolcalendarClass" id="BySchoolcalendarClassResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="classid"    column="classid"    />
        <result property="xnxq"    column="xnxq"    />
        <result property="deptid"    column="deptId"    />
        <result property="activitytime"    column="activitytime"    />
        <result property="createuserid"    column="createuserid"    />
        <result property="createtime"    column="createtime"    />
        <association property="byClass"    column="bjbh" javaType="ByClass" resultMap="ByClassResult" />
    </resultMap>

    <resultMap type="ByClass" id="ByClassResult">
        <result property="bjbh" column="bjbh"/>
        <result property="deptId" column="dept_id"/>
        <result property="bjtype" column="bjtype"/>
        <result property="bhxh" column="bhxh"/>
        <result property="xn" column="xn"/>
        <result property="bjmc" column="bjmc"/>
        <result property="bjrych" column="bjrych"/>
        <result property="jbny" column="jbny"/>
        <result property="zbjs" column="zbjs"/>
        <result property="zbjsxm" column="zbjsxm"/>
        <result property="pbjs" column="pbjs"/>
        <result property="pbjsxm" column="pbjsxm"/>
        <result property="zljs" column="zljs"/>
        <result property="zljsxm" column="zljsxm"/>
        <result property="isdel" column="isdel"/>
        <result property="createtime" column="createtime"/>
    </resultMap>

    <sql id="selectBySchoolcalendarClassVo">
        select id, name, type, classid, xnxq, deptId, activitytime, createuserid, createtime
        from by_schoolcalendar_class
    </sql>

    <select id="selectBySchoolcalendarClassList" parameterType="BySchoolcalendarClass" resultMap="BySchoolcalendarClassResult">
        select sc.id, sc.name, sc.type, sc.classid, sc.xnxq, sc.deptId, sc.activitytime, sc.createuserid, sc.createtime,
        c.bjbh, c.bjmc
        from by_schoolcalendar_class sc, by_class c
        <where>
            <if test="name != null  and name != ''"> and sc.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and sc.type = #{type}</if>
            <if test="classid != null  and classid != ''"> and sc.classid = #{classid}</if>
            <if test="xnxq != null  and xnxq != ''"> and sc.xnxq = #{xnxq}</if>
            <if test="deptid != null "> and sc.deptId = #{deptid}</if>
            <if test="activitytime != null "> and sc.activitytime = #{activitytime}</if>
            <if test="createuserid != null "> and sc.createuserid = #{createuserid}</if>
            <if test="createtime != null "> and sc.createtime = #{createtime}</if>
        </where>
    </select>
    
    <select id="selectBySchoolcalendarClassById" parameterType="Long" resultMap="BySchoolcalendarClassResult">
        <include refid="selectBySchoolcalendarClassVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBySchoolcalendarClass" parameterType="BySchoolcalendarClass">
        insert into by_schoolcalendar_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="classid != null  and classid != ''">classid,</if>
            <if test="xnxq != null  and xnxq != ''">xnxq,</if>
            <if test="deptid != null ">deptId,</if>
            <if test="activitytime != null ">activitytime,</if>
            <if test="createuserid != null ">createuserid,</if>
            <if test="createtime != null ">createtime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="classid != null  and classid != ''">#{classid},</if>
            <if test="xnxq != null  and xnxq != ''">#{xnxq},</if>
            <if test="deptid != null ">#{deptid},</if>
            <if test="activitytime != null ">#{activitytime},</if>
            <if test="createuserid != null ">#{createuserid},</if>
            <if test="createtime != null ">#{createtime},</if>
         </trim>
    </insert>

    <update id="updateBySchoolcalendarClass" parameterType="BySchoolcalendarClass">
        update by_schoolcalendar_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="classid != null  and classid != ''">classid = #{classid},</if>
            <if test="xnxq != null  and xnxq != ''">xnxq = #{xnxq},</if>
            <if test="deptid != null ">deptId = #{deptid},</if>
            <if test="activitytime != null ">activitytime = #{activitytime},</if>
            <if test="createuserid != null ">createuserid = #{createuserid},</if>
            <if test="createtime != null ">createtime = #{createtime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBySchoolcalendarClassById" parameterType="Long">
        delete from by_schoolcalendar_class where id = #{id}
    </delete>

    <delete id="deleteBySchoolcalendarClassByIds" parameterType="String">
        delete from by_schoolcalendar_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>