<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.extra.BusPostOrderExtraMapper">

    <resultMap type="BusPostOrder" id="BusPostOrderResult">
        <result property="orderId" column="order_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="title" column="title"/>
        <result property="amount" column="amount"/>
        <result property="validityPeriod" column="validity_period"/>
        <result property="productType" column="product_type"/>
        <result property="quantity" column="quantity"/>
        <result property="sampleTime" column="sample_time"/>
        <result property="securityDeposit" column="security_deposit"/>
        <result property="shippingParty" column="shipping_party"/>
        <result property="remarks" column="remarks"/>
        <result property="tutorialUrl" column="tutorial_url"/>
        <result property="partialShipment" column="partial_shipment"/>
        <result property="status" column="status"/>
        <result property="address" column="address"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="orderValidityStatus" column="order_validity_status"/>
        <result property="payType" column="pay_type"/>
        <result property="sample" column="samply"/>
    </resultMap>

    <sql id="selectBusPostOrderVo">
        select order_id,
               merchant_id,
               title,
               amount,
               validity_period,
               product_type,
               quantity,
               sample_time,
               security_deposit,
               shipping_party,
               remarks,
               tutorial_url,
               partial_shipment,
               status,
               address,
               created_at,
               updated_at,
               order_validity_status,
               pay_type
        from bus_post_order
    </sql>

    <select id="findSampleOrder" parameterType="BusPostOrder" resultMap="BusPostOrderResult">
        <include refid="selectBusPostOrderVo"/>
        <where>
            <if test="sample != null ">and sample = #{sample}</if>
            <if test="orderValidityStatus != null ">and order_validity_status = #{orderValidityStatus}</if>
            <if test="sample_time != null ">and sample_time >=#{date}</if>
            <if test="statusList != null ">and `status` in(#{status})</if>
        </where>
        order by created_at desc
    </select>


    <select id="findOrderListByUserId" parameterType="BusPostOrder" resultMap="BusPostOrderResult">
        <include refid="selectBusPostOrderVo"/>
        <where>
            <if test="merchantId != null ">and merchant_id = #{merchantId}</if>
            <if test="startStatus != null ">and `status` &gt;=(#{startStatus})</if>
            <if test="endStatus != null ">and `status` &lt;= (#{endStatus})</if>
        </where>
        order by created_at desc
    </select>

</mapper>