<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.extra.PostOrderImagesExtraMapper">

    <resultMap type="PostOrderImages" id="PostOrderImagesResult">
        <result property="imageId"    column="image_id"    />
        <result property="postOrderId"    column="post_order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="uploadedAt"    column="uploaded_at"    />
    </resultMap>

    <sql id="selectPostOrderImagesVo">
        select image_id, post_order_id, user_id, order_id, image_url, uploaded_at from post_order_images
    </sql>

<!--
INSERT INTO `order_take`.`post_order_images`(`image_id`, `post_order_id`, `user_id`, `order_id`, `image_url`, `uploaded_at`) VALUES (1, 3, 3, NULL, '2', '2024-06-21 14:09:08');
-->

    <insert id="insertBatch">
        INSERT INTO `order_take`.`post_order_images`
            (`image_id`, `post_order_id`, `user_id`,  `image_url`, `uploaded_at`)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.imageId},#{item.postOrderId}，#{item.userId}，#{item.postOrderId}，#{item.imageUrl})
        </foreach>
    </insert>

</mapper>