<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.course.mapper.CourCourseTypeMapper">
    
    <resultMap type="CourCourseType" id="CourCourseTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectCourCourseTypeVo">
        select type_id, name from cour_course_type
    </sql>

    <select id="selectCourCourseTypeList" parameterType="CourCourseType" resultMap="CourCourseTypeResult">
        <include refid="selectCourCourseTypeVo"/>
        <where>  
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCourCourseTypeByTypeId" parameterType="Integer" resultMap="CourCourseTypeResult">
        <include refid="selectCourCourseTypeVo"/>
        where type_id = #{typeId}
    </select>
        
    <insert id="insertCourCourseType" parameterType="CourCourseType">
        insert into cour_course_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">type_id,</if>
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">#{typeId},</if>
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateCourCourseType" parameterType="CourCourseType">
        update cour_course_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteCourCourseTypeByTypeId" parameterType="Integer">
        delete from cour_course_type where type_id = #{typeId}
    </delete>

    <delete id="deleteCourCourseTypeByTypeIds" parameterType="String">
        delete from cour_course_type where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
</mapper>