<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoli.blacklist.mapper.BaoliBizEnterpriseBlacklistMapper">
    
    <resultMap type="BaoliBizEnterpriseBlacklist" id="BaoliBizEnterpriseBlacklistResult">
        <result property="id"    column="id"    />
        <result property="enterpriseName"    column="enterprise_name"    />
        <result property="provinceId"    column="province_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="provinceName"    column="province_name"    />
        <result property="cityName"    column="city_name"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="enterpriseAddress"    column="enterprise_address"    />
        <result property="phone"    column="phone"    />
        <result property="reasons"    column="reasons"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaoliBizEnterpriseBlacklistVo">
        select id, enterprise_name,province_id, (select b.province from bl_sys_provinces b where b.provinceid = a.province_id) province_name,(select b.city from bl_sys_cities b where b.cityid = a.city_id) city_name,city_id, legal_person, enterprise_address, phone, reasons, remark, create_by, create_time, update_by, update_time from baoli_biz_enterprise_blacklist a
    </sql>

    <select id="selectBaoliBizEnterpriseBlacklistList" parameterType="BaoliBizEnterpriseBlacklist" resultMap="BaoliBizEnterpriseBlacklistResult">
        <include refid="selectBaoliBizEnterpriseBlacklistVo"/>
        <where>  
            <if test="enterpriseName != null  and enterpriseName != ''"> and enterprise_name like concat('%', #{enterpriseName}, '%')</if>
            <if test="provinceId != null  and provinceId != ''"> and province_id = #{provinceId}</if>
            <if test="cityId != null  and cityId != ''"> and city_id = #{cityId}</if>
            <if test="legalPerson != null  and legalPerson != ''"> and legal_person = #{legalPerson}</if>
            <if test="enterpriseAddress != null  and enterpriseAddress != ''"> and enterprise_address = #{enterpriseAddress}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="reasons != null  and reasons != ''"> and reasons = #{reasons}</if>
        </where>
    </select>
    
    <select id="selectBaoliBizEnterpriseBlacklistById" parameterType="Long" resultMap="BaoliBizEnterpriseBlacklistResult">
        <include refid="selectBaoliBizEnterpriseBlacklistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaoliBizEnterpriseBlacklist" parameterType="BaoliBizEnterpriseBlacklist" useGeneratedKeys="true" keyProperty="id">
        insert into baoli_biz_enterprise_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">enterprise_name,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="legalPerson != null">legal_person,</if>
            <if test="enterpriseAddress != null">enterprise_address,</if>
            <if test="phone != null">phone,</if>
            <if test="reasons != null">reasons,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">#{enterpriseName},</if>
            <if test="provinceId != null">#{provinceId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="legalPerson != null">#{legalPerson},</if>
            <if test="enterpriseAddress != null">#{enterpriseAddress},</if>
            <if test="phone != null">#{phone},</if>
            <if test="reasons != null">#{reasons},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaoliBizEnterpriseBlacklist" parameterType="BaoliBizEnterpriseBlacklist">
        update baoli_biz_enterprise_blacklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterpriseName != null">enterprise_name = #{enterpriseName},</if>
            <if test="provinceId != null">province_id = #{provinceId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="legalPerson != null">legal_person = #{legalPerson},</if>
            <if test="enterpriseAddress != null">enterprise_address = #{enterpriseAddress},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="reasons != null">reasons = #{reasons},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaoliBizEnterpriseBlacklistById" parameterType="Long">
        delete from baoli_biz_enterprise_blacklist where id = #{id}
    </delete>

    <delete id="deleteBaoliBizEnterpriseBlacklistByIds" parameterType="String">
        delete from baoli_biz_enterprise_blacklist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>