<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onethinker.bk.mapper.ImChatUserGroupMessageMapper">

    <resultMap type="ImChatUserGroupMessage" id="ImChatUserGroupMessageResult">
        <result property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="fromId" column="from_id"/>
        <result property="toId" column="to_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectImChatUserGroupMessageVo">
        select id, group_id, from_id, to_id, content, create_time
        from bk_im_chat_user_group_message
    </sql>

    <select id="selectImChatUserGroupMessageList" parameterType="ImChatUserGroupMessage"
            resultMap="ImChatUserGroupMessageResult">
        <include refid="selectImChatUserGroupMessageVo"/>
        <where>
            <if test="groupId != null ">
                and group_id = #{groupId}
            </if>
            <if test="fromId != null ">
                and from_id = #{fromId}
            </if>
            <if test="toId != null ">
                and to_id = #{toId}
            </if>
            <if test="content != null  and content != ''">
                and content = #{content}
            </if>
        </where>
    </select>

    <select id="selectImChatUserGroupMessageById" parameterType="Long"
            resultMap="ImChatUserGroupMessageResult">
        <include refid="selectImChatUserGroupMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertImChatUserGroupMessage" parameterType="ImChatUserGroupMessage" useGeneratedKeys="true"
            keyProperty="id">
        insert into bk_im_chat_user_group_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,
            </if>
            <if test="fromId != null">from_id,
            </if>
            <if test="toId != null">to_id,
            </if>
            <if test="content != null and content != ''">content,
            </if>
            <if test="createTime != null">create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},
            </if>
            <if test="fromId != null">#{fromId},
            </if>
            <if test="toId != null">#{toId},
            </if>
            <if test="content != null and content != ''">#{content},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateImChatUserGroupMessage" parameterType="ImChatUserGroupMessage">
        update bk_im_chat_user_group_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id =
                #{groupId},
            </if>
            <if test="fromId != null">from_id =
                #{fromId},
            </if>
            <if test="toId != null">to_id =
                #{toId},
            </if>
            <if test="content != null and content != ''">content =
                #{content},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImChatUserGroupMessageById" parameterType="Long">
        delete
        from bk_im_chat_user_group_message
        where id = #{id}
    </delete>

    <delete id="deleteImChatUserGroupMessageByIds" parameterType="String">
        delete from bk_im_chat_user_group_message where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
