<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DynamicMapper">
    
    <resultMap type="Dynamic" id="DynamicResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="intro"    column="intro"    />
        <result property="content"    column="content"    />
        <result property="picture"    column="picture"    />
        <result property="sourceAddr"    column="source_addr"    />
        <result property="wxNum"    column="wx_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDynamicVo">
        select id, title, intro, content, picture, source_addr, wx_num, create_time, update_time from dynamic
    </sql>

    <select id="selectDynamicList" parameterType="Dynamic" resultMap="DynamicResult">
        <include refid="selectDynamicVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="intro != null  and intro != ''"> and intro = #{intro}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="sourceAddr != null  and sourceAddr != ''"> and source_addr = #{sourceAddr}</if>
            <if test="wxNum != null  and wxNum != ''"> and wx_num = #{wxNum}</if>
        </where>
    </select>
    
    <select id="selectDynamicById" parameterType="Long" resultMap="DynamicResult">
        <include refid="selectDynamicVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDynamic" parameterType="Dynamic" useGeneratedKeys="true" keyProperty="id">
        insert into dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="intro != null">intro,</if>
            <if test="content != null">content,</if>
            <if test="picture != null and picture != ''">picture,</if>
            <if test="sourceAddr != null">source_addr,</if>
            <if test="wxNum != null">wx_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="intro != null">#{intro},</if>
            <if test="content != null">#{content},</if>
            <if test="picture != null and picture != ''">#{picture},</if>
            <if test="sourceAddr != null">#{sourceAddr},</if>
            <if test="wxNum != null">#{wxNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDynamic" parameterType="Dynamic">
        update dynamic
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="content != null">content = #{content},</if>
            <if test="picture != null and picture != ''">picture = #{picture},</if>
            <if test="sourceAddr != null">source_addr = #{sourceAddr},</if>
            <if test="wxNum != null">wx_num = #{wxNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDynamicById" parameterType="Long">
        delete from dynamic where id = #{id}
    </delete>

    <delete id="deleteDynamicByIds" parameterType="String">
        delete from dynamic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>