<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SourceDynamicRelativeMapper">
    
    <resultMap type="SourceDynamicRelative" id="SourceDynamicRelativeResult">
        <result property="id"    column="id"    />
        <result property="dynamicId"    column="dynamic_id"    />
        <result property="sourceId"    column="source_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSourceDynamicRelativeVo">
        select id, dynamic_id, source_id, create_time, update_time from source_dynamic_relative
    </sql>

    <select id="selectSourceDynamicRelativeList" parameterType="SourceDynamicRelative" resultMap="SourceDynamicRelativeResult">
        <include refid="selectSourceDynamicRelativeVo"/>
        <where>  
            <if test="dynamicId != null "> and dynamic_id = #{dynamicId}</if>
            <if test="sourceId != null "> and source_id = #{sourceId}</if>
        </where>
    </select>
    
    <select id="selectSourceDynamicRelativeById" parameterType="Long" resultMap="SourceDynamicRelativeResult">
        <include refid="selectSourceDynamicRelativeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSourceDynamicRelative" parameterType="SourceDynamicRelative" useGeneratedKeys="true" keyProperty="id">
        insert into source_dynamic_relative
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dynamicId != null">dynamic_id,</if>
            <if test="sourceId != null">source_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dynamicId != null">#{dynamicId},</if>
            <if test="sourceId != null">#{sourceId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSourceDynamicRelative" parameterType="SourceDynamicRelative">
        update source_dynamic_relative
        <trim prefix="SET" suffixOverrides=",">
            <if test="dynamicId != null">dynamic_id = #{dynamicId},</if>
            <if test="sourceId != null">source_id = #{sourceId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSourceDynamicRelativeById" parameterType="Long">
        delete from source_dynamic_relative where id = #{id}
    </delete>

    <delete id="deleteSourceDynamicRelativeByIds" parameterType="String">
        delete from source_dynamic_relative where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>