<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.custom.mapper.CusUserPostMapper">

    <resultMap type="CusUserPost" id="CusUserPostResult">
        <result property="userId" column="user_id"/>
        <result property="userName" column="nick_name"/>
        <result property="postId" column="post_id"/>
        <result property="postCode" column="post_code"/>
        <result property="postName" column="post_name"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCusUserPostVo">
        SELECT u.user_id, u.nick_name, p.post_id, p.post_code, p.post_name, u.remark
        FROM sys_user u, sys_post p, sys_user_post up
        WHERE up.user_id = u.user_id AND p.post_id = up.post_id AND p.remark = 'sale_post' AND u.status = 0
    </sql>

    <select id="selectAllCusUserPost" parameterType="CusUserPost" resultMap="CusUserPostResult">
        <include refid="selectCusUserPostVo"/>
    </select>


</mapper>